<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @row-update="handleUpdate"
                 @row-save="handleSave"
                 @search-change="searchChange"
                 @row-del="rowDel">
        <template slot="menuLeft">
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_syscashorder_view"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="showDialog(scope.row,scope.index)">查看
          </el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 查看订单信息 -->
    <el-dialog title="提现申请信息" @close="closeHandle" :visible.sync="showOrderDialog">
      <!--显示申请信息-->
      <div>
        <basic-container>
          <avue-form-detail :option="option" v-model="form">
          </avue-form-detail>
        </basic-container>
      </div>
      <!--显示审批信息-->
      <div v-if="form.status === 0">
        <basic-container>
        <el-form :model="form" ref="form" label-width="80px">
          <el-form-item label="审批状态" prop="status">
            <el-select v-model="approval_status" placeholder="请选择">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="审批备注" prop="note">
            <el-input  v-model="note"   type="textarea" :rows="2" placeholder="请输入内容" auto-complete="off"></el-input>
          </el-form-item>
        </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button  v-if="form.status === 0" type="primary" size="small" @click="approval()">提交</el-button>
         <el-button type="primary" size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import {fetchList, getObj, addObj, putObj, delObj, doApproval} from '@/api/pay/syscashorder'
  import {tableOption} from '@/const/crud/pay/syscashorder'
  import detailoption from '@/const/crud/pay/cashorderdetailoption'
  import {mapGetters} from 'vuex'

  export default {
    name: 'syscashorder',
    data() {
      return {
        tableData: [],
        option: detailoption,
        showOrderDialog: false,
        approval_status: 1,
        approval_note:'',
        options: [{
          value: 1,
          label: '审批通过'
        }, {
          value: 2,
          label: '审批失败'
        }],
        form: {
          id: 0,
          cashNo: 0,
          userId: 0,

          cashFee: 0,
          channelId: 0,
          status: 10,

          cashType: 0,
          account: '',
          depositor: '',

          createTime: '',
          createBy: '',
          approveTime: '',
          accountname:'',

          bank: '',
          subBank: '',
          bankAddress: '',

          approveBy: '',
          note: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {

    },
    mounted: function () {

    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      approval() {
        //判断不能为空
        const object = {
          id:  this.form.id,
          status : this.approval_status,
          note : this.approval_note
        };
        doApproval(object).then(response => {
          this.$message({
            showClose: true,
            message: '审批成功',
            type: 'success'
          })
          this.showOrderDialog = false;
          this.getList(this.page)
        })
      },
      clearForm() {
        this.form.id = 0,
        this.form.cashNo = 0,
        this.form.userId = 0,

        this.form.cashFee = 0,
        this.form.channelId = 0,
        this.form.status = 10,

        this.form.cashType = 0,
        this.form.account = '',
        this.form.depositor = '',

        this.form.createTime = '',
        this.form.createBy = '',
        this.form.modifyTime = '',

        this.form.modifyBy = '',
        this.form.note = ''
      },
      //弹出dialog
      showDialog(row, index) {
        this.clearForm();
        this.form.id = row.id;
        this.form.cashNo =  row.cashNo;
        this.form.userId =  row.userId;

        this.form.cashFee = row.cashFee;
        this.form.channelId = row.channelId;
        this.form.status = row.status;

        this.form.cashType = row.cashType;
        this.form.account = row.account;
        this.form.depositor = row.depositor;

        this.form.depositor = row.depositor;
        this.form.account = row.account;
        this.form.handlerType = row.handlerType;

        this.form.createTime = row.createTime;
        this.form.createBy =  row.createBy;
        this.form.approveTime = row.approveTime;

        this.form.bank = row.bank;
        this.form.subBank =  row.subBank;
        this.form.bankAddress = row.bankAddress;

        this.form.approveBy = row.approveBy;
        this.form.accountname = row.accountName;
        this.form.note = row.note;

        //this.approval_status = row.status;
        this.approval_note = row.note;
        this.showOrderDialog = true;
      },

      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * @title 打开新增窗口
       * @detail 调用crud的handleadd方法即可
       *
       **/
      handleAdd: function () {
        this.$refs.crud.rowAdd()
      },
      handleEdit(row, index) {
        this.$refs.crud.rowEdit(row, index)
      },
      handleDel(row, index) {
        this.$refs.crud.rowDel(row, index)
      },
      rowDel: function (row, index) {
        var _this = this
        this.$confirm('是否确认删除ID为' + row.id, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function () {
          return delObj(row.id)
        }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '删除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function (err) {
        })
      },
      /**
       * @title 数据更新
       * @param row 为当前的数据
       * @param index 为当前更新数据的行数
       * @param done 为表单关闭函数
       *
       **/
      handleUpdate: function (row, index, done) {
        putObj(row).then(data => {
          this.tableData.splice(index, 1, Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '修改成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * @title 数据添加
       * @param row 为当前的数据
       * @param done 为表单关闭函数
       *
       **/
      handleSave: function (row, done) {
        addObj(row).then(data => {
          this.tableData.push(Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '添加成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      //关闭dialog
      closeDialog() {
        this.showOrderDialog = false;
      },
      closeHandle () {
        this.$emit('refreshChange')
      },
      /**
       * 搜索回调
       */
      searchChange(form) {
        this.getList(this.page, form)
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
