<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @search-change="searchChange">
        <template slot="menuLeft">
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.maint_game_handle"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="showMaintDialog(scope.row,scope.index)">处理
          </el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 查看信息 -->
    <el-dialog title="游戏房间维护" @close="closeHandle" :visible.sync="showDialog">
      <!--显示申请信息-->
      <div>
        <basic-container>
          <avue-form-detail :option="option" v-model="form">
          </avue-form-detail>
        </basic-container>
      </div>
      <!--显示信息-->
      <basic-container>
        <el-form :model="dataForm" ref="form" label-width="80px">
          <el-form-item label="操作" prop="toStatus">
            <el-radio-group v-model="dataForm.toStatus">
              <el-radio :label="1"  v-if="dataForm.status === 2">游戏维护</el-radio>
              <el-radio :label="2"  v-if="dataForm.status === 1">取消维护</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="维护时间" prop="maintTime" v-if="dataForm.status === 2">
            <el-date-picker size="small" v-model="maintTime"  start-placeholder="开始日期" end-placeholder="结束日期" value-format="timestamp" format="yyyy-MM-dd HH:mm:ss" type="datetimerange"></el-date-picker>
          </el-form-item>
        </el-form>
      </basic-container>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary" size="small" @click="doMaint()">提交</el-button>
         <el-button type="primary" size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import {fetchList, doMaint} from '@/api/maint/gamemaint'
  import {tableOption} from '@/const/crud/maint/gamemaint'
  import  detailoption  from '@/const/crud/maint/gameoption'
  import {mapGetters} from 'vuex'

  export default {
    name: 'gamemaint',
    data() {
      return {
        tableData: [],
        showDialog: false,
        option: detailoption,
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        searchForm: {
          status: 0
        },
        form: {
          gamekindname: '',
          start: '',
          finish: '',
          num: 0,
          roomId: 0,
          phonegamename: '',
          status: 0
        },
        dataForm: {
          status: 0,
          toStatus: 0,
          roomId: 0,
          startMaintTime: '',
          endMaintTime: '',
        },
        maintTime: [],
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {

    },
    mounted: function () {

    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      doMaint() {
        if (this.form.status == 2) {
          if (this.maintTime != null && this.maintTime.length == 2) {
            this.dataForm.startMaintTime = this.maintTime[0];
            this.dataForm.endMaintTime = this.maintTime[1];
            //判断后面的时间大于当前时间
          } else {
            this.message.error("维护起止时间不能为空!")
            return;
          }
        }
        this.dataForm.startMaintTime = this.maintTime[0];
        this.dataForm.endMaintTime = this.maintTime[1];
        doMaint(this.dataForm).then(response => {
          this.$message({
            showClose: true,
            message: '操作成功!',
            type: 'success'
          })
          this.showDialog = false
          this.getList()
        })
      },
      showMaintDialog(row, index) {
        this.dataForm.roomId = row.roomId
        this.dataForm.status = row.status
        if (row.status == 1) {
          this.dataForm.toStatus = 2;
        } else {
          this.dataForm.toStatus = 1;
        }

        this.form.gamekindname = row.gamekindname
        this.form.start = row.start

        this.form.finish = row.finish
        this.form.num = row.num
        this.form.roomId = row.roomId

        this.form.phonegamename = row.phonegamename
        this.form.status = row.status

        this.showDialog = true
      },
      clearForm() {
        this.form.gamekindname = ''
        this.form.start =  ''

        this.form.finish =  ''
        this.form.num = 0
        this.form.roomId = 0

        this.form.phonegamename = ''
        this.form.status = 0

        this.dataForm.status =  0
        this.dataForm.toStatus =  0
        this.dataForm.roomId =  0

        this.dataForm.startMaintTime =  ''
        this.dataForm.endMaintTime =  ''
        this.maintTime = []
      },
      getList(params) {
        this.tableLoading = true
        fetchList(params).then(response => {
          this.tableData = response.data.data
          this.tableLoading = false
        })
      },
      //关闭dialog
      closeDialog() {
        this.showDialog = false;
      },
      closeHandle () {
        this.$emit('refreshChange')
      },
      /**
       * 搜索回调
       */
      searchChange(form) {
        this.tableLoading = true
        this.searchForm.status = form['status']
        fetchList(this.searchForm).then(response => {
          this.tableData = response.data.data
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList()
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
