<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @row-update="handleUpdate"
                 @row-save="handleSave"
                 @row-del="rowDel">
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_soundtoken_view"
                     icon="el-icon-view"
                     size="small"
                     plain
                     @click="tokenInfoShow(scope.row,scope.index)">查看
          </el-button>
        </template>
      </avue-crud>
    </basic-container>


    <!-- 弹窗, 查看设备信息 -->
    <el-dialog title="toKen信息"
               @close="closeHandle"
               :visible.sync="showToKenDialog">
      <div>
        <basic-container>
          <avue-form-detail :option="option" v-model="form">
          </avue-form-detail>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, getObj, addObj, putObj, delObj } from '@/api/cac/soundtoken'
  import { tableOption } from '@/const/crud/cac/soundtoken'
  import  detailoption  from '@/const/crud/cac/soundtokenoption'
  import { mapGetters } from 'vuex'
  export default {
    name: 'soundtoken',
    data() {
      return {
        tableData: [],
        option: detailoption,
        showToKenDialog: false,
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        form: {
          channelId: '',
          accessToken: '',
          sessionKey: '',
          scope: '',
          refreshToken: '',
          sessionSecret: '',
          expiresTime: '',
          createTime: ''
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      cleanForm() {
          this.form.channelId = '',
          this.form.accessToken = '',
          this.form.sessionKey = '',
          this.form.scope = '',
          this.form.refreshToken = '',
          this.form.sessionSecret = '',
          this.form.expiresTime = '',
          this.form.createTime = ''
      },
      closeDialog() {
        this.showToKenDialog = false;
      },
      tokenInfoShow(row, index) {
        this.cleanForm();

        getObj(row.id).then(response => {
          this.showToKenDialog = true
          this.form.channelId = response.data.data.channelId
          this.form.accessToken = response.data.data.accessToken
          this.form.sessionKey = response.data.data.sessionKey
          this.form.scope = response.data.data.scope
          this.form.refreshToken = response.data.data.refreshToken
          this.form.sessionSecret = response.data.data.sessionSecret
          this.form.expiresTime = response.data.data.expiresTime
          this.form.createTime = response.data.data.createTime
        })
      },
      searchChange(form) {
        this.getList(this.page, form)
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
