<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @search-change="searchChange"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="config"
                     size="small"
                     v-if="permissions.cac_channeltask_config">配置</el-button>
          <br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_channeltask_config"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="config(scope.row)">编辑</el-button>
        </template>
      </avue-crud>
    </basic-container>
    <!-- 弹窗配置-->
    <Config  ref="config" @refreshDataList="refreshChange"></Config>
  </div>
</template>

<script>

  import Config from './config'

  import { fetchList,delObj} from '@/api/act/channeltask'
  import { tableOption } from '@/const/crud/act/channeltask'
  import { mapGetters } from 'vuex'
  export default {
    name: 'channeltask',
    data() {
      return {
        tableData: [],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        showConfigDialog: false,
        showViewDialog: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    components: {
      Config
    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      searchChange(form) {
        this.getList(this.page, form)
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeDialog () {
        this.showConfigDialog = false
        this.showViewDialog = false
      },
      config (row) {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.config.init(row.channelId)
        })
      },
      view (row) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.view.init(row.channelId)
        })
      },
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
