<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @search-change="searchChange"
                 @row-update="handleUpdate"
                 @row-save="handleSave"
                 @row-del="rowDel">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="handleAdd"
                     size="small"
                     v-if="permissions.cac_channel_add">新 增
          </el-button>
          <br/><br/>
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_channel_edit"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="handleEdit(scope.row,scope.index)">编辑
          </el-button>
          <!--
          <el-button type="text"
                     v-if="permissions.cac_channel_del"
                     icon="el-icon-delete"
                     size="small"
                     plain
                     @click="handleDel(scope.row,scope.index)">删除
          </el-button>
          <el-button type="text"
                     v-if="permissions.cac_channel_del"
                     icon="el-icon-delete"
                     size="small"
                     plain
                     @click="configDialogShow(scope.row,scope.index)">设置
          </el-button>-->
          <el-button type="text"
                     v-if="permissions.cac_channel_config"
                     icon="el-icon-share"
                     size="small"
                     plain
                     @click="gameConfigDialogShow(scope.row,scope.index)">游戏
          </el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!--弹窗处理游戏配置信息-->
    <el-dialog title="游戏配置信息" @close="closeDialog"  width="80%" :visible.sync="showGameConfigDialog">
      <div class="execution">
        <basic-container>
          <el-table
            :data="gameConfigData"
            border
            v-loading="daialogTableLoading"
            style="width: 100%">
            <el-table-column
              prop="gameKindType"
              header-align="center"
              align="center"
              label="游戏编码">
            </el-table-column>
            <el-table-column
              prop="gameAtomTypeId"
              header-align="center"
              align="center"
              label="房间编码">
            </el-table-column>
            <el-table-column
              prop="gameKindName"
              header-align="center"
              align="center"
              label="游戏名称">
            </el-table-column>
            <el-table-column
              prop="phoneGameName"
              header-align="center"
              align="center"
              label="房间名称">
            </el-table-column>
            <el-table-column
              prop="channelName"
              header-align="center"
              align="center"
              label="渠道名称">
            </el-table-column>
            <el-table-column
              prop="status"
              header-align="center"
              align="center"
              label="状态">
              <template slot-scope="scope">
                <el-switch
                  style="display: block"
                  v-model="scope.row.status"
                  active-color="#13ce66"
                  inactive-color="#ff4949"
                  active-text="开"
                  inactive-text="关">
                </el-switch>
              </template>
            </el-table-column>
          </el-table>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small"  @click="saveGameConfig()">确认</el-button>
         <el-button type="primary"  size="small"  @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

    <!-- 弹窗, 编辑配置信息 -->
    <el-dialog title="渠道配置信息"
               @close="closeDialog"
               :visible.sync="showConfigDialog">
      <div>
        <basic-container>
          <el-form :model="from" :rules="dataRule" ref="dataForm" label-width="100px">
            <el-form-item label="正式配置" prop="remark">
              <el-input v-model="from.tNormalsetting"   type="textarea"
                        :autosize="{ minRows: 4, maxRows: 8}" placeholder="正式配置"></el-input>
            </el-form-item>
            <el-form-item label="提审配置" prop="remark">
              <el-input v-model="from.tAuditsetting" type="textarea"
                        :autosize="{ minRows: 4, maxRows: 8}" placeholder="提审配置"></el-input>
            </el-form-item>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small"  @click="saveConfig()">确认</el-button>
         <el-button type="text"  size="small"  @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import {
    fetchList,
    getObj,
    addObj,
    putObj,
    delObj,
    getConfigObj,
    addConfigObj,
    getGameConfigObj,
    doGameConfig
  } from '@/api/cac/tchannel'
  import {tableOption} from '@/const/crud/cac/tchannel'
  import {configTableOption} from '@/const/crud/cac/channelconfig'
  import {mapGetters} from 'vuex'

  export default {
    name: 'tchannel',
    data() {
      return {
        channelId: 0,
        tableData: [],
        gameConfigData: [],
        showConfigDialog: false,
        showGameConfigDialog: false,
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        dataRule: {
          tNormalsetting: [
            { required: true, message: '正式配置不能为空', trigger: 'blur' }
          ],
          tAuditsetting: [
            { required: true, message: '提审配置不能为空', trigger: 'blur' }
          ]
        },
        from: {
          tChannelkey: '',
          tNormalsetting: '',
          tAuditsetting: ''
        },
        tableLoading: false,
        tableOption: tableOption,
        daialogTableLoading: false,
        daialogTableOption: configTableOption
      }
    },
    created() {
    },
    mounted: function () {
    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      saveGameConfig() {
        var sb = "";
        for (var i = 0; i < this.gameConfigData.length; i++) {
          if (this.gameConfigData[i]["status"] == true || this.gameConfigData[i]["status"] == "true") {
              sb += this.gameConfigData[i]["gameAtomTypeId"] +","
          }
        }
        doGameConfig(Object.assign({
          channelId: this.channelId,
          noteId: sb
        })).then(response => {
          //没有数据
          if (response.data.data == null) {
            this.$message({
              showClose: true,
              message: '游戏配置成功',
              type: 'success'
            })
            this.showGameConfigDialog = false;
          } else {
            //基础信息
            this.message.error("游戏配置失败!")
          }
        })
      },
      gameConfigDialogShow(row, index) {
          this.channelId = row.channelId
          //弹出信息
          this.showGameConfigDialog = true;
          this.getConfigList(row.channelId);
      },
      configDialogShow(row, index) {
        getConfigObj(row.channelId).then(response => {
          if (response.data.data == null) {
            //没有数据
            this.from.tChannelkey = row.channelId;
            this.from.tNormalsetting = '';
            this.from.tAuditsetting = '';
          } else {
            //基础信息
            this.from.tChannelkey = response.data.data.tchannelkey;
            this.from.tNormalsetting = response.data.data.tnormalsetting;
            this.from.tAuditsetting = response.data.data.tauditsetting;
          }
          //弹出信息
          this.showConfigDialog = true;
        })
      },
      saveConfig() {
        if ( this.from.tNormalsetting == null ||  this.from.tNormalsetting == '') {
          this.message.error("正式配置信息不能为空!")
          return;
        }
        if ( this.from.tAuditsetting == null ||  this.from.tAuditsetting == '') {
          this.message.error("提审配置信息不能为空!")
          return;
        }
        const object = {
          'tChannelkey': this.from.tChannelkey,
          'tNormalsetting': this.from.tNormalsetting,
          'tAuditsetting': this.from.tAuditsetting
        };
        addConfigObj(object).then(response => {
          this.$message({
            showClose: true,
            message: '配置变更成功',
            type: 'success'
          })
          this.showConfigDialog = false
          this.getList(this.page)
        })
      },
      closeDialog() {
        this.showConfigDialog = false
        this.showGameConfigDialog = false
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      getConfigList(channelId) {
        this.daialogTableLoading = true
        getGameConfigObj(channelId).then(response => {
          this.gameConfigData = response.data.data
          this.daialogTableLoading = false
        })
      },
      /**
       * @title 打开新增窗口
       * @detail 调用crud的handleadd方法即可
       *
       **/
      handleAdd: function () {
        this.$refs.crud.rowAdd()
      },
      handleEdit(row, index) {
        this.$refs.crud.rowEdit(row, index)
      },
      handleDel(row, index) {
        this.$refs.crud.rowDel(row, index)
      },
      rowDel: function (row, index) {
        var _this = this
        this.$confirm('是否确认删除ID为' + row.id, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function () {
          return delObj(row.id)
        }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '删除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function (err) {
        })
      },
      /**
       * @title 数据更新
       * @param row 为当前的数据
       * @param index 为当前更新数据的行数
       * @param done 为表单关闭函数
       *
       **/
      handleUpdate: function (row, index, done) {
        putObj(row).then(data => {
          this.tableData.splice(index, 1, Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '修改成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * @title 数据添加
       * @param row 为当前的数据
       * @param done 为表单关闭函数
       *
       **/
      handleSave: function (row, done) {
        addObj(row).then(data => {
          this.tableData.push(Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '添加成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * 搜索回调
       */
      searchChange(form) {
        this.getList(this.page, form)
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
