<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelNo"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="开始时间:">
            <el-date-picker size="small" v-model="dataForm.startTime" placeholder="开始时间"   value-format="yyyy-MM-dd" format="yyyy-MM-dd"  type="date"></el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间:">
            <el-date-picker size="small" v-model="dataForm.endTime"  placeholder="结束时间"    value-format="yyyy-MM-dd" format="yyyy-MM-dd"  type="date" ></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="searchChange()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="signConfig"
                     size="small"
                     v-if="permissions.cac_signin_add">配置签到</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <!--
          <el-button type="text"
                     v-if="permissions.cac_signin_edit"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="handleEdit(scope.row,scope.index)">编辑
          </el-button>-->
          <el-button type="text"
                     v-if="permissions.cac_signin_view"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="signView(scope.row.channelId,scope.row.channelName)">查看
          </el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗配置-->
    <SignConfig ref="signConfig" @refreshDataList="searchChange"></SignConfig>
    <!-- 弹窗查看-->
    <SignView ref="signView" @refreshDataList="searchChange"></SignView>
    <!-- 修改配置-->
    <SignUpdate ref="signUpdate" @refreshDataList="searchChange"></SignUpdate>
  </div>
</template>

<script>
  import SignConfig from './sign-config'
  import SignView from './sign-view'
  import SignUpdate from './sign-update'
  import { fetchList, getObj, addObj, putObj, delObj } from '@/api/act/signin'
  import { tableOption } from '@/const/crud/act/signin'
  import { mapGetters } from 'vuex'
  export default {
    name: 'signinchannel',
    data() {
      return {
        showConfigDialog: false,
        showViewDialog: false,
        showUpdateDialog: false,
        dataForm: {
          startTime: '',
          channelNo: '',
          endTime: '',
        },
        tableData: [],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
      this.searchChange()
    },
    components: {
      SignConfig,
      SignView,
      SignUpdate
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      closeDialog () {
        this.showConfigDialog = false
        this.showViewDialog = false
        this.showUpdateDialog = false
      },
      // 配置信息
      signConfig () {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.signConfig.init()
        })
      },
      signView (channelId, channelName) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.signView.init(channelId, channelName)
        })
      },
      signUpdate (id) {
        this.showUpdateDialog = true
        this.$nextTick(() => {
          this.$refs.signUpdate.init(id)
        })
      },
      searchChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm);
      },
      getList(page, queryDto) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, queryDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
