<template>
  <el-dialog
    title="查看签到配置"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" ref="dataForm" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置活动时间</span>
          </div>
          <el-col :span="6">
            <el-form-item label="渠道信息:" prop="channelName">
              <el-tag type="warning"> {{ channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="是否循环:" prop="isCirculate">
              <el-tag type="warning" v-if="dataForm.isCirculate  === 1"> 是</el-tag>
              <el-tag v-else type="warning">否</el-tag>&nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="开始时间:" prop="beginTime">
              <el-tag type="warning"> {{ dataForm.startTime}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="结束时间:" prop="endTime">
              <el-tag type="warning"> {{ dataForm.endTime}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>已配置奖励列表</span>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              v-loading="dataListLoading"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="beginDay"
                header-align="center"
                align="center"
                label="开始天数">
              </el-table-column>
              <el-table-column
                prop="endDay"
                header-align="center"
                align="center"
                label="结束天数">
              </el-table-column>
              <el-table-column
                prop="award"
                header-align="center"
                align="center"
                label="奖励(分)">
              </el-table-column>
              <el-table-column
                prop="additional"
                header-align="center"
                align="center"
                label="额外奖励(分)">
              </el-table-column>
              <el-table-column
                prop="betLimit"
                header-align="center"
                align="center"
                label="打码量(分)">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {getObj} from '@/api/act/signin'
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        beginTime: '',
        endTime: '',
        dataList: [],
        btnLoading: false,
        dataListLoading: false,
        dataListSelections: [],
        day_num: 0,
        tempArr: [],
        channelName: '',
        dataForm: {
          isCirculate: 0,
          channelId: '',
          betLimit: 0,
          num: 0,
          startTime: '',
          endTime: '',
          beginDay: 1,
          endDay: 1,
          award: 1,
          additional: 0
        }
      }
    },
    methods: {
      crearFrom () {
        this.dataList = []
        this.dataForm.betLimit = 0
        this.dataForm.num = 0
        this.dataForm.maintTime = []
        this.dataForm.beginDay = 1
        this.dataForm.endDay = 1
        this.dataForm.award = 1
        this.dataForm.additional = 0
      },
      init (channelId, channelName) {
        this.channelName = channelName
        this.dataForm.channelId = channelId
        this.$nextTick(() => {
          this.crearFrom()
          this.visible = true
          if (this.dataForm.channelId) {
            getObj(this.dataForm.channelId).then(response => {
              if (response && response.data.code === 0) {
                this.dataList = response.data.data.cfg
                this.dataForm.isCirculate = response.data.data.signinchannel.tisCirculate
                this.dataForm.startTime = response.data.data.startTime
                this.dataForm.endTime = response.data.data.endTime
              }
            })
          }
        })
      }
    }
  }
</script>
