<template>
  <el-dialog
    title="配置签到"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-alert
      title="先设置起止日期，打码量限制，获得活动总天数，根据天数分段添加奖励信息！"
      type="warning"
      :closable="false"
      style="margin-top: -20px; margin-bottom: 10px">
    </el-alert>

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
             label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置活动时间</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总天数:
            <el-tag type="warning"> {{ dataForm.num}}</el-tag> &nbsp;&nbsp;&nbsp;
          </div>
          <el-col :span="6">
            <el-form-item label="渠道编码:" prop="channelId">
              <el-input size="small" v-model="dataForm.channelId"  placeholder="渠道编码"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="是否循环:" prop="isCirculate">
              <el-select v-model="dataForm.isCirculate" size="mini" style="width: 70px">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="起止时间:" prop="maintTime">
              <el-date-picker size="small" v-model="dataForm.maintTime" start-placeholder="开始日期" end-placeholder="结束日期"
                              @change="doChange" value-format="timestamp" format="yyyy-MM-dd" type="datetimerange"
                              :picker-options="pickerOptions" auto-complete="off"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>设置奖励</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加
            </el-button>
          </div>
          <el-col :span="4.8">
            <el-form-item label="开始天数:" prop="beginDay">
              <el-input-number v-model="dataForm.beginDay" size="small" :min="0" :disabled="true" :max="9999999999"
                               label="开始天数"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="结束天数:" prop="endDay">
              <el-input-number v-model="dataForm.endDay" size="small" :min="0" :max="9999999999"
                               label="结束天数"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="奖励(分):" prop="award">
              <el-input-number v-model="dataForm.award" size="small" :min="0" :max="9999999999"
                               label="奖励"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="额外奖励(分):" prop="additional">
              <el-input-number v-model="dataForm.additional" size="small" :min="0" :max="9999999999"
                               label="额外奖励"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="打码量:" prop="betLimit">
              <el-input-number v-model="dataForm.betLimit" size="small" :min="0" :max="9999999999"
                               label="打码量"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>已配置奖励列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              v-loading="dataListLoading"
              @selection-change="selectionChangeHandle"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="beginDay"
                header-align="center"
                align="center"
                label="开始天数">
              </el-table-column>
              <el-table-column
                prop="endDay"
                header-align="center"
                align="center"
                label="结束天数">
              </el-table-column>
              <el-table-column
                prop="award"
                header-align="center"
                align="center"
                label="奖励(分)">
              </el-table-column>
              <el-table-column
                prop="additional"
                header-align="center"
                align="center"
                label="额外奖励(分)">
              </el-table-column>
              <el-table-column
                prop="betLimit"
                header-align="center"
                align="center"
                label="打码量(分)">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {addObj} from '@/api/act/signin'
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        options: [
          {
            value: 0,
            label: '否'
          }, {
            value: 1,
            label: '是'
          }
        ],
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        beginTime: '',
        endTime: '',
        dataList: [],
        btnLoading: false,
        dataListLoading: false,
        dataListSelections: [],
        day_num: 0,
        tempArr: [],
        channelName: '',
        dataForm: {
          betLimit: 0,
          channelId: '',
          num: 0,
          maintTime: [],
          beginDay: 1,
          endDay: 1,
          award: 1,
          isCirculate: 0,
          additional: 0
        },
        subData: {
          channelId: '',
          startTime: 0,
          endTime: 0,
          isCirculate: 0,
          signCfg: []
        },
        dataRule: {
          isCirculate: [
            {required: true, message: '是否循环不能为空', trigger: 'blur'}
          ],
          maintTime: [
            {required: true, message: '活动起止时间不能为空!', trigger: 'blur'}
          ],
          channelId:  [
            {required: true, message: '渠道编码不能为空!', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      doChange () {
        if (this.dataForm.maintTime != null && this.dataForm.maintTime.length === 2) {
          this.day_num = this.dataForm.maintTime[1] - this.dataForm.maintTime[0]
          this.dataForm.num = Math.floor(this.day_num / (24 * 3600 * 1000))
          this.dataList = []
        }
      },
      addConfig () {
        if (this.dataForm.maintTime != null && this.dataForm.maintTime.length === 2) {
          if (this.dataForm.beginDay <= this.dataForm.endDay) {
            if (this.dataForm.endDay <= this.dataForm.num) {
              let obj = {beginDay: this.dataForm.beginDay, endDay: this.dataForm.endDay, award: this.dataForm.award, additional: this.dataForm.additional, betLimit: this.dataForm.betLimit}
              this.dataList.push(obj)
              this.dataForm.beginDay = this.dataForm.endDay + 1
            } else {
              this.$message.error('结束天数必须小于总天数!')
            }
          } else {
            this.$message.error('开始天数必须小于等于结束天数!')
          }
        } else {
          this.$message.error('活动起止时间不能为空!')
        }
      },
      clearConfig () {
        this.$confirm(`确定对进行清空操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dataList = []
          this.dataForm.beginDay = 1
          this.dataForm.endDay = 1
          this.dataForm.award = 1
          this.dataForm.additional = 0
          this.dataForm.betLimit = 0
        }).catch(() => {
        })
      },
      crearFrom () {
        this.dataList = []
        this.dataForm.betLimit = 0
        this.dataForm.isCirculate = 0
        this.dataForm.num = 0
        this.dataForm.maintTime = []
        this.dataForm.beginDay = 1
        this.dataForm.endDay = 1
        this.dataForm.award = 1
        this.dataForm.additional = 0
      },
      delConfig () {
        if (this.dataListSelections != null && this.dataListSelections.length > 0) {
          for (var i = 0; i < this.dataListSelections.length; i++) {
            for (var j = 0; j < this.dataList.length; j++) {
              console.log(this.dataListSelections[i]['beginDay'])
              console.log(this.dataListSelections[i]['endDay'])
              console.log(this.dataListSelections[i]['award'])
              console.log(this.dataListSelections[i]['additional'])
              if (this.dataListSelections[i]['beginDay'] === this.dataList[j]['beginDay'] && this.dataListSelections[i]['endDay'] === this.dataList[j]['endDay'] && this.dataListSelections[i]['award'] === this.dataList[j]['award'] && this.dataListSelections[i]['additional'] === this.dataList[j]['additional']) {
                delete this.dataList[i]
                console.log(this.this.dataList.length)
              }
            }
          }
        } else {
          this.$message.error('请选择需要删除的配置！')
        }
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      isConfigFinish () {
        var result = false
        if (this.dataList != null && this.dataList.length > 0) {
          // for (var i = 0; i < this.dataList.length > 0; i++) {
          //   if (this.dataList[i]['endDay'] === this.dataForm.num) {
          //     result = true
          //   }
          // }
          result = true
        }
        return result
      },
      init () {
        this.visible = true
        this.btnLoading = false
        this.crearFrom()
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
        })
      },
      // 表单提交
      dataFormSubmit () {
        if (this.isConfigFinish()) {
          this.$refs['dataForm'].validate((valid) => {
            if (valid) {
              this.subData.startTime = this.dataForm.maintTime[0] instanceof Date ? this.dataForm.maintTime[0].getTime() : this.dataForm.maintTime[0]
              this.subData.endTime = this.dataForm.maintTime[1] instanceof Date ? this.dataForm.maintTime[1].getTime() : this.dataForm.maintTime[1]
              this.subData.isCirculate = this.dataForm.isCirculate

              this.subData.signCfg = this.dataList
              this.subData.channelId = this.dataForm.channelId
              this.btnLoading = true

              addObj(this.subData).then(data => {
                this.btnLoading = false
                if (data && data.data.code === 0) {
                  this.$message({
                    message: '设置签到配置成功',
                    type: 'success',
                    duration: 1500,
                    onClose: () => {
                      this.visible = false
                      this.btnLoading = false
                      this.$emit('refreshDataList')
                    }
                  })
                } else {
                  this.$message.error(data.data.msg)
                  this.btnLoading = false
                }
              })
            }
          })
        } else {
          this.$message.error('配置信息填写不完整！')
        }
      }
    }
  }
</script>
