<template>
  <div class="execution">
    <basic-container>
      <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
        <el-tab-pane label="BG管理" name="bg"></el-tab-pane>
      </el-tabs>
      <div>
        <card>
        </card>
      </div>
      <div>
        <el-table
          :data="tableData"
          border
          v-loading="tableLoading"
          style="width: 100%">
          <el-table-column
            prop="channelId"
            header-align="center"
            align="center"
            label="渠道编码">
          </el-table-column>
          <el-table-column
            prop="channelName"
            header-align="center"
            align="center"
            label="渠道名称">
          </el-table-column>
          <el-table-column
            prop="status"
            header-align="center"
            align="center"
            label="状态">
            <template slot-scope="scope">
              <el-switch
                style="display: block"
                v-model="scope.row.openTypeBoolean"
                @change="modifyStatus(scope.row.channelId, scope.row.openTypeBoolean)"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-text="开"
                inactive-text="关">
              </el-switch>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </basic-container>
  </div>
</template>

<script>
    import {fetchList, updateCfg} from '@/api/maint/xinboswitch'
    import {mapGetters} from 'vuex'

    export default {
        name: 'xinboswitch',
        data() {
            return {
                tableData: [],
                tableLoading: false,
                activeName: '',
                type: 1,
                bgSwitch: '',
                queryForm: {
                    type: 1
                },
                dataForm: {
                    channelId: "",
                    cfgList: []
                }
            }
        },
        created() {
            this.getList();
        },
        mounted: function () {
        },
        computed: {
            ...mapGetters(['permissions'])
        },
        methods: {
            getList() {
                this.tableLoading = true
                fetchList(this.queryForm).then(response => {
                    this.tableData = response.data.data
                    this.tableLoading = false
                })
            },
            modifyStatus(channelId, isOpen) {
                this.dataForm.channelId = channelId
                let obj = {
                    functionType: this.type,
                    openType: isOpen ? 1 : 0
                }
                this.dataForm.cfgList = []
                this.dataForm.cfgList.push(obj)
                updateCfg(this.dataForm).then(response => {
                    if (response && response.data.code === 0) {
                        this.$message({
                            showClose: true,
                            message: '设置成功',
                            type: 'success'
                        })
                        this.getList()
                    }
                })
            },
            handleClick() {
                if (this.activeName === 'bg') {
                    this.type = 1
                    this.queryForm.type = 1
                }
                this.getList();
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
