<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @search-change="searchChange"
                 @row-update="handleUpdate"
                 @row-save="handleSave"
                 @row-del="rowDel">
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_device_edit"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="handleEdit(scope.row,scope.index)">编辑</el-button>
          <el-button type="text"
                     v-if="permissions.cac_device_del"
                     icon="el-icon-delete"
                     size="small"
                     plain
                     @click="handleDel(scope.row,scope.index)">删除</el-button>
          <el-button type="text"
                     v-if="permissions.cac_device_details"
                     icon="el-icon-view"
                     size="small"
                     plain
                     @click="deviceInfoShow(scope.row,scope.index)">详情</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 查看设备信息 -->
    <el-dialog title="设备信息"
               @close="closeHandle"
               :visible.sync="showDeviceDialog">
      <div>
        <basic-container>
          <avue-form-detail :option="option" v-model="form">
          </avue-form-detail>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, getObj, addObj, putObj, delObj, getDeviceInfo } from '@/api/popularize/device'
  import { tableOption } from '@/const/crud/popularize/device'
  import  detailoption  from '@/const/crud/popularize/detailoption'
  import { mapGetters } from 'vuex'
  export default {
    name: 'popdeviceinfo',
    data() {
      return {
        tableData: [],
        option: detailoption,
        showDeviceDialog: false,
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        form: {
          channelId: '',
          ip: '',
          promoterId: '',
          paraInfo: '',
          compareCount: '',
          userAgent: '',
          os: '',
          osVersion: '',
          appVersion: '',
          colorDepth: '',
          deviceMemory: '',
          deviceType: '',
          fingerprint: '',
          hardwareConcurrency: '',
          language: '',
          netWork: '',
          screenHeight: '',
          screenWidth: ''
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      cleanForm() {
        this.form.channelId = '',
        this.form.ip = '',
        this.form.promoterId = '',
        this.form.paraInfo = '',
        this.form.compareCount = '',
        this.form.os = '',
        this.form.compareCount = '',
        this.form.osVersion = '',
        this.form.appVersion = '',
        this.form.colorDepth = '',
        this.form.deviceMemory = '',
        this.form.deviceType = '',
        this.form.fingerprint = '',
        this.form.hardwareConcurrency = '',
        this.form.language = '',
        this.form.netWork = '',
        this.form.screenHeight = '',
        this.form.userAgent = '',
        this.form.screenWidth = ''
      },
      deviceInfoShow(row, index) {
        this.cleanForm();

        getDeviceInfo(row.id).then(response => {
          this.showDeviceDialog = true
          this.form.channelId = response.data.data.channelId
          this.form.ip = response.data.data.ip
          this.form.promoterId = response.data.data.promoterId
          this.form.paraInfo = response.data.data.paraInfo
          this.form.compareCount = response.data.data.compareCount
          this.form.os = response.data.data.os
          this.form.userAgent = response.data.data.userAgent
          this.form.osVersion = response.data.data.osVersion
          this.form.appVersion = response.data.data.appVersion
          this.form.colorDepth = response.data.data.colorDepth
          this.form.deviceMemory = response.data.data.deviceMemory
          this.form.deviceType = response.data.data.deviceType
          this.form.fingerprint = response.data.data.fingerprint
          this.form.hardwareConcurrency = response.data.data.hardwareConcurrency
          this.form.language = response.data.data.language
          this.form.netWork = response.data.data.netWork
          this.form.screenHeight = response.data.data.screenHeight
          this.form.screenWidth = response.data.data.screenWidth
        })
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * @title 打开新增窗口
       * @detail 调用crud的handleadd方法即可
       *
       **/
      handleAdd: function() {
        this.$refs.crud.rowAdd()
      },
      handleEdit(row, index) {
        this.$refs.crud.rowEdit(row, index)
      },
      handleDel(row, index) {
        this.$refs.crud.rowDel(row, index)
      },
      rowDel: function(row, index) {
        var _this = this
        this.$confirm('是否确认删除ID为' + row.id, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
            return delObj(row.id)
          }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '删除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },
      /**
       * @title 数据更新
       * @param row 为当前的数据
       * @param index 为当前更新数据的行数
       * @param done 为表单关闭函数
       *
       **/
      handleUpdate: function(row, index, done) {
        putObj(row).then(data => {
          this.tableData.splice(index, 1, Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '修改成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * @title 数据添加
       * @param row 为当前的数据
       * @param done 为表单关闭函数
       *
       **/
      handleSave: function(row, done) {
        addObj(row).then(data => {
          this.tableData.push(Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '添加成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      closeDialog() {
        this.showDeviceDialog = false;
      },
      searchChange(form) {
        this.getList(this.page, form)
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
