<template>
  <el-dialog
    title="配置飞禽走兽"
    width="50%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>配置飞禽走兽</span>
          </div>
          <el-row>
            <el-col :span="12">
              <el-form-item label="6倍间隔:" prop="sixInterval">
                <el-input-number type="text" v-model="dataForm.sixInterval" size="small" :min="0" :max="9999999" placeholder="6倍间隔"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="8倍间隔:" prop="eightInterval">
                <el-input-number type="text" v-model="dataForm.eightInterval" size="small" :min="0" :max="9999999" placeholder="8倍间隔"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="12倍间隔:" prop="twelveInterval">
                <el-input-number type="text" v-model="dataForm.twelveInterval" size="small" :min="0" :max="9999999" placeholder="12倍间隔"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="全局间隔:" prop="globalInterval">
                <el-input-number type="text" v-model="dataForm.globalInterval" size="small" :min="0" :max="9999999" placeholder="全局间隔"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="通吃间隔:" prop="killAllInterval">
                <el-input-number type="text" v-model="dataForm.killAllInterval" size="small" :min="0" :max="9999999" placeholder="通吃间隔"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">

            </el-col>
          </el-row>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import { doFqzsCfg } from '@/api/maint/gamectrlcfg'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        queryForm: {
          channelId: ''
        },
        dataForm: {
          sixInterval: '',
          eightInterval: '',
          twelveInterval: '',
          globalInterval: '',
          killAllInterval: ''
        },
        subData: {
          sixInterval: '',
          eightInterval: '',
          twelveInterval: '',
          globalInterval: '',
          killAllInterval: ''
        },
        dataRule: {
          sixInterval: [
            {required: true, message: '6倍间隔不能为空', trigger: 'blur'}
          ],
          eightInterval: [
            {required: true, message: '8倍间隔不能为空', trigger: 'blur'}
          ],
          twelveInterval: [
            {required: true, message: '12倍间隔不能为空', trigger: 'blur'}
          ],
          globalInterval: [
              {required: true, message: '全局间隔不能为空', trigger: 'blur'}
          ],
          killAllInterval: [
              {required: true, message: '通吃间隔不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      crearFrom () {
        this.dataForm.sixInterval = 0
        this.dataForm.eightInterval = 0
        this.dataForm.twelveInterval = 0
        this.dataForm.globalInterval = 0
        this.dataForm.killAllInterval = 0
        this.btnLoading = false
      },
      init () {
        this.visible = true
        this.crearFrom()
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.subData.sixInterval = this.dataForm.sixInterval
            this.subData.eightInterval = this.dataForm.eightInterval
            this.subData.twelveInterval = this.dataForm.twelveInterval
            this.subData.globalInterval = this.dataForm.globalInterval
            this.subData.killAllInterval = this.dataForm.killAllInterval
            this.btnLoading = true
            doFqzsCfg(this.subData).then(data => {
              if (data.data.code == 0) {
                this.$message({
                  message: '飞禽走兽控制配置成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              }else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
