<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item>
            <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="date"
                            :picker-options="pickerOptions" value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="开始时间">
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="date"
                            :picker-options="pickerOptions" value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="结束时间">
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
            <el-button type="primary" @click="showConfigDialog()" size="small">配置飞禽走兽</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="primary"
                     @click="viewConfig(scope.row)"
                     size="small"
                     v-if="permissions.cac_gamectrlcfg_view">查看</el-button>
        </template>
      </avue-crud>
    </basic-container>
    <!-- 弹窗配置-->
    <GameCtrlConfig  ref="config" @refreshDataList="refreshChange"></GameCtrlConfig>
    <!-- 弹窗, 查看账户信息 -->
    <el-dialog title="详情"
               @close="closeHandle"
               width="50%"
               :visible.sync="showOptionDialog">
      <div>
        <basic-container>
          <avue-form-detail :option="option" v-model="optionForm"  >
          </avue-form-detail>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import GameCtrlConfig from './gameCtrlConfig'
  import { fetchList, getFqzsCfg } from '@/api/maint/gamectrlcfg'
  import { tableOption } from '@/const/crud/maint/gamectrlcfg'
  import detailoption from '@/const/crud/maint/gamectrlcfgoption'
  import { mapGetters } from 'vuex'
  export default {
    name: 'gamectrlcfg',
    data() {
      return {
        pickerOptions: {
            disabledDate(time) {
                if (time.getTime() > Date.now()) {
                    return true
                } else {
                    return false
                }
            },
            shortcuts: [{
                text: '今天',
                onClick (picker) {
                    picker.$emit('pick', new Date())
                }
            }, {
                text: '昨天',
                onClick (picker) {
                    const date = new Date()
                    date.setTime(date.getTime() - 3600 * 1000 * 24)
                    picker.$emit('pick', date)
                }
            }, {
                text: '一周前',
                onClick (picker) {
                    const date = new Date()
                    date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
                    picker.$emit('pick', date)
                }
            }]
        },
        option: detailoption,
        tableData: [],
        dataForm: {
            startTime: '',
            endTime: ''
        },
        optionForm: {
            sixInterval: '',
            eightInterval: '',
            twelveInterval: '',
            globalInterval: '',
            killAllInterval: ''
        },
        getForm: {
            gameId: ''
        },
        page: {
            total: 0, // 总页数
            currentPage: 1, // 当前页数
            pageSize: 20 // 每页显示多少条
        },
        listQuery: {
            page: 1,
            limit: 20
        },
        showOptionDialog: false,
        showDialog: false,
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
       this.getListData();
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    components: {
      GameCtrlConfig
    },
    methods: {
      showConfigDialog() {
          this.showDialog = true;
          this.$nextTick(() => {
              this.$refs.config.init()
          })
      },
      viewConfig(row) {
          this.getForm.gameId =  row.gameAtomTypeId
          getFqzsCfg(this.getForm).then(response => {
              this.optionForm.sixInterval = response.data.data.sixInterval
              this.optionForm.eightInterval = response.data.data.eightInterval
              this.optionForm.twelveInterval = response.data.data.twelveInterval
              this.optionForm.globalInterval = response.data.data.globalInterval
              this.optionForm.killAllInterval = response.data.data.killAllInterval
          })
          this.showOptionDialog = true;
      },
      getListData() {
          this.page.currentPage = 1
          this.listQuery.page = 1
          this.getList(this.listQuery, this.dataForm);
      },
      getList(page, queryDto) {
          this.tableLoading = true
          fetchList(Object.assign({
              current: page.page,
              size: page.limit
          }, queryDto)).then(response => {
              this.tableData = response.data.data.records
              this.page.total = response.data.data.total
              this.tableLoading = false
          })
      },
      closeHandle () {
          this.$emit('refreshChange')
      },
      closeDialog() {
          this.showDialog = false
          this.showOptionDialog = false
      },
      refreshChange() {
          this.page.currentPage = 1
          this.listQuery.page = 1
          this.getList(this.listQuery)
      },
      sizeChange(val) {
          this.page.pageSize = val
          this.listQuery.limit = val
          this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
          this.page.currentPage = val
          this.listQuery.page = val
          this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
