<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="开始时间:">
            <el-date-picker size="small" v-model="dataForm.startTime" placeholder="开始时间"  value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间:">
            <el-date-picker size="small" v-model="dataForm.endTime"  placeholder="结束时间"   value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date" ></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <el-table
        :data="dataList"
        size="small"
        border
        v-loading="dataListLoading"
        style="width: 100%;">
        <el-table-column
          prop="gameId"
          header-align="center"
          align="center"
          width="150"
          label="游戏ID">
        </el-table-column>
        <el-table-column
          prop="updateTime"
          header-align="center"
          align="center"
          width="150"
          label="更新时间">
        </el-table-column>
        <el-table-column
          prop="gameKindName"
          header-align="center"
          align="center"
          width="150"
          label="游戏名称">
        </el-table-column>
        <el-table-column
          prop="phoneGameName"
          header-align="center"
          align="center"
          width="150"
          label="房间名称">
        </el-table-column>
        <el-table-column
          prop="isKillInning"
          header-align="center"
          align="center"
          width="150"
          label="是否归零吃分">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.isKillInning === 0" size="small" type="warning">否</el-tag>
            <el-tag v-else-if="scope.row.isKillInning === 1" size="small" type="warning">是</el-tag>
          </template>
        </el-table-column>
        <el-table-column
          prop="killInning"
          header-align="center"
          align="center"
          width="150"
          label="已归零吃分局数">
        </el-table-column>

        <el-table-column
          prop="kingTotalBet"
          header-align="center"
          align="center"
          width="180"
          label="王累计总下注(分)">
        </el-table-column>
        <el-table-column
          prop="kingSysTotalWin"
          header-align="center"
          align="center"
          width="180"
          label="王累计系统总盈亏(分)">
        </el-table-column>

        <el-table-column
          prop="kingBetTotalPlayerCnt"
          header-align="center"
          align="center"
          width="180"
          label="王累计下注总人次">
        </el-table-column>
        <el-table-column
          prop="multiplyTotalXiMa"
          header-align="center"
          align="center"
          width="180"
          label="多人总洗码量(分)">
        </el-table-column>

        <el-table-column
          prop="multiplyTotalTax"
          header-align="center"
          align="center"
          width="180"
          label="多人总税收(分)">
        </el-table-column>
        <el-table-column
          prop="multiplyRewardPoolCoin"
          header-align="center"
          align="center"
          width="180"
          label="多人奖池余额(分)">
        </el-table-column>
        <el-table-column
          prop="multiplyTotalWinLose"
          header-align="center"
          width="180"
          align="center"
          label="多人系统总盈亏(分)">
        </el-table-column>
      </el-table>
    </basic-container>
  </div>
</template>

<script>
  import { fetchList } from '@/api/report/gameglobalextinfo'
  import { tableOption } from '@/const/crud/report/gameglobalextinfo'
  import { mapGetters } from 'vuex'
  export default {
    name: 'gameglobalextinfo',
    data() {
      return {
        dataList: [],
        dataListLoading: false,
        dataForm: {
            startTime: '',
            endTime: '',
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
        getListData() {
            this.getList(this.listQuery, this.dataForm);
        },

        getList(page, boardDto) {
            this.dataListLoading = true
            fetchList(boardDto).then(response => {
                this.dataList = response.data.data
                this.dataListLoading = false
            })
        }
    }
  }
</script>

<style lang="scss" scoped>
</style>
