<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="showConfigDialog"
                     size="small"
                     v-if="permissions.cac_gamectrl_set">配置游戏控制</el-button>
          <br /><br />
        </template>
      </avue-crud>
    </basic-container>

    <!--游戏控制-->
    <el-dialog title="游戏房间控制"
               @close="closeHandle"
               width="45%"
               :visible.sync="showConfigVisible">

      <el-alert
        title="提示:"
        type="warning"
        :closable="false">
        <div slot-scope="description">
          <p class="el-alert__description">危险下限值 小于  安全下限值 小于 危险上限值  小于 安全上限值</p>
          <p class="el-alert__description">危险下限值,安全下限值为负数</p>
        </div>
      </el-alert>

      <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="控制房间" prop="roomArr">
              <el-cascader :options="options" v-model="dataForm.roomArr" size="mini"  width="200">
                </el-cascader>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="安全下限值" prop="safeDown">
              <el-input-number v-model="dataForm.safeDown" size="mini" :min="-9999999999" :max="9999999999" label="安全下限值"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="安全上限值" prop="safeUp">
              <el-input-number v-model="dataForm.safeUp" size="mini" :min="-9999999999" :max="9999999999" label="安全上限值"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="危险下限值" prop="dangerDown">
              <el-input-number v-model="dataForm.dangerDown" size="mini" :min="-9999999999" :max="9999999999" label="危险下限值"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="危险上限值" prop="dangerUp">
              <el-input-number v-model="dataForm.dangerUp" size="mini" :min="-9999999999" :max="9999999999" label="危险上限值"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
      <el-button @click="closeHandle()"  size="mini">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()"  size="mini">确定</el-button>
    </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, doSet, getRoomTree } from '@/api/maint/gamectrl'
  import { tableOption } from '@/const/crud/maint/gamectrl'
  import { mapGetters } from 'vuex'
  export default {
    name: 'gamectrl',
    data() {
      var validateSafe = (rule, value, callback) => {
        if (this.dataForm.safeDown > 0) {
          callback(new Error('安全下限值必须为负数'))
        } else {
          callback()
        }
      }
      var validateDanger = (rule, value, callback) => {
        if (this.dataForm.dangerDown > 0) {
          callback(new Error('危险上限值必须为负数'))
        } else {
          callback()
        }
      }
      var validateVue = (rule, value, callback) => {
        if (this.dataForm.dangerDown - this.dataForm.safeDown > 0) {
          callback(new Error('数值设定错误'))
        } else if (this.dataForm.safeDown  - this.dataForm.safeUp  > 0) {
          callback(new Error('数值设定错误'))
        } else if (this.dataForm.safeUp  - this.dataForm.dangerUp > 0) {
          callback(new Error('数值设定错误'))
        } else {
          callback()
        }
      }
      return {
        showConfigVisible: false,
        tableData: [],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        dataForm: {
          roomArr: [],
          roomId: 0,
          safeDown: 0,
          safeUp: 0,
          dangerDown: 0,
          dangerUp: 0
        },
        dataRule: {
          roomArr: [
            {required: true, message: '控制房间不能为空', trigger: 'blur'}
          ],
          safeDown: [
            {required: true, message: '安全下限值不能为空', trigger: 'blur'},
            { validator: validateSafe, trigger: 'blur' }
          ],
          safeUp: [
            {required: true, message: '安全上限值不能为空', trigger: 'blur'},
          ],
          dangerDown: [
            {required: true, message: '危险下限值不能为空', trigger: 'blur'},
            { validator: validateDanger, trigger: 'blur' }
          ],
          dangerUp: [
            {required: true, message: '危险上限值不能为空', trigger: 'blur'},
            { validator: validateVue, trigger: 'blur' },
          ]
        },
        options: [],
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      clearForm() {
        this.dataForm.roomArr = []
        this.dataForm.roomId = 0
        this.dataForm.safeDown = 0
        this.dataForm.safeUp = 0
        this.dataForm.dangerDown = 0
        this.dataForm.dangerUp = 0
        this.options = []
      },
      dataFormSubmit() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.dataForm.roomId = this.dataForm.roomArr[1]
            this.doConfig(this.dataForm);
          }
        })
      },
      doConfig(gameCtrlDto) {
        doSet(gameCtrlDto).then(response => {
          if (response && response.data.code === 0) {
            this.$message({
              showClose: true,
              message: '配置控制成功',
              type: 'success'
            })
            this.showConfigVisible = false
            this.getList(this.page)
          } else {
            this.$message({
              showClose: true,
              message: '配置控制失败',
              type: 'error',
            })
          }
        })
      },
      showConfigDialog() {
        this.clearForm()
        //获取信息
        getRoomTree().then(response => {
          this.options = response.data.data
          this.showConfigVisible = true
        })
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      },
      closeHandle() {
        this.showConfigVisible = false
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
