<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @search-change="searchChange"
                 @row-update="handleUpdate"
                 @row-save="handleSave"
                 @row-del="rowDel">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="showBulletinDialog"
                     size="small"
                     v-if="permissions.cac_bulletin_add">新 增</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_bulletin_view"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="viewDialog(scope.row,scope.index)">查看</el-button>
          <el-button type="text"
                     v-if="permissions.cac_bulletin_view"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="viewChannelDialog(scope.row,scope.index)">归属渠道</el-button>
          <el-button type="text"
                     v-if="permissions.cac_bulletin_edit"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="showBulletinDialog(scope.row,scope.index)">编辑</el-button>
          <el-button type="text"
                     v-if="permissions.cac_bulletin_del"
                     icon="el-icon-delete"
                     size="small"
                     plain
                     @click="handleDel(scope.row,scope.index)">删除</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!--添加公告-->
    <el-dialog :title="!dataForm.tid ? '新增' : '修改'"
               width="58%" @close="closeDialog" :visible.sync="bulletinDialog">
      <div>
        <basic-container>
          <el-form :model="dataForm" ref="dataForm" :rules="dataRule"  :v-model="dataForm" label-width="80px">
            <el-row>
              <el-col :span="22">
                <el-form-item label="公告标题" prop="title">
                  <el-input type="text" v-model="dataForm.title" placeholder="公告标题"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="22">
                <el-form-item label="公告时间" prop="maintTime">
                  <el-date-picker size="small" v-model="dataForm.maintTime"  start-placeholder="开始日期" end-placeholder="结束日期" value-format="timestamp" format="yyyy-MM-dd HH:mm:ss" type="datetimerange" auto-complete="off"></el-date-picker>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="22">
                <el-form-item label="图片链接" prop="imgUrl">
                  <el-input v-model="dataForm.imgUrl" type="text" placeholder="图片链接"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="22">
                <el-form-item label="渠道列表" prop="channelList" >
                  <el-input  v-model="dataForm.channelList"  type="textarea" :rows="3" placeholder="渠道ID用逗号隔开" ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="22">
              <el-form-item label="邮件内容" prop="content">
                <el-input  v-model="dataForm.content"   type="textarea" :rows="8" placeholder="请输入邮件内容"></el-input>
              </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" size="small" @click="doSubmit()">提交</el-button>
          <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

    <!--查看公告-->
    <el-dialog title="查看公告"
               width="68%"
               @close="closeDialog"
               :visible.sync="showViewDialog">
      <div>
        <basic-container>
        <avue-form-detail :option="option" v-model="form">
        </avue-form-detail>
      </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

    <!--查看归属渠道-->
    <el-dialog title="公告归属渠道"
               width="48%"
               @close="closeDialog"
               :visible.sync="showChannelDialog">
      <div>
        <basic-container>
          <avue-crud ref="channelCrud"
                     :data="channelTableData"
                     :table-loading="channelTableLoading"
                     :option="channelTableOption">
          </avue-crud>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { isURL } from '@/util/validate'
  import { fetchList, getObj, addObj, putObj, delObj, viewChannel} from '@/api/cac/bulletin'
  import {channelTableOption} from '@/const/crud/cac/channelbulletin'
  import {tableOption} from '@/const/crud/cac/bulletin'
  import dataioption from '@/const/crud/cac/bulletinoption'
  import {mapGetters} from 'vuex'

  export default {
    name: 'bulletin',
    data() {
      var validateIsUrl = (rule, value, callback) => {
        if (!isURL(value)) {
          callback(new Error('图片URL格式不正确!'))
        } else {
          callback()
        }
      }
      return {
        tableData: [],
        channelTableData: [],
        option: dataioption,
        showViewDialog: false,
        showChannelDialog: false,
        bulletinDialog:false,
        channelForm: {

        },
        dataForm: {
          tid : 0,
          start: '',
          finish: '',
          title: '',
          content: '',
          channelList: '',
          imgUrl: '',
          maintTime: []
        },
        dataRule: {
          title: [
            {required: true, message: '公告标题不能为空', trigger: 'blur'}
          ],
          channelList: [
            {required: true, message: '渠道列表不能为空', trigger: 'blur'}
          ],
          content: [
            {required: true, message: '公告内容不能为空', trigger: 'blur'}
          ],
          imgUrl: [
            {required: true, message: '图片URL不能为空', trigger: 'blur'},
            {validator: validateIsUrl, trigger: 'blur'}
          ],
          maintTime: [
            {required: true, message: '公告起止时间不能为空', trigger: 'blur'}
          ]
        },
        form: {

        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        channelTableLoading: false,
        tableOption: tableOption,
        channelTableOption: channelTableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      doSubmit() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            if (this.dataForm.maintTime != null && this.dataForm.maintTime.length == 2) {
                this.dataForm.start = this.dataForm.maintTime[0] instanceof Date ? this.dataForm.maintTime[0].getTime() : this.dataForm.maintTime[0];
                this.dataForm.finish = this.dataForm.maintTime[1] instanceof Date ? this.dataForm.maintTime[1].getTime() : this.dataForm.maintTime[1];
              //判断后面的时间大于当前时间
            }
            if (!this.dataForm.tid) {
              addObj(this.dataForm).then(response => {
                if (response.data.code  == 0) {
                  this.$message({
                    showClose: true,
                    message: '添加公告成功!',
                    type: 'success'
                  })

                  this.closeDialog()
                  this.getList(this.page)
                }
              })
            } else {
              putObj(this.dataForm).then(response => {
                if (response.data.code  == 0) {
                  this.$message({
                    showClose: true,
                    message: '修改公告成功!',
                    type: 'success'
                  })

                  this.closeDialog()
                  this.getList(this.page)
                }
              })
            }
          }
        })
      },
      cleanBulletinForm() {
        this.dataForm.tid = ''
        this.dataForm.start = ''
        this.dataForm.finish = ''
        this.dataForm.title = ''
        this.dataForm.content = ''
        this.dataForm.imgUrl = ''
        this.dataForm.channelList = ''
        this.dataForm.maintTime = []
      },
      showBulletinDialog(row, index) {
        this.cleanBulletinForm();
        //判断是添加还是修改
        if(row.tid != null &&  row.tid != undefined  && row.tid != '') {
         //修改
          getObj(row.tid).then(response => {
            this.dataForm.tid = response.data.data.tid
            this.dataForm.title = response.data.data.ttitle

            this.dataForm.content = response.data.data.content
            this.dataForm.channelList = response.data.data.channelList
            this.dataForm.imgUrl = response.data.data.thyperlink

            this.dataForm.maintTime.push(this.convertDateFromString(response.data.data.tstart))
            this.dataForm.maintTime.push(this.convertDateFromString(response.data.data.tfinish))
          })
        }
        this.$forceUpdate();
        this.bulletinDialog = true
      },
      viewChannelDialog(row, index) {
        this.channelTableData = []
        this.channelTableLoading = true
        this.showChannelDialog = true
        viewChannel(row.tid).then(response => {
          this.channelTableData = response.data.data
          this.channelTableLoading = false
        })
      },
      cleanForm() {
        this.form.ttitle = ''
        this.form.content = ''
      },
      viewDialog(row, index) {
        this.cleanForm();
        getObj(row.tid).then(response => {
          this.form = response.data.data
          this.showViewDialog = true;
        })
      },
      convertDateFromString(dateString) {
        if (dateString) {
          var arr1 = dateString.split(" ");
          var sdate = arr1[0].split('-');
          var date = new Date(sdate[0], sdate[1] - 1, sdate[2]);
          return date;
        }
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeDialog() {
        this.showViewDialog = false
        this.showChannelDialog = false
        this.bulletinDialog = false
      },
      /**
       * @title 打开新增窗口
       * @detail 调用crud的handleadd方法即可
       *
       **/
      handleAdd: function() {
        this.$refs.crud.rowAdd()
      },
      handleEdit(row, index) {
        this.$refs.crud.rowEdit(row, index)
      },
      handleDel(row, index) {
        this.$refs.crud.rowDel(row, index)
      },
      rowDel: function(row, index) {
        var _this = this
        this.$confirm('是否确认删除ID为' + row.tid, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
            return delObj(row.tid)
          }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '删除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },
      /**
       * @title 数据更新
       * @param row 为当前的数据
       * @param index 为当前更新数据的行数
       * @param done 为表单关闭函数
       *
       **/
      handleUpdate: function(row, index, done) {
        putObj(row).then(data => {
          this.tableData.splice(index, 1, Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '修改成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * @title 数据添加
       * @param row 为当前的数据
       * @param done 为表单关闭函数
       *
       **/
      handleSave: function(row, done) {
        addObj(row).then(data => {
          this.tableData.push(Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '添加成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * 搜索回调
       */
      searchChange(form) {
        this.getList(this.page, form)
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
