<template>
  <el-dialog
    title="配置救济金"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-alert
      title=""
      type="warning"
      :closable="false">
      <div>
        <h3><font color="red">领取余额起:</font> 领取救济金条件,玩家总金币小于等于时,才可以领取救济金<br/></h3>
        <h3><font color="red">救济金金额:</font> 每次领取救济金的金额<br/></h3>
        <h3><font color="red">分享领取起:</font> 每日救济金可领取总次数<br/></h3>
        <h3><font color="red">分享领取起:</font> 第几次开始普通用户需要分享才能领取<br/></h3>
      </div>
    </el-alert>
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
             label-width="150px" style="margin-top: 20px">
      <el-card>
        <el-row>
          <el-col :span="12">
            <el-form-item label="渠道编码:" prop="channelId">
              <el-input type="text" v-model="dataForm.channelId" size="small" placeholder="渠道编码"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="领取余额起(分):" prop="coinLimit">
              <el-input-number v-model="dataForm.coinLimit" size="small" :min="0" :max="9999999999"
                               label="领取余额起" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="救济金金额(分):" prop="succourAward">
              <el-input-number v-model="dataForm.succourAward" size="small" :min="0" :max="9999999999"
                               label="救济金金额"  style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="可领取次数(分):" prop="totalSuccourCnt">
              <el-input-number v-model="dataForm.totalSuccourCnt" size="small" :min="0" :max="9999999999"
                               label="可领取次数"  style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="分享领取起(分):" prop="shareConditionCnt">
              <el-input-number v-model="dataForm.shareConditionCnt" size="small" :min="0" :max="9999999999"
                               label="分享领取起"  style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import { addObj, getObj} from '@/api/act/channelsuccour'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        dataListLoading: false,
        dataForm: {
          channelId: '',
          openType: 1,
          coinLimit: 1,
          succourAward: 1,
          totalSuccourCnt: 1,
          shareConditionCnt: 1
        },
        dataRule: {
          channelId: [
            {required: true, message: '渠道编码不能为空', trigger: 'blur'}
          ],
          coinLimit: [
            {required: true, message: '领取余额起不能为空', trigger: 'blur'}
          ],
          succourAward: [
            {required: true, message: '救济金金额不能为空', trigger: 'blur'}
          ],
          totalSuccourCnt: [
            {required: true, message: '可领取次数不能为空', trigger: 'blur'}
          ],
          shareConditionCnt: [
            {required: true, message: '分享领取起不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearForm () {
        this.dataForm.channelId = 1
        this.dataForm.openType = 1
        this.dataForm.coinLimit = 1
        this.dataForm.succourAward = 1
        this.dataForm.totalSuccourCnt = 1
        this.dataForm.shareConditionCnt = 1
      },
      init (channelId,depositType) {
        this.clearForm()
        if (depositType !== null && depositType !== '' && depositType !== 'undefined' && depositType !== undefined) {
          this.dataForm.openType = depositType
        }
        if (channelId !== null && channelId !== '' && channelId !== 'undefined' && channelId !== undefined) {
          this.dataForm.channelId = channelId
        }
        this.btnLoading = false
        this.$nextTick(() => {
          this.visible = true
          if (channelId) {
            getObj(channelId).then(response => {
              if (response && response.data.code === 0) {
                this.dataForm.channelId = response.data.data.channel
                this.dataForm.openType = response.data.data.openType
                this.dataForm.coinLimit = response.data.data.coinLimit
                this.dataForm.succourAward = response.data.data.succourAward
                this.dataForm.totalSuccourCnt = response.data.data.totalSuccourCnt
                this.dataForm.shareConditionCnt = response.data.data.shareConditionCnt
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            addObj(this.dataForm).then(data => {
              if (data.data.code == 0) {
                this.$message({
                  message: '配置救济金成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              }else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
