<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @search-change="searchChange"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="channelsuccourConfig()"
                     size="small"
                     v-if="permissions.cac_channelsuccour_config">配置</el-button>
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_channelsuccour_config"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="channelsuccourConfig(scope.row.channelId, scope.row.depositType)">编辑</el-button>
          <el-button type="text"
                     v-if="permissions.cac_channelsuccour_info"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="view(scope.row.channelId)">查看</el-button>
        </template>
      </avue-crud>
    </basic-container>
    <!-- 弹窗配置-->
    <Config  ref="channelsuccourConfig" @refreshDataList="refreshChange"></Config>
    <!-- 弹窗查看-->
    <ViewCheck  ref="view" @refreshDataList="refreshChange"></ViewCheck>
  </div>
</template>

<script>

  import Config from './config'
  import ViewCheck from './view'

  import { fetchList} from '@/api/act/channelsuccour'
  import { tableOption } from '@/const/crud/act/channelsuccour'
  import { mapGetters } from 'vuex'
  export default {
    name: 'channelsuccour',
    data() {
      return {
        tableData: [],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        showConfigDialog: false,
        showViewDialog: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    components: {
      Config,
      ViewCheck
    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {

      searchChange(form) {
        this.getList(this.page, form)
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeDialog () {
        this.showConfigDialog = false
        this.showViewDialog = false
      },
      channelsuccourConfig (channelId,depositType) {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.channelsuccourConfig.init(channelId,depositType)
        })
      },
      view (channelId) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.view.init(channelId)
        })
      },
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
