<template>
  <el-dialog
    title="查看每日分享配置"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" ref="dataForm" label-width="120px">
      <el-card>
        <el-row>
          <el-col :span="12">
            <el-form-item label="渠道Id:" prop="channelId">
              <el-tag type="success" style="width: 200px"> {{ dataForm.channelId}}</el-tag>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="领取余额起(分):" prop="coinLimit">
              <el-tag type="warning"> {{ dataForm.coinLimit}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="救济金金额(分):" prop="succourAward">
              <el-tag type="warning"> {{ dataForm.succourAward}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="可领取次数(分):" prop="totalSuccourCnt">
              <el-tag type="warning"> {{ dataForm.totalSuccourCnt}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="分享领取起(分):" prop="shareConditionCnt">
              <el-tag type="warning"> {{ dataForm.shareConditionCnt}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>


<script>
  import {getObj} from '@/api/act/channelsuccour'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        dataListLoading: false,
        dataForm: {
          channelId: '',
          openType: 1,
          coinLimit: 1,
          succourAward: 1,
          totalSuccourCnt: 1,
          shareConditionCnt: 1
        }
      }
    },
    methods: {
      crearFrom () {
        this.dataForm.channelId = ''
        this.dataForm.openType = 1
        this.dataForm.coinLimit = 1
        this.dataForm.succourAward = 1
        this.dataForm.totalSuccourCnt = 1
        this.dataForm.shareConditionCnt = 1
      },
      init (channelId) {
        this.crearFrom()
        this.$nextTick(() => {
          this.visible = true
          getObj(channelId).then(response => {
            if (response && response.data.code === 0) {
              this.dataForm.channelId = response.data.data.channel
              this.dataForm.openType = response.data.data.openType
              this.dataForm.coinLimit = response.data.data.coinLimit
              this.dataForm.succourAward = response.data.data.succourAward
              this.dataForm.totalSuccourCnt = response.data.data.totalSuccourCnt
              this.dataForm.shareConditionCnt = response.data.data.shareConditionCnt
            }
          })
        })
      }
    }
  }
</script>

