<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="牌局ID:">
            <el-input size="small" v-model="dataForm.recordId"  placeholder="牌局ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="用户ID:">
            <el-input size="small" v-model="dataForm.accountId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelNo"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="游戏时间:">
            <el-date-picker size="small" v-model="dataForm.queryTime" placeholder="游戏时间"    value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">

        <template slot-scope="scope" slot="menu">
          <el-button type="text"
                     v-if="permissions.board_bjl_detail"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="dialogShow(scope.row,scope.index)">牌局详情
          </el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 查看账户信息 -->
    <el-dialog title="牌局详情"
               @close="closeHandle"
               width="60%"
               :visible.sync="showDialog">
      <el-row :gutter="20" style="margin-top: -5px">
        <el-col>
          <el-card>
            <div slot="header" class="clearfix">
              <i class="el-icon-setting"></i><span>开奖信息</span>
            </div>
            <el-row  style="align:center; text-align:center">
              <!--循环画出图片-->
              <div>
                <el-col :span="1.5">
                  <el-card :body-style="{ padding: '0px' }">
                    <img :src="boardArr.rewardType" class="image" style="width: 50px; height: 50px">
                  </el-card>
                </el-col>
              </div>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
      <el-row :gutter="20" style="margin-top: -5px">
        <el-col>
          <el-card>
            <div slot="header" class="clearfix">
              <i class="el-icon-view"></i><span>中奖信息</span>
            </div>
            <el-row  style="align:center; text-align:center">
              <!--循环画出图片-->
              <div>
                <el-col :span="1.5" v-for="o in boardArr.awardBetArea" :key="o">
                  <el-card :body-style="{ padding: '0px' }">
                    <img :src="o" class="image" style="width: 50px; height: 50px">
                  </el-card>
                </el-col>
              </div>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
      <el-row :gutter="20" style="margin-top: -5px">
        <el-col>
          <el-card>
            <div slot="header" class="clearfix">
              <i class="el-icon-edit"></i><span>下注倍数</span>
            </div>
            <el-row  style="align:center; text-align:center">
              <!--循环画出图片-->
              <div >
                <el-col  :span="4" v-for="p in boardArr.areaTimes" :key="p" >
                  <el-card :body-style="{ padding: '0px' }">
                    <img :src="p.type" class="image" style="width: 50px; height: 50px"> : {{ p.award }}
                  </el-card>
                </el-col>
              </div>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
      <el-row :gutter="20" style="margin-top: -5px">
        <el-col>
          <el-card>
            <div slot="header" class="clearfix">
              <i class="el-icon-edit"></i><span>下注信息</span>
            </div>
            <el-row  style="align:center; text-align:center">
              <div >
                <el-col  :span="4" v-for="q in boardArr.playerBet" :key="q">
                  <el-card :body-style="{ padding: '0px' }">
                    <img :src="q.type" class="image" style="width: 50px; height: 50px"> : {{ q.bet }}
                  </el-card>
                </el-col>
              </div>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="showDialog = false" size="mini">关闭</el-button>
    </span>
    </el-dialog>

  </div>
</template>

<script>
  import {fqzsfetchList, getFqzsDetail} from '@/api/game/board'
  import {tableOption} from '@/const/crud/game/fqzsboard'
  import detailoption from '@/const/crud/game/fqzsdetailoption'
  import {mapGetters} from 'vuex'

  export default {
    name: 'fqzsboard',
    data() {
      return {
        option: detailoption,
        tableData: [],
        showDialog: false,
        dataForm: {
          recordId: '',
          channelNo: '',
          accountId: '',
          queryTime: ''
        },
        boardArr: {
          rewardType: '',
          awardBetArea: [],
          areaTimes: [],
          playerBet: []
        },
        form: {
          recordId: '',
          userId: '',
          queryTime: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created () {
      this.initTimeData()
      this.getListData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
       dialogShow(row, index) {
         this.dataForm.recordId = row.RecordID
         this.dataForm.userId = row.UserID
         this.dataForm.queryTime = row.EndTime
         getFqzsDetail(Object.assign({
             recordId: this.dataForm.recordId,
             userId: this.dataForm.userId,
             queryTime: this.dataForm.queryTime,
         })).then(response => {
             this.boardArr.rewardType = response.data.data.rewardType
             this.boardArr.awardBetArea = response.data.data.awardBetArea
             this.boardArr.areaTimes = response.data.data.areaTimes
             this.boardArr.playerBet = response.data.data.playerBet
         })
         this.showDialog = true;
      },
      initTimeData () {
         this.dataForm.queryTime = this.$moment(new Date()).format('YYYY-MM-DD')
      },
      getListData() {
        if (this.dataForm.queryTime == null || this.dataForm.queryTime == '' ) {
            this.$message.error('游戏时间不能为空！')
            return false
        }
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm);
      },
      getList(page, boardDto) {
        this.tableLoading = true
        fqzsfetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, boardDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeHandle () {
        this.$emit('refreshChange')
      },
      closeDialog() {
        this.showDialog = false;
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery)
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
