<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @search-change="searchChange"
                 @refresh-change="refreshChange"
                 @row-save="doSend">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="sendDialog"
                     size="small"
                     v-if="permissions.cac_mail_add">发送</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_mail_view"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="viewDialog(scope.row,scope.index)">查看</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 发送邮件信息 -->
    <el-dialog title="发送邮件"
               width="48%"
               @close="closeHandle"
               :visible.sync="showSendDialog">
      <div>
        <basic-container>
          <el-form :model="dataFrom" ref="dataFrom" :rules="dataRule" label-width="80px">
            <el-row>
              <el-col :span="22">
                <el-form-item label="发送类型" prop="sendType">
                  <el-select v-model="dataFrom.sendType" placeholder="请选择">
                    <el-option
                      v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="22">
                <el-form-item label="邮件标题" prop="title">
                  <el-input type="text" v-model="dataFrom.title" auto-complete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="11">
                <el-form-item label="道具附件" prop="rewardId">
                  <el-select v-model="dataFrom.rewardId" placeholder="请选择">
                    <el-option
                      v-for="item in optionsProp" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="11">
                <el-form-item label="道具数量" prop="rewardNum">
                    <el-input type="number" v-model="dataFrom.rewardNum"  placeholder="请输入道具数量"></el-input>
                </el-form-item>
              </el-col>
            </el-row>

            <el-form-item label="玩家列表" prop="userList" v-if="dataFrom.sendType == 4">
              <el-input  v-model="dataFrom.userList"   type="textarea" :rows="3" placeholder="玩家ID用逗号隔开" ></el-input>
            </el-form-item>

            <el-form-item label="渠道列表" prop="channelList" v-if="dataFrom.sendType == 5">
              <el-input  v-model="dataFrom.channelList"   type="textarea" :rows="3" placeholder="渠道ID用逗号隔开" ></el-input>
            </el-form-item>

            <el-form-item label="邮件内容" prop="content">
              <el-input  v-model="dataFrom.content"   type="textarea" :rows="5" placeholder="请输入邮件内容"></el-input>
            </el-form-item>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small"  @click="doSend()">提交</el-button>
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

    <!--查看邮件-->
    <el-dialog title="查看邮件"
               width="68%"
               @close="closeHandle"
               :visible.sync="showViewDialog">
          <div>
            <basic-container>
              <avue-form-detail :option="option" v-model="form">
              </avue-form-detail>
            </basic-container>
          </div>
          <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, getObj, addObj, putObj, delObj } from '@/api/cac/usermail'
  import { tableOption } from '@/const/crud/cac/usermail'
  import  dataioption  from '@/const/crud/cac/mailoption'
  import { mapGetters } from 'vuex'

  export default {
    name: 'tusermail',
    data() {
      return {
        option: dataioption,
        tableData: [],
        showSendDialog: false,
        showViewDialog: false,
        form: {
          accountId: 0,
          accountname: '',
          nickname: '',
          title: '',
          content: '',
          sender: '',
          state: 0,
          istextmail: 0,
          isgroupmail: '',
          istemplatemail: '',
          templatemailinfo: '',
          senddate: '',
          recvdate: ''
        },
        dataRule: {
          sendType: [
            {required: true, message: '发送类型不能为空', trigger: 'blur'}
          ],
          title: [
            {required: true, message: '邮件标题不能为空', trigger: 'blur'}
          ],
          content: [
            {required: true, message: '邮件内容不能为空', trigger: 'blur'}
          ]
        },
        options: [{
          value: 1,
          label: '全服'
        }, {
          value: 2,
          label: '全服在线'
        }, {
          value: 4,
          label: '按个人'
        }, {
          value: 5,
          label: '按渠道'
        }],
        optionsProp: [{
          value: 10000,
          label: '金币'
        }],
        dataFrom: {
          sendType: 1,
          channelList: '',
          userList: '',
          title: '',
          content: '',
          sender: '',
          sendDate: '',
          rewardId: 10000,
          rewardNum: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      cleanDataForm() {
          this.dataFrom.sendType = 1,
          this.dataFrom.channelList = '',
          this.dataFrom.userList = '',
          this.dataFrom.title = '',
          this.dataFrom.content = '',
          this.dataFrom.sender = '',
          this.dataFrom.sendDate = '',
          this.dataFrom.rewardId = 10000,
          this.dataFrom.rewardNum = ''
      },
      cleanForm() {
        this.form.accountId = 0
        this.form.accountname = ''
        this.form.nickname = ''

        this.form.title = ''
        this.form.content = ''

        this.form.sender = ''
        this.form.state = 0
        this.form.istextmail = 0
        this.form.isgroupmail = ''

        this.form.istemplatemail = ''
        this.form.templatemailinfo = ''
        this.form.senddate = ''
        this.form.recvdate = ''
      },
      //处理邮件发送
      doSend() {
        this.$refs['dataFrom'].validate((valid) => {
          if (valid) {
            addObj(this.dataFrom).then(data => {
              if (data.data.code == 0) {
                this.closeDialog();
                this.$message({
                  showClose: true,
                  message: '发送邮件成功!',
                  type: 'success'
                })
                done()
                this.getList(this.page)
              }
            })
          }
        })
      },
      //弹出查看邮件dialog
      viewDialog(row, index) {
        this.cleanForm();
        getObj(Object.assign({
          id: row.id,
          userId: row.accountId
        })).then(response => {
          this.form = response.data.data
          this.showViewDialog = true;
        })
      },
      //弹出发送邮件dialog
      sendDialog() {
          this.cleanDataForm();
          this.showSendDialog = true;
      },
      closeHandle() {
        this.showSendDialog = false;
        this.showViewDialog = false;
      },
      closeDialog() {
        this.showSendDialog = false;
        this.showViewDialog = false;
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableLoading = false
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
        })
      },
      /**
       * 搜索回调
       */
      searchChange(form) {
        this.getList(this.page, form)
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
