<template>
  <div class="execution">
    <basic-container>
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
        <el-form-item>
          <el-input v-model="dataForm.userId" placeholder="会员ID" size="small" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="date"
                          :picker-options="pickerOptions" value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="开始时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="date"
                          :picker-options="pickerOptions" value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="结束时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button size="small" type="primary" @click="searchChange()">查询</el-button>
        </el-form-item>
      </el-form>

    <el-table
      :data="dataList"
      show-summary
      sum-text="小计"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="nickName"
        header-align="center"
        align="center"
        label="用户昵称">
      </el-table-column>
      <el-table-column
        prop="statisTime"
        header-align="center"
        align="center"
        label="统计时间">
      </el-table-column>
      <el-table-column
        label="会员日报表账务统计信息"
        align="center">
        <el-table-column
          prop="rechargeFee"
          header-align="center"
          align="center"
          label="充值金额(元)">
        </el-table-column>
        <el-table-column
          prop="rechargeCount"
          header-align="center"
          align="center"
          label="充值次数">
        </el-table-column>
        <el-table-column
          prop="cashFee"
          header-align="center"
          align="center"
          label="提现金额(元)">
        </el-table-column>
        <el-table-column
          prop="cashCount"
          header-align="center"
          align="center"
          label="提现次数">
        </el-table-column>
        <el-table-column
          prop="lossFee"
          header-align="center"
          align="center"
          label="当日盈亏(元)">
        </el-table-column>
        <el-table-column
          prop="betFee"
          header-align="center"
          align="center"
          label="下注金额(元)">
        </el-table-column>
        <el-table-column
          prop="winFee"
          header-align="center"
          align="center"
          label="赢取金额(元)">
        </el-table-column>
        <el-table-column
          prop="allFee"
          header-align="center"
          align="center"
          label="当日账变(元)">
        </el-table-column>
        <el-table-column
          prop="gameTimeLangth"
          header-align="center"
          align="center"
          label="游戏时长(秒)">
        </el-table-column>
      </el-table-column>
    </el-table>
     <div style="text-align: right">
      <el-pagination
        @size-change="sizeChangeHandle"
        @current-change="currentChangeHandle"
        :current-page="pageIndex"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        :total="totalPage"
        layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
     </div>
    </basic-container>
  </div>
</template>

<script>
  import { fetchList} from '@/api/report/statisdata'
  import {mapGetters} from 'vuex'

  export default {
    name: 'statisaccount',
    data() {
      return {
        dataForm: {
          userId: '',
          startTime: '',
          gameRoomId: '',
          endTime: '',
          businessType: '',
          roomArr: []
        },
        statisData: {
          onlineRechargeFee: 0,
          handRechargeFee: 0,
          rechargeFee: 0,
          withdrwFee: 0,
          giveFee: 0,
          reduceFee: 0,
          statisFee: 0
        },
        pickerOptions: {
          disabledDate(time) {
            if (time.getTime() > Date.now()) {
              return true
            } else {
              return false
            }
          },
          shortcuts: [{
            text: '今天',
            onClick (picker) {
              picker.$emit('pick', new Date())
            }
          }, {
            text: '昨天',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24)
              picker.$emit('pick', date)
            }
          }, {
            text: '一周前',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', date)
            }
          }]
        },
        options: [],
        roomOptions: [],
        dataList: [],
        pageIndex: 1,
        pageSize: 20,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      defaultValue (row, column) {
        var value = row[column.property]
        if (value === undefined || value === '' || value === null) {
          return '0'
        }
        return value
      },
      searchChange () {
        if (this.dataForm.startTime === '' || this.dataForm.startTime === null || this.dataForm.endTime === '' || this.dataForm.endTime === null) {
          this.$message.error('请输入查询起止时间!')
          return
        }

        this.pageIndex = 1
        this.getDataList(this.dataForm)
      },
      clearForm () {
        this.statisData.onlineRechargeFee = 0
        this.statisData.handRechargeFee = 0
        this.statisData.rechargeFee = 0
        this.statisData.withdrwFee = 0
        this.statisData.giveFee = 0
        this.statisData.reduceFee = 0
        this.statisData.statisFee = 0
      },
      // 获取数据列表
      getDataList (queryDto) {
        this.dataListLoading = true
        fetchList(Object.assign({
          current: this.pageIndex,
          size: this.pageSize
        }, queryDto)).then(response => {
          if (response && response.data.code === 0) {
            this.dataList = response.data.data.records
            this.totalPage = response.data.data.total
          } else {
            this.clearForm()
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList(this.dataForm)
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList(this.dataForm)
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
