<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="平台编码:">
            <el-input size="small" v-model="dataForm.platformName"  placeholder="平台编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="平台名称:">
            <el-input size="small" v-model="dataForm.platformCode"  placeholder="平台名称" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="handleAdd"
                     size="small"
                     v-if="permissions.cac_platformconfig_add">新 增</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_platformconfig_do"
                     icon="el-icon-edit"
                     size="small"
                     plain
                     @click="doConfig(scope.row,scope.index)">配置</el-button>
          <el-button type="text"
                     v-if="permissions.cac_platformconfig_modify"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="handleEdit(scope.row,scope.index)">编辑</el-button>
        </template>
      </avue-crud>
    </basic-container>


    <!-- 弹窗, 云存储配置 -->
    <el-dialog title="平台参数配置" @close="closeHandle" :visible.sync="showPlatformConfigDialog">
      <div>
        <basic-container>
          <el-form :model="PlatConfigForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="handleConfig()" label-width="120px">
            <el-form-item size="mini" label="平台类型">
              <el-radio-group v-model="platConfigForm.type">
                <el-radio :label="1">BG</el-radio>
              </el-radio-group>
            </el-form-item>
            <template v-if="platConfigForm.type === 1">
              <el-form-item label="API请求URL">
                <el-input v-model="platConfigForm.apiUrl" placeholder="API请求URL"></el-input>
              </el-form-item>
              <el-form-item label="前缀">
                <el-input v-model="platConfigForm.prefix" placeholder="代理账号信息"></el-input>
              </el-form-item>
              <el-form-item label="代理账号信息">
                <el-input v-model="platConfigForm.agentAccount" placeholder="代理账号信息"></el-input>
              </el-form-item>
              <el-form-item label="代理密码信息">
                <el-input v-model="platConfigForm.agentPassword" placeholder="代理密码信息"></el-input>
              </el-form-item>
              <el-form-item label="厅账号信息">
                <el-input v-model="platConfigForm.sn" placeholder="厅账号信息"></el-input>
              </el-form-item>
              <el-form-item label="授权秘钥">
                <el-input v-model="platConfigForm.secretKey" placeholder="授权秘钥"></el-input>
              </el-form-item>
            </template>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
            <el-button type="primary" size="small" @click="handleConfig()">确定</el-button>
            <el-button size="small" @click="closeDialog()">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, getObj, addObj, putObj, delObj, getPlatformConfig, updatePlatformConfig } from '@/api/platform/platformconfig'
  import { tableOption } from '@/const/crud/platform/platformconfig'
  import { mapGetters } from 'vuex'
  export default {
    name: 'platformconfig',
    data() {
      return {
        tableData: [],
        showPlatformConfigDialog: false,
        dataForm: {
          platformName: '',
          platformCode: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        platConfigForm: {
          type: 1,
          id: 0,
          platformCode: '',
          apiUrl: '',
          agentAccount: '',
          agentPassword: '',
          sn: '',
          secretKey: '',
          prefix:''
        },
        dataRule: {
          apiUrl: [
              {required: true, message: '请求URL不能为空', trigger: 'blur'}
          ],
          proxyAccount: [
              {required: true, message: '代理账号不能为空', trigger: 'blur'}
          ],
          proxyPassword: [
              {required: true, message: '代理密码不能为空', trigger: 'blur'}
          ],
          sn: [
              {required: true, message: '厅账号信息不能为空', trigger: 'blur'}
          ],
          secretKey: [
              {required: true, message: '授权秘钥信息不能为空', trigger: 'blur'}
          ],
            prefix: [
              {required: true, message: '前缀不能为空', trigger: 'blur'}
          ],
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
        this.getListData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      getListData() {
          this.page.currentPage = 1
          this.listQuery.page = 1
          this.getList(this.listQuery, this.dataForm);
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeHandle () {
          this.fileList = []
          this.$emit('refreshChange')
      },
      handleAdd: function () {
        this.$refs.crud.rowAdd()
      },
      handleEdit (row, index) {
        this.$refs.crud.rowEdit(row, index)
      },
      clearForm () {
          this.platConfigForm.type =1
          this.platConfigForm.apiUrl = ''
          this.platConfigForm.agentAccount = ''
          this.platConfigForm.agentPassword = ''
          this.platConfigForm.sn = ''
          this.platConfigForm.secretKey = ''
      },
      doConfig(row, index) {
        this.clearForm()
        var id = row.id
        this.platConfigForm.id = row.id
        this.platConfigForm.platformCode = row.platformCode

        getPlatformConfig(id).then(response => {
          if (response && response.data.code === 0) {
              if (response.data.data != null) {
                  this.platConfigForm.type = response.data.data.type
                  this.platConfigForm.apiUrl = response.data.data.apiUrl
                  this.platConfigForm.agentAccount = response.data.data.agentAccount
                  this.platConfigForm.agentPassword = response.data.data.agentPassword
                  this.platConfigForm.sn = response.data.data.sn
                  this.platConfigForm.secretKey = response.data.data.secretKey
                  this.platConfigForm.prefix = response.data.data.prefix
              }
            this.showPlatformConfigDialog = true
          }
        })
      },
      closeDialog() {
        this.showPlatformConfigDialog = false
      },
      handleConfig() {
          //验证数据
          updatePlatformConfig(this.platConfigForm).then(response => {
              if (response && response.data.code === 0) {
                  this.$message({
                      showClose: true,
                      message: '修改配置成功',
                      type: 'success'
                  })
                  this.showPlatformConfigDialog = false;
              }
          })
      },
      rowDel: function(row, index) {
        var _this = this
        this.$confirm('是否确认删除ID为' + row.id, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
            return delObj(row.id)
          }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '删除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },
      /**
       * @title 数据更新
       * @param row 为当前的数据
       * @param index 为当前更新数据的行数
       * @param done 为表单关闭函数
       *
       **/
      handleUpdate: function(row, index, done) {
        putObj(row).then(data => {
          this.tableData.splice(index, 1, Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '修改成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * @title 数据添加
       * @param row 为当前的数据
       * @param done 为表单关闭函数
       *
       **/
      handleSave: function(row, done) {
        addObj(row).then(data => {
          this.tableData.push(Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '添加成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      },
      sizeChange(val) {
          this.page.pageSize = val
          this.listQuery.limit = val
          this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
          this.page.currentPage = val
          this.listQuery.page = val
          this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
