<style type="text/css">
  .el-form-item {
    margin-bottom: 5px;
  }

  .avue-crud__menu {
    margin-bottom: 0px;
  }

  .el-card__body {
    padding-top: 3px;
  }

  .avue-crud__header {
    margin-bottom: 0px;
  }

  .avue-crud__box .el-card__body, .avue-crud__box .el-card__header {
    padding-top: 8px;
  }
</style>
<template>
  <div class="execution">
    <basic-container>
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getListData()">
        <el-row style="margin-left: 10px;margin-top: 10px;">
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.channelId" placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.userId" placeholder="用户ID" prefix-icon="el-icon-edit" clearable
                        onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="12"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.bettingCode" placeholder="注单号" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-select v-model="dataForm.sportType" size="small" placeholder="球类" clearable>
                <!--<el-option v-for="item in qls" :key="item.value" :label="item.label" :value="item.value"/>-->
                <el-option key="1" value="1" label="足球"/>
                <el-option key="2" value="2" label="蓝球"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-select v-model="dataForm.bettingStatus" size="small" placeholder="提交状态" clearable>
                <!--<el-option v-for="item in qls" :key="item.value" :label="item.label" :value="item.value"/>-->
                <el-option key="1" value="1" label="未确认"/>
                <el-option key="2" value="2" label="已确认"/>
                <el-option key="3" value="3" label="系统取消"/>
                <el-option key="4" value="4" label="手动取消"/>
              </el-select>
            </el-form-item>
          </el-col>

        </el-row>
        <el-row style="margin-left: 10px;margin-top: 0px;">
          <el-col :span="3">
            <el-form-item>
              <el-select v-model="dataForm.balance" size="small" placeholder="结算状态" clearable>
                <!--<el-option v-for="item in qls" :key="item.value" :label="item.label" :value="item.value"/>-->
                <el-option key="1" value="1" label="未结算"/>
                <el-option key="2" value="2" label="已结算"/>
                <el-option key="3" value="3" label="赛事腰斩"/>
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="3">
            <el-form-item>
              <el-select v-model="dataForm.resultStatus" size="small" placeholder="输赢状态" clearable>
                <!--<el-option v-for="item in qls" :key="item.value" :label="item.label" :value="item.value"/>-->
                <el-option key="1" value="1" label="全输"/>
                <el-option key="2" value="2" label="输一半"/>
                <el-option key="3" value="3" label="平手"/>
                <el-option key="3" value="4" label="赢一半"/>
                <el-option key="3" value="5" label="全赢"/>
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="6">
            <el-form-item>
              <el-date-picker v-model="dataForm.bettingTime"
                              :picker-options="pickerOptions"
                              size="small" type="datetimerange"
                              value-format="timestamp"
                              format="yyyy-MM-dd HH:mm:ss" range-separator="至" start-placeholder="开始时间" end-placeholder="截止时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="1.8">
            <el-form-item>
              <el-button type="primary" size="small" @click="getListData()" icon="el-icon-search">查询</el-button>
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <el-form-item>
              <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
        <template slot="orderNum"
                  slot-scope="scope">
          <font style="color: #4169e1;">{{scope.row.matchId}}</font> <br>
          <font style="color: #ff7f50;">{{scope.row.bettingCode}}</font><br>
          {{scope.row.bettingDate}}
        </template>
        <template slot="bettingType"
                  slot-scope="scope">
          <!--<el-tag v-if="scope.row.sportType === 1" size="small">足球</el-tag>
          <el-tag v-else-if="scope.row.sportType === 2" size="small" type="success">篮球</el-tag>-->
          <span v-if="scope.row.sportType === 1">足球</span>
          <span v-else-if="scope.row.sportType === 2">篮球</span> -
          <span v-if="scope.row.gameTimeType === 1">滚球</span>
          <span v-else-if="scope.row.gameTimeType === 2">今日</span>
          <span v-else-if="scope.row.gameTimeType === 3">早盘</span>
          <br> {{scope.row.typeNames}}

        </template>
        <template slot="gid"
                  slot-scope="scope">
          <template v-if="scope.row.remark_json && Array.isArray(scope.row.remark_json)">
            <div :style="i===scope.row.remark_json.length - 1?'':'border-bottom:1px dashed gray'" v-for="(item,i) in
            scope.row.remark_json">
              <font color="#4169e1">{{item.gid}}</font><br>
              {{item.league}} <br>
              {{item.firstTeam}} <font color="#ff7f50">{{item.con}}</font> {{item.lastTeam}} <br>
              <font color="#ff1493">{{item.result}}</font> @ <font color="#ff1493">{{item.odds}}</font> <br>
            </div>
          </template>
          <template v-else-if="scope.row.remark_json">
              <font color="#4169e1">{{scope.row.remark_json.gid}}</font><br>
              {{scope.row.remark_json.league}} <br>
              {{scope.row.remark_json.firstTeam}} <font color="#ff7f50">{{scope.row.remark_json.con}}</font> {{scope.row.remark_json.lastTeam}} <br>
              <font color="#ff1493">{{scope.row.remark_json.result}}</font> @ <font color="#ff1493">{{scope.row.remark_json.odds}}</font> <br>
          </template>
        </template>
        <template slot="bettingStatus" slot-scope="scope">
          <el-tag v-if="scope.row.bettingStatus === 1" size="small">{{scope.label}}</el-tag>
          <el-tag v-else-if="scope.row.bettingStatus === 2" size="small" type="success">{{scope.label}}</el-tag>
          <el-tag v-else-if="scope.row.bettingStatus === 3" size="small" type="warning">{{scope.label}}</el-tag>
          <el-tag v-else-if="scope.row.bettingStatus === 4" size="small" type="danger">{{scope.label}}</el-tag>
        </template>
        <template slot="balance" slot-scope="scope">
          <el-tag v-if="scope.row.balance === 1" size="small">{{scope.label}}</el-tag>
          <el-tag v-else-if="scope.row.balance === 2" size="small" type="success">{{scope.label}}</el-tag>
        </template>
        <template slot="bettingResult" slot-scope="scope">
          <span v-if="scope.row.bettingResult">{{scope.row.bettingResult}}</span>
          <span v-else style="color: #3a8ee6;">--</span>
        </template>
        <template slot="ks" slot-scope="scope">
          <span v-if="scope.row.bettingResult">{{ scope.row.bettingMoney - scope.row.bettingResult}}</span>
          <span v-else style="color: peru">未开奖</span>
        </template>
      </avue-crud>
    </basic-container>
  </div>

</template>

<script>
  import {queryCrownSport} from '@/api/betting/record'
  import {tableOption} from '@/const/crud/betting/hgsport'
  import {mapGetters} from 'vuex'

  export default {
    name: 'lhboard',
    data() {
      return {
        tableData: [],
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        dataForm: {
          channelId: '',
          startTime: null,
          endTime: null,
          bettingTime: [],
          sportType: null,
          bettingStatus: null,
          resultStatus: null,
          balance: null,
          bettingCode: '',
          userId: null
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
      this.initTimeData()
      this.getListData()
    },
    mounted: function () {
    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      clearForm() {
        this.dataForm.bettingTime = []
        this.dataForm.startTime = null
        this.dataForm.endTime = null
        this.dataForm.channelId = ''
        this.dataForm.sportType = null
        this.dataForm.bettingStatus = null
        this.dataForm.resultStatus = null
        this.dataForm.balance = null
        this.dataForm.bettingCode = ''
        this.dataForm.userId = null
      },
      initTimeData() {
        const end = new Date()
        const start = new Date()
        start.setTime(end.getTime() - 3600 * 1000 * 24 * 7)
        this.dataForm.bettingTime = [start.getTime(), end.getTime()]
      },
      getListData() {
        this.page.currentPage = 1
        this.listQuery.page = 1

        this.getList(this.listQuery, this.dataForm);
      },

      getList(page, queryDto) {
        this.tableLoading = true
        if (queryDto.bettingTime != null && queryDto.bettingTime.length === 2) {
          queryDto.startTime = this.dataForm.bettingTime[0]
          queryDto.endTime = this.dataForm.bettingTime[1]
        } else {
          queryDto.startTime = null
          queryDto.endTime = null
        }
        queryDto.sportType = !queryDto.sportType ? null : queryDto.sportType
        queryDto.resultStatus = !queryDto.resultStatus ? null : queryDto.resultStatus
        queryDto.bettingStatus = !queryDto.bettingStatus ? null : queryDto.bettingStatus
        queryDto.balance = !queryDto.balance ? null : queryDto.balance
        queryDto.userId = !queryDto.userId ? null : queryDto.userId
        queryCrownSport(Object.assign({
          offset: (page.page - 1) * page.limit,
          limit: page.limit
        }, queryDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm)
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
