<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="牌局ID:">
            <el-input size="small" v-model="dataForm.recordId" placeholder="牌局ID" prefix-icon="el-icon-edit"
                      clearable></el-input>
          </el-form-item>
          <el-form-item label="开始时间:">
            <el-date-picker size="small" v-model="dataForm.startTime" placeholder="开始时间" value-format="yyyy-MM-dd"
                            format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间:">
            <el-date-picker size="small" v-model="dataForm.endTime" placeholder="结束时间" value-format="yyyy-MM-dd"
                            format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
      </avue-crud>
    </basic-container>
  </div>
</template>

<script>
  import {fetchList} from '@/api/report/dantiaomultiply'
  import { tableOption } from '@/const/crud/report/dantiaomultiply'
  import { mapGetters } from 'vuex'
  export default {
    name: 'dantiaomultipl',
    data() {
      return {
        tableData: [],
        dataForm: {
          accountId: '',
          startTime: '',
          recordId: '',
          endTime: '',
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      getListData() {
        if (this.dataForm.startTime != '' && this.dataForm.startTime != null &&  this.dataForm.endTime != '' && this.dataForm.endTime != null) {
            //判断开始时间必须大于结束时间
            if (this.dataForm.startTime  > this.dataForm.endTime) {
                this.$message.error('开始时间不能大于结束时间！')
                return false
            }
        } else {
            this.$message.error('查询起止时间不能为空！')
            return false
        }
        this.getList(this.page, this.dataForm);
      },

      getList(page, queryDto) {
        this.tableLoading = true

        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, queryDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      sizeChange(val) {
          this.page.pageSize = val
          this.listQuery.limit = val
          this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
          this.page.currentPage = val
          this.listQuery.page = val
          this.getList(this.listQuery, this.dataForm);
      },
      refreshChange() {
          this.page.currentPage = 1
          this.listQuery.page = 1
          this.getList(this.listQuery)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
