<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="stylesheet" href="<%= BASE_URL %>cdn/element-ui/2.4.11/theme-chalk/index.css">
    <link rel="stylesheet" href="<%= BASE_URL %>cdn/animate/3.5.2/animate.css">
    <link rel="stylesheet" href="<%= BASE_URL %>cdn/iconfont/1.0.0/index.css">
    <link rel="stylesheet" href="<%= BASE_URL %>cdn/avue/avue.css">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>ABC棋牌管理系统</title>
</head>

<body>
    <noscript>
      <strong>很抱歉，如果没有 JavaScript 支持，网站将不能正常工作。请启用浏览器的 JavaScript 然后继续。</strong>
    </noscript>
    <div id="app">
        <div class="avue-home">
            <div class="avue-home__main">
                <img class="avue-home__loading" src="./svg/loading-spin.svg" alt="loading">
                <div class="avue-home__title">
                    正在加载资源
                </div>
                <div class="avue-home__sub-title">
                    初次加载资源可能需要较多时间 请耐心等待
                </div>
            </div>
            <div class="avue-home__footer">
                <a href="#" target="_blank">
                    Copyright © 2018 xinbo.com</a>
            </div>
        </div>
    </div>
    <!-- built files will be auto injected -->
    <script src="<%= BASE_URL %>util/aes.js" charset="utf-8"></script>
    <script src="<%= BASE_URL %>util/aes.js" charset="utf-8"></script>
    <script src="<%= BASE_URL %>util/crypto-js.js" charset="utf-8"></script>
    <script src="<%= BASE_URL %>util/mode-ecb.js" charset="utf-8"></script>
    <script src="<%= BASE_URL %>util/pad-zeropadding.js" charset="utf-8"></script>
    <script src="<%= BASE_URL %>cdn/vue/2.5.2/vue.min.js" charset="utf-8"></script>
    <script src="<%= BASE_URL %>cdn/vuex/2.4.1/vuex.min.js" charset="utf-8"></script>
    <script src="<%= BASE_URL %>cdn/vue-router/3.0.2/vue-router.min.js" charset="utf-8"></script>
    <script src="<%= BASE_URL %>cdn/axios/1.0.0/axios.min.js" charset="utf-8"></script>
    <script src="<%= BASE_URL %>cdn/element-ui/2.4.11/index.js" charset="utf-8"></script>
</body>

</html>
