<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @search-change="searchChange"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="luckRouletteConfig()"
                     size="small"
                     v-if="permissions.cac_luckyroulette_config">配置幸运转盘</el-button>
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_luckyroulette_view"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="luckyRouletteView(scope.row)">查看</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗配置-->
    <LuckyRouletteConfig  ref="luckyRouletteConfig" @refreshDataList="searchChange"></LuckyRouletteConfig>
    <!-- 弹窗查看-->
    <LuckyRouletteView  ref="luckyRouletteView" @refreshDataList="searchChange"></LuckyRouletteView>
  </div>
</template>

<script>
  import LuckyRouletteConfig from './luckyRoulette-config'
  import LuckyRouletteView from './luckyRoulette-view'
  import { fetchList, getObj, addObj, putObj, delObj } from '@/api/act/luckyroulette'
  import { tableOption } from '@/const/crud/act/luckyroulette'
  import { mapGetters } from 'vuex'
  export default {
    name: 'luckyroulette',
    data() {
      return {
        tableData: [],
        showDialog: false,
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        showConfigDialog: false,
        showViewDialog: false,
        tableLoading: false,
        tableOption: tableOption
      }
    },
    components: {
      LuckyRouletteConfig,
      LuckyRouletteView
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      searchChange(form) {
        this.getList(this.page, form)
      },
      // 配置信息
      luckRouletteConfig () {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.luckyRouletteConfig.init()
        })
      },
      luckyRouletteView (row) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.luckyRouletteView.init(row.channelId)
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
