<template>
  <el-dialog
    title="配置幸运轮盘"
    width="70%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <div class="mod-demo-echarts" style="margin-top: -20px; margin-bottom: 10px">
      <basic-container>
      <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"  >
            <el-container>
              <el-header >
                <!--步骤条-->
                <el-steps :active="active">
                  <el-step title="白银轮盘" icon="el-icon-edit"></el-step>
                  <el-step title="黄金轮盘" icon="el-icon-upload"></el-step>
                  <el-step title="钻石轮盘" icon="el-icon-picture"></el-step>
                </el-steps>
              </el-header>
              <el-container>
                <el-main>
                  <el-row :gutter="24" >
                    <el-col :span="15"  style="height:350px">
                      <el-card :span="15">
                        <div slot="header" class="clearfix">
                          <i class="el-icon-edit"></i><span>设置积分消耗</span>
                        </div>
                        <el-row>
                          <el-col :span="12">
                            <el-form-item :label="posName" prop="posName" label-width="110px">
                              <el-select v-model="posValue" size="mini"  @change="doChange" disabled  style="width: 130px">
                                <el-option v-for="item in posOptions" :key="item.value" :label="item.label" :value="item.value"/>
                              </el-select>
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="12">
                            <el-form-item :label="costName" prop="costName" label-width="110px">
                              <el-input-number v-model="costValue" size="mini" :min="1" :max="9999999" label="白银消耗积分"></el-input-number>
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="12">
                            <el-form-item label="渠道编码:" prop="channelId" label-width="110px">
                              <el-input size="small" v-model="dataForm.channelId"  placeholder="渠道编码"></el-input>
                            </el-form-item>
                          </el-col>
                        </el-row>
                        <el-row>
                          <el-col :span="12">
                            <el-form-item label="活动起止时间:" prop="maintTime" label-width="110px">
                              <el-date-picker size="small" v-model="dataForm.maintTime"  start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions"
                                              value-format="timestamp" format="yyyy-MM-dd HH:mm:ss" type="datetimerange"></el-date-picker>
                            </el-form-item>
                          </el-col>
                        </el-row>
                      </el-card>
                    </el-col>
                    <el-col :span="9" style="height:350px">
                      <el-card :span="9">
                        <div slot="header" class="clearfix">
                          <i class="el-icon-setting"></i> <span>幸运轮盘</span>
                        </div>
                        <div style="height:350px; margin-top: -70px">
                          <div id="J_chartPieBox" class="chart-box" style="height:350px" ></div>
                        </div>
                      </el-card>
                    </el-col>
                    <el-col :span="24">
                      <el-card :span="24">
                        <div slot="header" class="clearfix">
                          <i class="el-icon-upload"></i> <span>奖项详情</span>
                        </div>
                        <div v-for="i in prizeArr" :key="i" class="pztext item">
                          <el-row v-if="i">
                            <el-col :span="1">
                              <el-tag type="success" style="width: 35px"> {{i.pos}}</el-tag>
                            </el-col>
                            <el-col :span="7">
                              <el-form-item label="金币数量:" prop="award" label-width="100px">
                                <el-input-number v-model="i.award" size="mini" :min="1" :max="9999999" label="金币数量"  @change="awardChange"></el-input-number>
                              </el-form-item>
                            </el-col>
                            <el-col :span="7">
                              <el-form-item label="奖品类型:" prop="res" label-width="100px"  >
                                <el-select v-model="i.res" size="mini" @change="resChange">
                                  <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"  />
                                </el-select>
                              </el-form-item>
                            </el-col>
                            <el-col :span="7">
                              <el-form-item label="中奖概率:" prop="rate" label-width="100px" >
                                <el-input-number v-model="i.rate" size="mini" :min="1" :max="10000" label="中奖概率" @change="rateChange"></el-input-number>
                              </el-form-item>
                            </el-col>
                          </el-row>
                        </div>
                      </el-card>
                    </el-col>
                  </el-row>
                </el-main>
              </el-container>
            </el-container>
      </el-form>
      </basic-container>
      <span class="dialog-footer" style="float:right;">
              <el-button size="mini" @click="this.doPrevious">{{previousBtnName}}</el-button>
              <el-button size="mini" type="primary" @click="this.doNext">{{nextBtnName}}</el-button>
      </span>
    </div>
  </el-dialog>
</template>

<script>
  import echarts from 'echarts'
  import {addObj} from '@/api/act/luckyroulette'
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + " 00:00:00") ||
              time > new Date(this.cooperationEnd + " 00:00:00")
            );
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        chartPie: null,
        visible: false,
        prizeArr: [],
        chartArr: [],
        active: 1,
        previousBtnName: '取消',
        nextBtnName: '下一步',
        posName: '白银奖项数目:',
        costName: '白银消耗积分:',
        posValue: 13,
        costValue: 1,
        charPieRoulette: {
          title: {
            left: 'center',
            textStyle: {
              color: '#ccc'
            }
          },
          grid: {
            bottom: 5,
            top: 5,
            left: 5,
            right: 5
          },
          series: [
            {
              name: '奖项转盘',
              type: 'pie',
              radius: '40%',
              center: ['50%', '50%'],
              data: []
            }
          ]
        },
        dataForm: {
          id: 0,
          channelId: '',
          diamondCost: 0,
          goldCost: 0,
          diamondPos: 13,
          goldPos: 13,
          merchantPos: 13,
          silverCost: 0,
          silver: [],
          gold: [],
          diamond: [],
          start: '',
          finish: '',
          maintTime: []
        },
        subData: {
          channelId: '',
          diamondCost: 0,
          goldCost: 0,
          silverCost: 0,
          silver: [],
          gold: [],
          diamond: [],
          start: '',
          finish: '',
        },
        posOptions: [
          {
            label: '5奖项',
            value: 5
          },
          {
            label: '6奖项',
            value: 6
          },
          {
            label: '7奖项',
            value: 7
          },
          {
            label: '8奖项',
            value: 8
          },
          {
            label: '9奖项',
            value: 9
          },
          {
            label: '10奖项',
            value: 10
          },
          {
            label: '11奖项',
            value: 11
          },
          {
            label: '12奖项',
            value: 12
          },
          {
            label: '13奖项',
            value: 13
          },
          {
            label: '14奖项',
            value: 14
          },
          {
            label: '15奖项',
            value: 15
          },
          {
            label: '16奖项',
            value: 16
          },
          {
            label: '17奖项',
            value: 17
          },
          {
            label: '18奖项',
            value: 18
          },
          {
            label: '19奖项',
            value: 19
          },
          {
            label: '20奖项',
            value: 20
          }
        ],
        options: [{
          label: '1金币',
          value: 1
        },
        {
          label: '2金币',
          value: 2
        },
        {
          label: '红包',
          value: 3
        },
        {
          label: '金色红包',
          value: 4
        },
        {
          label: '钱包',
          value: 5
        },
        {
          label: '钱袋',
          value: 6
        },
        {
          label: '宝箱',
          value: 7
        }],
        dataRule: {
          channelId: [
            {required: true, message: '渠道编码不能为空', trigger: 'blur'}
          ],
          maintTime: [
            {required: true, message: '活动起止时间不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    activated () {

    },
    mounted () {

    },
    methods: {
      init () {
        this.visible = true
        this.$nextTick(() => {
          this.clearForm()
          this.changeArr(13)
        })
      },
      doChange (value) {
        this.$nextTick(() => {
          this.changeArr(value)
          this.initChartPie()
        })
      },
      awardChange (value) {
        this.$nextTick(() => {
          this.$forceUpdate()
          this.initChartPie()
        })
      },
      rateChange (value) {
        this.$nextTick(() => {
          this.$forceUpdate()
          this.initChartPie()
        })
      },
      resChange (value) {
        this.$nextTick(() => {
          this.$forceUpdate()
          this.initChartPie()
        })
      },
      changeArr (value) {
        this.prizeArr = []
        this.prizeArr.length = value
        for (var i = 0; i < value; i++) {
          let obj = {pos: i + 1, award: 1, rate: 1, res: 1}
          this.prizeArr[i] = obj
        }
        this.initChartPie()
      },
      doNext () {
        if (this.active === 1) {
          this.previousBtnName = '上一步'
          this.nextBtnName = '下一步'
          this.posName = '黄金奖项数目'
          this.costName = '黄金消耗积分'

          this.dataForm.silverCost = this.costValue
          this.dataForm.silverPos = this.posValue
          this.dataForm.silver = this.prizeArr

          if (this.dataForm.gold != null && this.dataForm.gold.length > 0) {
            this.costValue = this.dataForm.goldCost
            this.posValue = this.dataForm.goldPos
            this.prizeArr = this.dataForm.gold
            this.initChartPie()
          } else {
            this.changeArr(13)
          }
        } else if (this.active === 2) {
          this.previousBtnName = '上一步'
          this.nextBtnName = '提交'
          this.posName = '钻石奖项数目'
          this.costName = '钻石消耗积分'

          this.dataForm.goldCost = this.costValue
          this.dataForm.goldPos = this.posValue
          this.dataForm.gold = this.prizeArr

          if (this.dataForm.diamond != null && this.dataForm.diamond.length > 0) {
            this.costValue = this.dataForm.diamondCost
            this.posValue = this.dataForm.diamondPos
            this.prizeArr = this.dataForm.diamond
            this.initChartPie()
          } else {
            this.changeArr(13)
          }
        } else if (this.active === 3) {
          this.dataForm.diamond = this.prizeArr
          this.dataForm.diamondPos = this.posValue
          this.dataForm.diamondCost = this.costValue
          this.dataFormSubmit()
        }
        this.posValue = 13
        if (this.active < 3) {
          this.active += 1
        }
      },
      doPrevious () {
        if (this.active === 1) {
          this.closeDialog()
        } else if (this.active === 2) {
          this.previousBtnName = '取消'
          this.nextBtnName = '下一步'
          this.posName = '白银奖项数目'
          this.costName = '白银消耗积分'

          if (this.dataForm.silver != null && this.dataForm.silver.length > 0) {
            this.costValue = this.dataForm.silverCost
            this.posValue = this.dataForm.silverPos
            this.prizeArr = this.dataForm.silver
            this.initChartPie()
          } else {
            this.changeArr(13)
          }
        } else if (this.active === 3) {
          this.previousBtnName = '上一步'
          this.nextBtnName = '下一步'
          this.posName = '黄金奖项数目'
          this.costName = '黄金消耗积分'

          if (this.dataForm.gold != null && this.dataForm.gold.length > 0) {
            this.costValue = this.dataForm.goldCost
            this.posValue = this.dataForm.goldPos
            this.prizeArr = this.dataForm.gold
            this.initChartPie()
          } else {
            this.changeArr(13)
          }
        }
        this.posValue = 13
        if (this.active > 0) {
          this.active -= 1
        }
      },
      clearForm () {
        this.chartPie = null
        this.dataForm.maintTime = []
        this.dataForm.channelId = ''
        this.dataForm.diamondCost = 0
        this.dataForm.goldCost = 0
        this.dataForm.silverCost = 0

        this.dataForm.diamondPos = 0
        this.dataForm.goldPos = 0
        this.dataForm.silverCost = 0

        this.dataForm.silver = []
        this.dataForm.gold = []
        this.dataForm.diamond = []

        this.dataForm.start = ''
        this.dataForm.finish = ''
        this.prizeArr = []
        this.chartArr = []

        this.active = 1
        this.previousBtnName = '取消'
        this.nextBtnName = '下一步'
        this.posName = '白银奖项数目'

        this.costName = '白银消耗积分'
        this.costValue = 1
        this.active = 1
        this.activeName = 'first'
        this.$forceUpdate()
      },
      closeDialog () {
        this.visible = false
      },
      initChartPie () {
        this.charPieRoulette.series[0].data = []
        if (this.prizeArr != null && this.prizeArr.length > 0) {
          this.chartArr = [this.prizeArr.length]
          for (var i = 0; i < this.prizeArr.length; i++) {
            var res = this.prizeArr[i].res
            var value = this.prizeArr[i].rate
            var name = ''
            for (var j = 0; j < this.options.length; j++) {
              if (res === this.options[j].value) {
                name = this.options[j].label
              }
            }
            this.charPieRoulette.series[0].data[i] = {value: value, name: name}
          }
        }
        this.chartPie = echarts.init(document.getElementById('J_chartPieBox'))
        this.chartPie.setOption(this.charPieRoulette)
        window.addEventListener('resize', () => {
          this.chartPie.resize()
        })
      },
      dataFormSubmit () {
        if (this.dataForm.maintTime != null && this.dataForm.maintTime.length == 2) {
          this.subData.start = this.dataForm.maintTime[0] instanceof Date ? this.dataForm.maintTime[0].getTime() : this.dataForm.maintTime[0];
          this.subData.finish = this.dataForm.maintTime[1] instanceof Date ? this.dataForm.maintTime[1].getTime() : this.dataForm.maintTime[1];
          //判断后面的时间大于当前时间
        }
        this.subData.channelId = this.dataForm.channelId
        this.subData.diamondCost = this.dataForm.diamondCost
        this.subData.goldCost = this.dataForm.goldCost
        this.subData.silverCost = this.dataForm.silverCost
        this.subData.silver = this.dataForm.silver
        this.subData.gold = this.dataForm.gold
        this.subData.diamond = this.dataForm.diamond

        const loading = this.$loading({
          lock: true,
          text: '配置信息提交中...',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        })
        setTimeout(() => {
          loading.close();
        }, 1500);

        addObj(this.subData).then(data => {
          if (data.data.code == 0) {
            this.$message({
              showClose: true,
              message: '配置幸运轮盘成功!',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.visible = false
                this.$emit('refreshDataList')
              }
            })
          }else {
              this.$message.error(data.msg)
          }
        })
      }
    }
  }
</script>
<style>
  .text {
    font-size: 14px;
  }
  .pztext {
    font-size: 12px;
  }
  .item {
    margin-bottom: 18px;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }
  .box-card {
    width: 480px;
  }
</style>
<style lang="scss">
  .mod-demo-echarts {
    > .el-alert {
      margin-bottom: 10px;
    }
    > .el-row {
      margin-top: -10px;
      margin-bottom: -10px;
      .el-col {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .chart-box {
      min-height: 400px;
    }
  }
</style>
