<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelNo"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="用户ID:">
            <el-input size="small" v-model="dataForm.accountId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="开始时间:">
            <el-date-picker size="small" v-model="dataForm.startTime" placeholder="开始时间"   value-format="yyyy-MM-dd" format="yyyy-MM-dd"  type="date"></el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间:">
            <el-date-picker size="small" v-model="dataForm.endTime"  placeholder="结束时间"    value-format="yyyy-MM-dd" format="yyyy-MM-dd"  type="date" ></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
      </avue-crud>
    </basic-container>
  </div>
</template>

<script>
  import {fetchList, getObj, addObj, putObj, delObj} from '@/api/report/playersignin'
  import {tableOption} from '@/const/crud/report/playersignin'
  import {mapGetters} from 'vuex'

  export default {
    name: 'playersignin',
    data() {
      return {
        tableData: [],
        dataForm: {
          startTime: '',
          channelNo: '',
          accountId: '',
          orderId: '',
          endTime: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
      this.getListData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      getListData() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm);
      },

      getList(page, boardDto) {
        this.tableLoading = true

        fetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, boardDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery)
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
