<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="牌局ID:">
            <el-input size="small" v-model="dataForm.recordId"  placeholder="牌局ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="用户ID:">
            <el-input size="small" v-model="dataForm.accountId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelNo"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="游戏时间:">
            <el-date-picker size="small" v-model="dataForm.queryTime" placeholder="游戏时间"    value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
        <template slot-scope="scope" slot="menu">
          <el-button type="text"
                     v-if="permissions.board_hhdz_detail"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="dialogShow(scope.row,scope.index)">牌局详情
          </el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 查看账户信息 -->
    <el-dialog title="牌局详情"
               @close="closeHandle"
               width="85%"
               :visible.sync="showDialog">
      <div>
        <basic-container>
          <el-form :model="detailsForm" ref="detailsForm"  label-width="120px">
            <el-row>
              <el-col :span="12">
                <el-form-item label="牌局ID:" prop="recordId">
                  <el-tag type="warning" style="width: 200px"> {{ detailsForm.recordId}}</el-tag> &nbsp;&nbsp;&nbsp;
                </el-form-item>
              </el-col>

              <el-col :span="12">
                <el-form-item label="开奖期数:" prop="Periodical">
                  <el-tag type="success" style="width: 200px"> {{ detailsForm.Periodical}}</el-tag> &nbsp;&nbsp;
                </el-form-item>
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="12">
                <el-form-item label="游戏名称:" prop="gameKindName">
                  <el-tag type="danger" style="width: 200px"> {{ detailsForm.gameKindName}}</el-tag> &nbsp;&nbsp;
                </el-form-item>
              </el-col>

              <el-col :span="12">
                <el-form-item label="游戏房间:" prop="phoneGameName">
                  <el-tag type="info" style="width: 200px"> {{ detailsForm.phoneGameName}}</el-tag> &nbsp;&nbsp;
                </el-form-item>
              </el-col>
            </el-row>
            <el-table
              :data="dataList"
              size="small"
              border
              style="width: 100%;">
              <el-table-column
                prop="UserID"
                header-align="center"
                align="center"
                width="120"
                label="用户ID">
              </el-table-column>
              <el-table-column
                prop="TotalAmount"
                header-align="center"
                align="center"
                width="120"
                label="当期下注总分">
              </el-table-column>
              <el-table-column
                prop="TotalScore"
                header-align="center"
                align="center"
                width="120"
                label="玩家总得分">
              </el-table-column>
              <el-table-column
                prop="Gain"
                header-align="center"
                align="center"
                width="120"
                label="结算总分">
              </el-table-column>
              <el-table-column
                prop="cardRecordName"
                header-align="center"
                align="center"
                label="下注信息">
              </el-table-column>
              <el-table-column
                prop="betDetailName"
                header-align="center"
                align="center"
                label="牌面信息">
              </el-table-column>
            </el-table>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary" size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
  import {hhdzfetchList, getHhdzDetail} from '@/api/game/board'
  import { tableOption } from '@/const/crud/game/hhdzboard'
  import { mapGetters } from 'vuex'
  export default {
    name: 'hhdzboard',
    data() {
      return {
        tableData: [],
        dataList: [],
        showDialog: false,
        dataForm: {
          recordId: '',
          channelNo: '',
          accountId: '',
          queryTime: ''
        },
        detailsForm: {
          cardRecordName: '',
          betDetailName: '',
          recordId: '',
          Periodical: '',
          gameKindName: '',
          phoneGameName: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created () {
      this.initTimeData()
      this.getListData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      dialogShow(row, index) {
        this.clearForm()
        getHhdzDetail(row.RecordID).then(response => {
          this.dataList = response.data.data
          if (response.data.data != null && response.data.data.length > 0) {
            this.detailsForm.recordId = row.RecordID
            this.detailsForm.Periodical = response.data.data[0]['Periodical']
            this.detailsForm.gameKindName = response.data.data[0]['gameKindName']
            this.detailsForm.phoneGameName = response.data.data[0]['phoneGameName']
          }
          this.showDialog = true;
        })
      },
      clearForm() {
        this.detailsForm.cardRecordName = ''
        this.detailsForm.betDetailName = ''
        this.detailsForm.Periodical = ''
        this.detailsForm.gameKindName = ''
        this.detailsForm.phoneGameName = ''
        this.dataList = []
      },
      closeHandle() {
        this.$emit('refreshChange')
      },
      closeDialog() {
        this.showDialog = false;
      },
      initTimeData () {
        this.dataForm.queryTime = this.$moment(new Date()).format('YYYY-MM-DD')
      },
      getListData() {
        if (this.dataForm.queryTime == null || this.dataForm.queryTime == '' ) {
            this.$message.error('游戏时间不能为空！')
            return false
        }
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm);
      },
      getList(page, boardDto) {
        this.tableLoading = true
        hhdzfetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, boardDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery)
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
