<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="牌局ID:">
            <el-input size="small" v-model="dataForm.recordId"  placeholder="牌局ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="用户ID:">
            <el-input size="small" v-model="dataForm.accountId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelNo"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="游戏时间:">
            <el-date-picker size="small" v-model="dataForm.queryTime" placeholder="游戏时间"    value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">

        <template slot-scope="scope" slot="menu">
          <el-button type="text"
                     v-if="permissions.board_pdk_detail"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="dialogShow(scope.row,scope.index)">牌局详情
          </el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 查看账户信息 -->
    <el-dialog title="牌局详情"
               @close="closeHandle"
               width="60%"
               :visible.sync="showDialog">
      <el-row :gutter="20" style="margin-top: -5px">
        <el-col>
          <el-card>
            <div slot="header" class="clearfix">
              <i class="el-icon-setting"></i><span>手牌信息</span>
            </div>
            <el-row v-for="o in form.boardList" :key="o"  style="align:center; text-align:center">
              <!--循环画出图片-->
              <div v-if="o.imgLastList">
                <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                  底&nbsp;&nbsp;牌:
                </el-col>
                <el-col :span="1.5" v-for="i in o.imgLastList" :key="i">
                  <el-card :body-style="{ padding: '0px' }">
                    <img :src="i" class="image" style="width: 36px; height: 50px">
                  </el-card>
                </el-col>
              </div>
            </el-row>
            <!--二维数组,每条17张牌-->
            <el-row v-for="o in form.boardList" :key="o"  style="align:center; text-align:center">
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{o.chairId}}:
              </el-col>
              <!--循环画出图片-->
              <el-col :span="1.5" v-for="i in o.imgArr" :key="i">
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="i" class="image"  style="width: 36px; height: 50px">
                </el-card>
              </el-col>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
      <el-row style="margin-top: 5px">
        <el-col>
          <el-card>
            <div slot="header" class="clearfix">
              <i class="el-icon-view"></i><span>出牌记录</span>
            </div>
            <div style="width: 100%; height:300px">
              <el-row  v-for="o in form.outCardList" :key="o" style="align:center; text-align:center">
                <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                  {{o.desc}}:
                </el-col>
                <!--循环画出图片-->
                <div style="width: 100%" v-if="o.boardDesc && o.boardDesc != ''">
                  <el-col :span="1.5">
                    <el-card :span="1.5" :body-style="{ padding: '0px' }">
                      <img src="https://youwanimage.oss-cn-shanghai.aliyuncs.com/board_img/pdk/pass.png" class="image"  style="width: 36px; height: 50px">
                    </el-card>
                  </el-col>
                </div>
                <div style="width: 100%" v-else>
                  <el-col :span="1.5" v-for="i in o.imgArr" :key="i">
                    <el-card :span="1.5" :body-style="{ padding: '0px' }">
                      <img :src="i" class="image"  style="width: 36px; height: 50px">
                    </el-card>
                  </el-col>
                </div>
              </el-row>
            </div>
          </el-card>
        </el-col>
      </el-row>
      <el-row style="margin-top: 5px">
        <el-col>
          <el-card>
            <div slot="header" class="clearfix">
              <i class="el-icon-edit"></i><span>其他信息</span>
            </div>
            <el-collapse>
              <el-collapse-item title="用户信息" name="1">
                <div> 用户信息：{{ form.userInfoStr }} </div>
              </el-collapse-item>
              <el-collapse-item title="叫分信息" name="2" >
                <div v-for="i in form.boardList" :key="i">{{ i.desc}}</div>
              </el-collapse-item>
              <el-collapse-item title="输赢信息" name="3">
                <div> 输赢信息：{{ form.loseOrWinIntegalStr }} </div>
              </el-collapse-item>
              <el-collapse-item title="结算信息" name="4">
                <div> 结算信息：{{ form.endIntegralStr }} </div>
              </el-collapse-item>
              <el-collapse-item title="其他信息" name="5">
                <div> 逃跑记录：{{ form.runRecordStr }} </div>
                <div> 托管次数：{{ form.hosteCountStr }} </div>
                <div> 托管时长：{{ form.hosteTrustDateStr }} </div>
              </el-collapse-item>
            </el-collapse>
          </el-card>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
  import {pdkfetchList} from '@/api/game/board'
  import {tableOption} from '@/const/crud/game/pdkboard'
  import {mapGetters} from 'vuex'

  export default {
    name: 'pdkboard',
    data() {
      return {
        tableData: [],
        showDialog: false,
        dataForm: {
          recordId: '',
          channelNo: '',
          accountId: '',
          queryTime: ''
        },
        form: {
          boardList: [],
          outCardList: [],
          userInfoStr: '',
          endIntegralStr: '',
          loseOrWinIntegalStr: '',
          runRecordStr: '',
          hosteCountStr: '',
          hosteTrustDateStr: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created () {
      this.initTimeData()
      this.getListData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
       dialogShow(row, index) {
         this.form.boardList =  row.boardList;
         this.form.outCardList =  row.outCardList;
         this.form.userInfoStr =  row.userInfoStr;
         this.form.endIntegralStr =  row.endIntegralStr;
         this.form.loseOrWinIntegalStr =  row.loseOrWinIntegalStr;
         this.form.runRecordStr =  row.runRecordStr;
         this.form.hosteCountStr =  row.hosteCountStr;
         this.form.hosteTrustDateStr =  row.hosteTrustDateStr;
         this.showDialog = true;
      },
      initTimeData () {
         this.dataForm.queryTime = this.$moment(new Date()).format('YYYY-MM-DD')
      },
      getListData() {
        if (this.dataForm.queryTime == null || this.dataForm.queryTime == '' ) {
            this.$message.error('游戏时间不能为空！')
            return false
        }
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm);
      },
      getList(page, boardDto) {
        this.tableLoading = true
        pdkfetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, boardDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeHandle () {
        this.$emit('refreshChange')
      },
      closeDialog() {
        this.showDialog = false;
      },
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery)
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
