<template>
  <el-dialog
    title="五星宏辉配置"
    width="90%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form v-if="activeName=='first'"  label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>单人保护机制</span>
          </div>
          <div v-for="o in this.drbhArr" :key="o" class="pztext item">
            <el-row :gutter="24" v-if="o">
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 玩家最高可输(分):
                <el-tag type="success" style="width: 80px"> {{ o['drbh_maxLose'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col >
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃小赔大最低次数:
                <el-tag type="info" style="width: 80px">{{ o['drbh_min'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃小赔大最高次数:
                <el-tag type="warning" style="width: 80px"> {{ o['drbh_max'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-row>
    </el-form>


    <el-form v-if="activeName=='second'"   label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>单人抽签机制</span>
          </div>
          <div v-for="o in this.drcqArr" :key="o" class="pztext item">
            <el-row :gutter="24" v-if="o">
              <el-col :span="6" >
                &nbsp;&nbsp;&nbsp; 签   号:
                <el-tag type="success" style="width: 80px"> {{ o['drcq_id'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col >
              <el-col :span="6" >
                &nbsp;&nbsp;&nbsp; 玩家最高可赢(分):
                <el-tag type="info" style="width: 80px">{{ o['drcq_maxWin'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="6" >
                &nbsp;&nbsp;&nbsp; 所占比重:
                <el-tag type="warning" style="width: 80px"> {{ o['drcq_chance'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="6" >
                &nbsp;&nbsp;&nbsp; 是否保护:
                <el-tag type="warning" style="width: 80px"> {{ o['drcq_isProtect'] == 1 ? "是" : "否" }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='third'"  label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>单人奖金池最高可输</span>
          </div>
          <div v-for="o in this.darksArr" :key="o" class="pztext item">
            <el-row :gutter="24" v-if="o">
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 奖金池最高可输(分):
                <el-tag type="success" style="width: 80px"> {{ o['darks_maxLose'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col >
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃大赔小最低次数:
                <el-tag type="info" style="width: 80px">{{ o['darks_min'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃大赔小最高次数:
                <el-tag type="warning" style="width: 80px"> {{ o['darks_max'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='fourth'"  label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>单人奖金池最高可赢</span>
          </div>
          <div v-for="o in this.darkyArr" :key="o" class="pztext item">
            <el-row :gutter="24" v-if="o">
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 奖金池最高可赢(分):
                <el-tag type="success" style="width: 80px"> {{ o['darky_maxWin'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col >
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃小赔大最低次数:
                <el-tag type="info" style="width: 80px">{{ o['darky_min'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃小赔大最高次数:
                <el-tag type="warning" style="width: 80px"> {{ o['darky_max'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='fifth'"   label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>多人奖金池最高可输</span>
          </div>
          <div v-for="o in this.dorksArr" :key="o" class="pztext item">
            <el-row :gutter="24" v-if="o">
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 奖金池最高可输(分):
                <el-tag type="success" style="width: 80px"> {{ o['dorks_maxLose'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col >
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃大赔小最低次数:
                <el-tag type="info" style="width: 80px">{{ o['dorks_min'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃大赔小最高次数:
                <el-tag type="warning" style="width: 80px"> {{ o['dorks_max'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='sixth'" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>多人奖金池最高可赢</span>
          </div>
          <div v-for="o in this.dorkyArr" :key="o" class="pztext item">
            <el-row :gutter="24" v-if="o">
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 奖金池最高可赢(分):
                <el-tag type="success" style="width: 80px"> {{ o['dorky_maxWin'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col >
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃小赔大最低次数:
                <el-tag type="info" style="width: 80px">{{ o['dorky_min'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="8" >
                &nbsp;&nbsp;&nbsp; 吃小赔大最高次数:
                <el-tag type="warning" style="width: 80px"> {{ o['dorky_max'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='seventh'"   label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>多人人数基数</span>
          </div>
          <div v-for="o in this.drrsArr" :key="o" class="pztext item">
            <el-row :gutter="24" v-if="o">
              <el-col :span="12" >
                &nbsp;&nbsp;&nbsp; 总下注人数:
                <el-tag type="success" style="width: 80px"> {{ o['drrs_betPeopleCnt'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col >
              <el-col :span="12" >
                &nbsp;&nbsp;&nbsp; 总下注金额:
                <el-tag type="info" style="width: 80px">{{ o['drrs_totalBet'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-row>
    </el-form>


    <el-form v-if="activeName=='eighth'"   label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>吃分局数基数</span>
          </div>
            <el-row :gutter="24">
              <el-col :span="12" >
                &nbsp;&nbsp;&nbsp; 吃分局数:
                <el-tag type="success" style="width: 80px"> {{ killValue }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col >
              <el-col :span="12" >
              </el-col>
            </el-row>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='ninth'"   label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>游戏房间基数</span>
          </div>
          <div v-for="o in this.fjhsArr" :key="o" class="pztext item">
            <el-row :gutter="24" v-if="o">
              <el-col :span="4" >
                &nbsp;&nbsp;&nbsp; 游戏编码:
                <el-tag type="success" style="width: 80px"> {{ o['game_id'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col >
              <el-col :span="4" >
                &nbsp;&nbsp;&nbsp; 游戏名称:
                <el-tag type="info" style="width: 80px">{{ o['gameKindName'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="4" >
                &nbsp;&nbsp;&nbsp; 房间名称:
                <el-tag type="warning" style="width: 80px"> {{ o['phoneGameName'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="4" >
                &nbsp;&nbsp;&nbsp; 四种花色最低下注:
                <el-tag type="info" style="width: 80px">{{ o['four_color_min_bet'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="4" >
                &nbsp;&nbsp;&nbsp; 四种花色最高下注:
                <el-tag type="warning" style="width: 80px"> {{ o['four_color_max_bet'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="4" >
                &nbsp;&nbsp;&nbsp; 王最高下注:
                <el-tag type="warning" style="width: 80px"> {{ o['king_max_bet'] }}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-row>
    </el-form>

    <span slot="footer" class="dialog-footer">
      <el-button size="small" type="primary" @click="visible = false">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
import {getCfg} from '@/api/maint/gamectrlcfgstr'
export default {
data () {
  return {
    visible: false,
    btnLoading: false,
    activeName: 'first',
    gameArr: [],
    keyId: '',
    keyName: '',
    killValue: 0,
    drbhArr: [],
    drcqArr: [],

    darksArr: [],
    darkyArr: [],

    dorksArr:[],
    dorkyArr:[],
    drrsArr: [],
    fjhsArr: [],
  }
},
methods: {
crearFrom () {
  this.drbhArr = []
  this.drcqArr = []
  this.darksArr = []
  this.darkyArr = []

  this.dorksArr = []
  this.dorkyArr = []
  this.drrsArr = []
  this.fjhsArr = []
},
init (key, gameArr) {
  this.visible = true
  this.crearFrom()
  this.$nextTick(() => {
    this.keyId = key
    this.gameArr = gameArr
    if (this.keyId === 'dantiaoSingleProtect') {
        this.activeName = 'first'
    } else if (this.keyId === 'dantiaoSingleDrawLots') {
        this.activeName = 'second'
    } else if (this.keyId === 'dantiaoSingleMaxLose') {
        this.activeName = 'third'
    } else if (this.keyId === 'dantiaoSingleMaxWin') {
        this.activeName = 'fourth'
    } else if (this.keyId === 'dantiaoMultiplyMaxLose') {
        this.activeName = 'fifth'
    } else if (this.keyId === 'dantiaoMultiplyMaxWin') {
        this.activeName = 'sixth'
    } else if (this.keyId === 'dantiaoMultiplyBetPeopleCnt') {
        this.activeName = 'seventh'
    } else if (this.keyId === 'dantiaoMultiplyKillInning') {
        this.activeName = 'eighth'
    } else if (this.keyId === 'dantiaoNewDataBetLimit') {
        this.activeName = 'ninth'
    }

    getCfg(this.keyId).then(data => {
      if (data.data.code == 0) {
        if (this.keyId === 'dantiaoSingleProtect') {
            this.drbhArr = data.data.data
        } else if (this.keyId === 'dantiaoSingleDrawLots') {
            this.drcqArr = data.data.data
        } else if (this.keyId === 'dantiaoSingleMaxLose') {
            this.darksArr = data.data.data
        } else if (this.keyId === 'dantiaoSingleMaxWin') {
            this.darkyArr = data.data.data
        } else if (this.keyId === 'dantiaoMultiplyMaxLose') {
            this.dorksArr = data.data.data
        } else if (this.keyId === 'dantiaoMultiplyMaxWin') {
            this.dorkyArr = data.data.data
        } else if (this.keyId === 'dantiaoMultiplyBetPeopleCnt') {
            this.drrsArr = data.data.data
        } else if (this.keyId === 'dantiaoMultiplyKillInning') {
            this.killValue = data.data.data
        } else if (this.keyId === 'dantiaoNewDataBetLimit') {
            if (data.data.data != null && data.data.data.length > 0 && gameArr != null && gameArr.length > 0) {
              for (var i = 0 ; i < data.data.data.length; i ++) {
                for (var j = 0 ; j < this.gameArr.length ; j ++) {
                    console.log(data.data.data[i]['game_id']);
                    console.log(this.gameArr[j]['gameAtomTypeId']);
                    if (data.data.data[i]['game_id'] === this.gameArr[j]['gameAtomTypeId']) {
                    let obj = {
                        game_id: data.data.data[i]['game_id'],
                        gameKindName: this.gameArr[j]['gameKindName'],
                        phoneGameName: this.gameArr[j]['phoneGameName'],
                        four_color_min_bet: data.data.data[i]['four_color_min_bet'],
                        four_color_max_bet: data.data.data[i]['four_color_max_bet'],
                        king_max_bet: data.data.data[i]['king_max_bet']
                    }
                    this.fjhsArr.push(obj);
                  }
                }
              }
            }
        }
      }else {
          this.$message.error(data.msg)
      }
    })
  })
 }
 }
}
</script>
