<template>
  <el-dialog
    title="配置五星宏辉"
    width="90%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-tabs v-model="activeName"  type="card" @tab-click="handleClick">
      <el-tab-pane label="单人保护机制" name="first"></el-tab-pane>
      <el-tab-pane label="单人抽签机制" name="second"></el-tab-pane>
      <el-tab-pane label="单人奖池最高可输" name="third"></el-tab-pane>
      <el-tab-pane label="单人奖池最高可赢" name="fourth"></el-tab-pane>
      <el-tab-pane label="多人奖池最高可输" name="fifth"></el-tab-pane>
      <el-tab-pane label="多人奖池最高可赢" name="sixth"></el-tab-pane>
      <el-tab-pane label="多人人数基数" name="seventh"></el-tab-pane>
      <el-tab-pane label="吃分局数基数" name="eighth"></el-tab-pane>
      <el-tab-pane label="房间花色基数" name="ninth"></el-tab-pane>
    </el-tabs>

    <el-form v-if="activeName=='first'"  :model="dataFormDrbh" :rules="dataRuleDrbh" ref="dataFormDrbh" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>单人保护机制</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="玩家最高可输(分):" prop="drbh_maxLose">
                <el-input-number type="text" v-model="dataFormDrbh.drbh_maxLose" size="small" :min="-9999999" :max="-1" placeholder="玩家最高可输"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃小赔大最低次数:" prop="drbh_min">
                <el-input-number type="text" v-model="dataFormDrbh.drbh_min" size="small" :min="1" :max="9999999" placeholder="吃小赔大最低次数"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃小赔大最高次数:" prop="drbh_max">
                <el-input-number type="text" v-model="dataFormDrbh.drbh_max" size="small" :min="1" :max="9999999" placeholder="吃小赔大最高次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>单人保护机制配置列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="drbhArr"
              border
              size="small"
              max-height="300px"
              :height="300"
              style="width: 100%">
              <el-table-column
                prop="drbh_maxLose"
                header-align="center"
                align="center"
                label="玩家最高可输(分)">
              </el-table-column>
              <el-table-column
                prop="drbh_min"
                header-align="center"
                align="center"
                label="吃小赔大最低次数">
              </el-table-column>
              <el-table-column
                prop="drbh_max"
                header-align="center"
                align="center"
                label="吃小赔大最高次数">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>


    <el-form v-if="activeName=='second'"  :model="dataFormDrcq" :rules="dataRuleDrcq" ref="dataFormDrcq" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>单人抽签机制</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-row>
            <el-col :span="12">
              <el-form-item label="签     号:" prop="drcq_id">
                <el-input-number type="text" v-model="dataFormDrcq.drcq_id" size="small" :min="1" :max="9999999" placeholder="签     号"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="玩家最高可赢(分):" prop="drcq_maxWin">
                <el-input-number type="text" v-model="dataFormDrcq.drcq_maxWin" size="small" :min="1" :max="9999999" placeholder="吃小赔大最低次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="所占比重:" prop="drcq_chance">
                <el-input-number type="text" v-model="dataFormDrcq.drcq_chance" size="small" :min="1" :max="9999999" placeholder="所占比重"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="是否保护:" prop="drcq_isProtect" size="small" style="width: 280px">
                <el-select v-model="dataFormDrcq.drcq_isProtect" placeholder="请选择">
                  <el-option label="是" value="1"></el-option>
                  <el-option label="否" value="0"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>单人抽签机制配置列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="drcqArr"
              border
              size="small"
              max-height="300px"
              :height="300"
              style="width: 100%">
              <el-table-column
                prop="drcq_id"
                header-align="center"
                align="center"
                label="签   号">
              </el-table-column>
              <el-table-column
                prop="drcq_maxWin"
                header-align="center"
                align="center"
                label="玩家最高可赢(分)">
              </el-table-column>
              <el-table-column
                prop="drcq_chance"
                header-align="center"
                align="center"
                label="所占比重">
              </el-table-column>
              <el-table-column
                prop="drcq_isProtect"
                header-align="center"
                align="center"
                label="是否保护">
                <template slot-scope="scope">
                  <el-tag v-if="scope.row.drcq_isProtect === '0' || scope.row.drcq_isProtect === 0" size="small" type="success">否</el-tag>
                  <el-tag v-else-if="scope.row.drcq_isProtect === '1' || scope.row.drcq_isProtect === 1" size="small" type="danger">是</el-tag>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='third'"  :model="dataFormDarks" :rules="dataRuleDarks" ref="dataFormDarks" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>单人奖金池最高可输</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="奖金池最高可输(分):" prop="darks_maxLose">
                <el-input-number type="text" v-model="dataFormDarks.darks_maxLose" size="small" :min="-9999999" :max="-1" placeholder="奖金池最高可输"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃大赔小最低次数:" prop="darks_min">
                <el-input-number type="text" v-model="dataFormDarks.darks_min" size="small" :min="1" :max="9999999" placeholder="吃大赔小最低次数"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃大赔小最高次数:" prop="darks_max">
                <el-input-number type="text" v-model="dataFormDarks.darks_max" size="small" :min="1" :max="9999999" placeholder="吃大赔小最高次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>单人奖金池最高可输配置列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="darksArr"
              border
              size="small"
              max-height="300px"
              :height="300"
              style="width: 100%">
              <el-table-column
                prop="darks_maxLose"
                header-align="center"
                align="center"
                label="奖金池最高可输(分)">
              </el-table-column>
              <el-table-column
                prop="darks_min"
                header-align="center"
                align="center"
                label="吃大赔小最低次数">
              </el-table-column>
              <el-table-column
                prop="darks_max"
                header-align="center"
                align="center"
                label="吃大赔小最高次数">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='fourth'"  :model="dataFormDarky" :rules="dataRuleDarky" ref="dataFormDarky" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>单人奖金池最高可赢</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="奖金池最高可赢(分):" prop="darky_maxWin">
                <el-input-number type="text" v-model="dataFormDarky.darky_maxWin" size="small" :min="1" :max="9999999" placeholder="奖金池最高可赢"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃小赔大最低次数:" prop="darky_min">
                <el-input-number type="text" v-model="dataFormDarky.darky_min" size="small" :min="1" :max="9999999" placeholder="吃小赔大最低次数"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃小赔大最高次数:" prop="darky_max">
                <el-input-number type="text" v-model="dataFormDarky.darky_max" size="small" :min="1" :max="9999999" placeholder="吃小赔大最高次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>单人奖金池最高可赢配置列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="darkyArr"
              border
              size="small"
              max-height="300px"
              :height="300"
              style="width: 100%">
              <el-table-column
                prop="darky_maxWin"
                header-align="center"
                align="center"
                label="奖金池最高可赢(分)">
              </el-table-column>
              <el-table-column
                prop="darky_min"
                header-align="center"
                align="center"
                label="吃小赔大最低次数">
              </el-table-column>
              <el-table-column
                prop="darky_max"
                header-align="center"
                align="center"
                label="吃小赔大最高次数">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='fifth'"  :model="dataFormDorks" :rules="dataRuleDorks" ref="dataFormDorks" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>多人奖金池最高可输</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="奖金池最高可输(分):" prop="dorks_maxLose">
                <el-input-number type="text" v-model="dataFormDorks.dorks_maxLose" size="small" :min="-9999999" :max="-1" placeholder="奖金池最高可输"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃大赔小最低次数:" prop="dorks_min">
                <el-input-number type="text" v-model="dataFormDorks.dorks_min" size="small" :min="1" :max="9999999" placeholder="吃大赔小最低次数"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃大赔小最高次数:" prop="dorks_max">
                <el-input-number type="text" v-model="dataFormDorks.dorks_max" size="small" :min="1" :max="9999999" placeholder="吃大赔小最高次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>多人奖金池最高可输配置列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="dorksArr"
              border
              size="small"
              max-height="300px"
              :height="300"
              style="width: 100%">
              <el-table-column
                prop="dorks_maxLose"
                header-align="center"
                align="center"
                label="奖金池最高可输(分)">
              </el-table-column>
              <el-table-column
                prop="dorks_min"
                header-align="center"
                align="center"
                label="吃大赔小最低次数">
              </el-table-column>
              <el-table-column
                prop="dorks_max"
                header-align="center"
                align="center"
                label="吃大赔小最高次数">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='sixth'"  :model="dataFormDorky" :rules="dataRuleDorky" ref="dataFormDorky" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>多人奖金池最高可赢</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="奖金池最高可赢(分):" prop="dorky_maxWin">
                <el-input-number type="text" v-model="dataFormDorky.dorky_maxWin" size="small" :min="1" :max="9999999" placeholder="奖金池最高可赢"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃小赔大最低次数:" prop="dorky_min">
                <el-input-number type="text" v-model="dataFormDorky.dorky_min" size="small" :min="1" :max="9999999" placeholder="吃小赔大最低次数"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="吃小赔大最高次数:" prop="dorky_max">
                <el-input-number type="text" v-model="dataFormDorky.dorky_max" size="small" :min="1" :max="9999999" placeholder="吃小赔大最高次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>多人奖金池最高可赢配置列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="dorkyArr"
              border
              size="small"
              max-height="300px"
              :height="300"
              style="width: 100%">
              <el-table-column
                prop="dorky_maxWin"
                header-align="center"
                align="center"
                label="奖金池最高可赢(分)">
              </el-table-column>
              <el-table-column
                prop="dorky_min"
                header-align="center"
                align="center"
                label="吃小赔大最低次数">
              </el-table-column>
              <el-table-column
                prop="dorky_max"
                header-align="center"
                align="center"
                label="吃小赔大最高次数">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='seventh'"  :model="dataFormDrrs" :rules="dataRuleDrrs" ref="dataFormDrrs" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>多人人数基数</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-row>
            <el-col :span="12">
              <el-form-item label="总下注人数:" prop="drrs_betPeopleCnt">
                <el-input-number type="text" v-model="dataFormDrrs.drrs_betPeopleCnt" size="small" :min="3" :max="9999999" placeholder="总下注人数"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="总下注金额(分):" prop="drrs_totalBet">
                <el-input-number type="text" v-model="dataFormDrrs.drrs_totalBet" size="small" :min="1" :max="9999999" placeholder="总下注金额"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>多人人数基数配置列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="drrsArr"
              border
              size="small"
              max-height="300px"
              :height="300"
              style="width: 100%">
              <el-table-column
                prop="drrs_betPeopleCnt"
                header-align="center"
                align="center"
                label="总下注人数">
              </el-table-column>
              <el-table-column
                prop="drrs_totalBet"
                header-align="center"
                align="center"
                label="总下注金额(分)">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='eighth'"  :model="dataFormDrcf" :rules="dataRuleDrcf" ref="dataFormDrcf" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>吃分局数基数</span>
          </div>
          <el-row>
            <el-col :span="12">
              <el-form-item label="吃 分 局 数:" prop="killInning">
                <el-input-number type="text" v-model="dataFormDrcf.killInning" size="small" :min="0" :max="9999999" placeholder="吃分局数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
    </el-form>

    <el-form v-if="activeName=='ninth'"  :model="dataFormFjhs" :rules="dataRuleFjhs" ref="dataFormFjhs" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>游戏房间基数</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-row>
            <el-col :span="12">
              <el-form-item label="游  戏  房   间:" prop="game_id" style="width: 280px">
                <el-select v-model="dataFormFjhs.game_id" clearable size="small" placeholder="游戏房间" style="width: 280px">
                  <el-option
                    v-for="item in gameOptions" :key="item.gameAtomTypeId" :label="item.phoneGameName" :value="item.gameAtomTypeId">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="四种花色最低下注:" prop="four_color_min_bet">
                <el-input-number type="text" v-model="dataFormFjhs.four_color_min_bet" size="small" :min="0" :max="9999999" placeholder="总下注金额"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="四种花色最高下注:" prop="four_color_max_bet">
                <el-input-number type="text" v-model="dataFormFjhs.four_color_max_bet" size="small" :min="1" :max="9999999" placeholder="总下注人数"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="王最高下注:" prop="king_max_bet">
                <el-input-number type="text" v-model="dataFormFjhs.king_max_bet" size="small" :min="1" :max="9999999" placeholder="总下注金额"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-card>
              <div slot="header" class="clearfix">
                <i class="el-icon-upload"></i><span>游戏房间基数列表</span>
                <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
                </el-button>
              </div>
              <el-col :span="24">
                <el-table
                  :data="fjhsArr"
                  border
                  size="small"
                  max-height="300px"
                  :height="300"
                  style="width: 100%">
                  <el-table-column
                    prop="game_id"
                    header-align="center"
                    align="center"
                    label="游戏编码">
                  </el-table-column>
                  <el-table-column
                    prop="gameKindName"
                    header-align="center"
                    align="center"
                    label="游戏名称">
                  </el-table-column>
                  <el-table-column
                    prop="phoneGameName"
                    header-align="center"
                    align="center"
                    label="房间名称">
                  </el-table-column>
                  <el-table-column
                    prop="four_color_min_bet"
                    header-align="center"
                    align="center"
                    label="四种花色最低下注">
                  </el-table-column>
                  <el-table-column
                    prop="four_color_max_bet"
                    header-align="center"
                    align="center"
                    label="四种花色最高下注">
                  </el-table-column>
                  <el-table-column
                    prop="king_max_bet"
                    header-align="center"
                    align="center"
                    label="王最高下注">
                  </el-table-column>
                </el-table>
              </el-col>
            </el-card>
          </el-row>
        </el-card>
      </el-row>
    </el-form>

    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="closeDialog()">关闭</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
import {doCfg, getCfg, getGameList} from '@/api/maint/gamectrlcfgstr'
export default {
data () {
  return {
    visible: false,
    btnLoading: false,
    activeName: 'first',
    keyId: '',
    keyName: '',
    drbhArr: [],
    drcqArr: [],

    darksArr: [],
    darkyArr: [],

    dorksArr:[],
    dorkyArr:[],
    drrsArr: [],
    fjhsArr: [],
    gameList: [],
    gameOptions: [],
    gameBakOptions: [],
    submitForm: {
      keyId: '',
      ctrlArr: [],
      killInning: 0
    },
    dataFormDrbh: {
      drbh_maxLose: -1,
      drbh_min: 1,
      drbh_max: 1
    },
    dataFormDrcq: {
      drcq_id: 1,
      drcq_maxWin: 1,
      drcq_chance: 1,
      drcq_isProtect: "1"
    },
    dataFormDarks: {
      darks_maxLose: -1,
      darks_min: 1,
      darks_max: 1
    },
    dataFormDarky: {
      darky_maxWin: 1,
      darky_min: 1,
      darky_max: 1
    },
    dataFormDorks: {
      dorks_maxLose: -1,
      dorks_min: 1,
      dorks_max: 1
    },
    dataFormDorky: {
      dorky_maxWin: 1,
      dorky_min: 1,
      dorky_max: 1
    },
    dataFormDrrs: {
      drrs_betPeopleCnt: 3,
      drrs_totalBet: 1
    },
    dataFormDrcf: {
        killInning: 0
    },
    dataFormFjhs: {
        game_id: 141001,
        four_color_min_bet: 0,
        four_color_max_bet: 1,
        king_max_bet: 1
    },
    dataRuleDrbh: {
      drbh_maxLose: [
        {required: true, message: '玩家最高可输不能为空不能空', trigger: 'blur'}
      ],
      drbh_min: [
        {required: true, message: '吃小赔大最低次数不能为空不能空', trigger: 'blur'}
      ],
      drbh_max: [
        {required: true, message: '吃小赔大最高次数不能为空不能空', trigger: 'blur'}
      ]
    },
    dataRuleDrcq: {
      drcq_id: [
          {required: true, message: '签号不能为空不能空', trigger: 'blur'}
      ],
      drcq_maxWin: [
          {required: true, message: '玩家最高可赢不能为空不能空', trigger: 'blur'}
      ],
      drcq_chance: [
          {required: true, message: '所占比重不能为空不能空', trigger: 'blur'}
      ],
      drcq_isProtect: [
          {required: true, message: '是否保护不能为空不能空', trigger: 'blur'}
      ]
    },
    dataRuleDarks: {
      darks_maxLose: [
          {required: true, message: '奖金池最高可输不能空', trigger: 'blur'}
      ],
      darks_min: [
          {required: true, message: '吃大赔小最低次数不能空', trigger: 'blur'}
      ],
      darks_max: [
          {required: true, message: '吃大赔小最高次数不能空', trigger: 'blur'}
      ]
    },
    dataRuleDarky: {
      darky_maxWin: [
          {required: true, message: '奖金池最高可赢不能空', trigger: 'blur'}
      ],
      darky_min: [
          {required: true, message: '吃大赔小最低次数不能空', trigger: 'blur'}
      ],
      darky_max: [
          {required: true, message: '吃大赔小最高次数不能空', trigger: 'blur'}
      ]
    },
    dataRuleDorks: {
      dorks_maxLose: [
          {required: true, message: '奖金池最高可输不能空', trigger: 'blur'}
      ],
      dorks_min: [
          {required: true, message: '吃大赔小最低次数不能空', trigger: 'blur'}
      ],
      dorks_max: [
          {required: true, message: '吃大赔小最高次数不能空', trigger: 'blur'}
      ]
    },
    dataRuleDorky:{
      dorky_maxWin: [
          {required: true, message: '奖金池最高可赢不能空', trigger: 'blur'}
      ],
      dorky_min: [
          {required: true, message: '吃大赔小最低次数不能空', trigger: 'blur'}
      ],
      dorky_max: [
          {required: true, message: '吃大赔小最高次数不能空', trigger: 'blur'}
      ]
    },
    dataRuleDrrs:{
      drrs_betPeopleCnt: [
          {required: true, message: '下注人数不能空', trigger: 'blur'}
      ],
      drrs_totalBet: [
          {required: true, message: '总下注金额不能空', trigger: 'blur'}
      ]
    },
    dataRuleDrcf:{
      killInning: [
          {required: true, message: '吃分局数不能空', trigger: 'blur'}
      ]
    },
    dataRuleFjhs:{
      game_id: [
          {required: true, message: '游戏房间不能空', trigger: 'blur'}
      ],
      four_color_min_bet: [
          {required: true, message: '四种花色最低下注不能空', trigger: 'blur'}
      ],
      four_color_max_bet: [
          {required: true, message: '四种花色最高下注不能空', trigger: 'blur'}
      ],
      king_max_bet: [
          {required: true, message: '王最高下注不能空', trigger: 'blur'}
      ]
    }
  }
},
methods: {
  addConfig() {
      if (this.activeName === 'first') {
        this.$refs['dataFormDrbh'].validate((valid) => {
          if (valid) {
            let obj = {
              drbh_maxLose: this.dataFormDrbh.drbh_maxLose,
              drbh_min: this.dataFormDrbh.drbh_min,
              drbh_max: this.dataFormDrbh.drbh_max
            }
            this.drbhArr.push(obj);
          }
        })
      } else if (this.activeName === 'second') {
        this.$refs['dataFormDrcq'].validate((valid) => {
          if (valid) {
            let obj = {
              drcq_id: this.dataFormDrcq.drcq_id,
              drcq_maxWin: this.dataFormDrcq.drcq_maxWin,
              drcq_chance: this.dataFormDrcq.drcq_chance,
              drcq_isProtect: this.dataFormDrcq.drcq_isProtect
            }
            this.drcqArr.push(obj);
          }
        })
      } else if (this.activeName === 'third') {
        this.$refs['dataFormDarks'].validate((valid) => {
          if (valid) {
            let obj = {
              darks_maxLose: this.dataFormDarks.darks_maxLose,
              darks_min: this.dataFormDarks.darks_min,
              darks_max: this.dataFormDarks.darks_max
            }
            this.darksArr.push(obj);
          }
        })
      } else if (this.activeName === 'fourth') {
        this.$refs['dataFormDarky'].validate((valid) => {
          if (valid) {
            let obj = {
              darky_maxWin: this.dataFormDarky.darky_maxWin,
              darky_min: this.dataFormDarky.darky_min,
              darky_max: this.dataFormDarky.darky_max
            }
            this.darkyArr.push(obj);
          }
        })
      } else if (this.activeName === 'fifth') {
        this.$refs['dataFormDorks'].validate((valid) => {
          if (valid) {
            let obj = {
                dorks_maxLose: this.dataFormDorks.dorks_maxLose,
                dorks_min: this.dataFormDorks.dorks_min,
                dorks_max: this.dataFormDorks.dorks_max
            }
            this.dorksArr.push(obj);
          }
        })
      } else if (this.activeName === 'sixth') {
        this.$refs['dataFormDorky'].validate((valid) => {
          if (valid) {
            let obj = {
              dorky_maxWin: this.dataFormDorky.dorky_maxWin,
              dorky_min: this.dataFormDorky.dorky_min,
              dorky_max: this.dataFormDorky.dorky_max
            }
            this.dorkyArr.push(obj);
          }
        })
      } else if (this.activeName === 'seventh') {
        this.$refs['dataFormDrrs'].validate((valid) => {
          if (valid) {
            let obj = {
                drrs_betPeopleCnt: this.dataFormDrrs.drrs_betPeopleCnt,
                drrs_totalBet: this.dataFormDrrs.drrs_totalBet
            }
            this.drrsArr.push(obj);
          }
        })
      } else if (this.activeName === 'ninth') {
          this.$refs['dataFormFjhs'].validate((valid) => {
              if (valid) {
                  var gameKindName = ''
                  var phoneGameName = ''
                  //判断是否含当前id
                  if (this.fjhsArr != null && this.fjhsArr.length > 0) {
                      for (var i = 0; i < this.fjhsArr.length; i++) {
                        if (this.fjhsArr[i]['game_id'] === this.dataFormFjhs.game_id) {
                            this.$message.error('请不要重复添加！')
                            return
                        }
                      }
                  }
                  if (this.gameList != null && this.gameList.length > 0) {
                      for (var i = 0; i < this.gameList.length; i++) {
                          if (this.gameList[i]['gameAtomTypeId'] === this.dataFormFjhs.game_id) {
                              gameKindName = this.gameList[i]['gameKindName']
                              phoneGameName = this.gameList[i]['phoneGameName']
                          }
                      }
                  }

                  let obj = {
                      game_id: this.dataFormFjhs.game_id,
                      gameKindName: gameKindName,
                      phoneGameName: phoneGameName,
                      four_color_min_bet: this.dataFormFjhs.four_color_min_bet,
                      four_color_max_bet: this.dataFormFjhs.four_color_max_bet,
                      king_max_bet: this.dataFormFjhs.king_max_bet
                  }
                  this.fjhsArr.push(obj);
              }
          })
      }
  },
  handleClick (tab, event) {
      if (this.activeName === 'first') {
         this.keyId = "dantiaoSingleProtect";
         this.keyName = "单人保护机制"
      } else if (this.activeName === 'second') {
         this.keyId = "dantiaoSingleDrawLots";
         this.keyName = "单人抽签机制"
      } else if (this.activeName === 'third') {
         this.keyId = "dantiaoSingleMaxLose";
         this.keyName = "单人奖金池最高可输"
      } else if (this.activeName === 'fourth') {
        this.keyId = "dantiaoSingleMaxWin";
        this.keyName = "单人奖金池最高可赢"
      } else if (this.activeName === 'fifth') {
        this.keyId = "dantiaoMultiplyMaxLose";
        this.keyName = "多人奖金池最高可输"
      } else if (this.activeName === 'sixth') {
        this.keyId = "dantiaoMultiplyMaxWin";
        this.keyName = "多人奖金池最高可赢"
      } else if (this.activeName === 'seventh') {
        this.keyId = "dantiaoMultiplyBetPeopleCnt";
        this.keyName = "多人人数基数"
      } else if (this.activeName === 'eighth') {
        this.keyId = "dantiaoMultiplyKillInning";
        this.keyName = "吃分局数基数"
      } else if (this.activeName === 'ninth') {
        this.keyId = "dantiaoNewDataBetLimit";
        this.keyName = "游戏房间基数"
      }

      const loading = this.$loading({
          lock: true,
          text: '加载信息中',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
      });
      setTimeout(() => {
          loading.close();
      }, 3000);

      getCfg(this.keyId).then(data => {
        loading.close()
        if (data.data.code == 0) {
          if (this.keyId === 'dantiaoSingleProtect') {
                this.drbhArr = data.data.data
            } else if (this.keyId === 'dantiaoSingleDrawLots') {
                this.drcqArr = data.data.data
            } else if (this.keyId === 'dantiaoSingleMaxLose') {
                this.darksArr = data.data.data
            } else if (this.keyId === 'dantiaoSingleMaxWin') {
                this.darkyArr = data.data.data
            } else if (this.keyId === 'dantiaoMultiplyMaxLose') {
                this.dorksArr = data.data.data
            } else if (this.keyId === 'dantiaoMultiplyMaxWin') {
                this.dorkyArr = data.data.data
            } else if (this.keyId === 'dantiaoMultiplyBetPeopleCnt') {
                this.drrsArr = data.data.data
            } else if (this.keyId === 'dantiaoMultiplyKillInning') {
                this.dataFormDrcf.killInning = data.data.data
            } else if (this.keyId === 'dantiaoNewDataBetLimit') {
              if (data.data.data != null && data.data.data.length > 0 && this.gameList != null && this.gameList.length > 0) {
                  console.log("data.data.data.length" + data.data.data.length)
                  console.log("this.gameList.length" +  this.gameList.length)
                  for (var i = 0; i < data.data.data.length; i++) {
                      for (var j = 0; j < this.gameList.length; j++) {

                          if (data.data.data[i]['game_id'] === this.gameList[j]['gameAtomTypeId']) {
                              let obj = {
                                  game_id: data.data.data[i]['game_id'],
                                  gameKindName: this.gameList[j]['gameKindName'],
                                  phoneGameName: this.gameList[j]['phoneGameName'],
                                  four_color_min_bet: data.data.data[i]['four_color_min_bet'],
                                  four_color_max_bet: data.data.data[i]['four_color_max_bet'],
                                  king_max_bet: data.data.data[i]['king_max_bet']
                              }
                              this.fjhsArr.push(obj);
                          }
                      }
                      console.log("长度为 : " + this.gameOptions.length);
                  }
              }
            }
        }else {
          this.$message.error(data.msg)
        }
      })
  },
  clearConfig() {
    this.$confirm(`确定对进行清空操作?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
    }).then(() => {
      if (this.activeName === 'first') {
          this.drbhArr = []
      } else if (this.activeName === 'second') {
          this.drcqArr = []
      } else if (this.activeName === 'third') {
          this.darksArr = []
      } else if (this.activeName === 'fourth') {
          this.darkyArr = []
      } else if (this.activeName === 'fifth') {
          this.dorksArr = []
      } else if (this.activeName === 'sixth') {
          this.dorkyArr = []
      } else if (this.activeName === 'seventh') {
          this.drrsArr = []
      } else if (this.activeName === 'eighth') {
          this.dataFormDrcf.killInning = 0
      } else if (this.activeName === 'ninth') {
          this.fjhsArr = []
      }
    }).catch(() => {
    })
  },
  crearFrom () {
    this.drbhArr = []
    this.drcqArr = []
    this.darksArr = []

    this.darkyArr = []
    this.dorksArr = []
    this.dorkyArr = []

    this.drrsArr = []
    this.fjhsArr = []
    this.gameList = []

    this.gameOptions = []
    this.gameBakOptions = []
    this.dataFormDrcf.killInning = 0

    this.activeName = 'first'
    this.keyId = "dantiaoSingleProtect"
    this.keyName = "单人保护机制"

    this.drrsArr.dataFormDrbh = {
        drbh_maxLose: -1,
        drbh_min: 1,
        drbh_max: 1
    }
    this.dataFormDrcq = {
        drcq_id: 1,
        drcq_maxWin: 1,
        drcq_chance: 1,
        drcq_isProtect: "1"
    }
    this.dataFormDarks = {
        darks_maxLose: -1,
        darks_min: 1,
        darks_max: 1
    }
    this.dataFormDarky = {
        darky_maxWin: 1,
        darky_min: 1,
        darky_max: 1
    }
    this.dataFormDorks = {
        dorks_maxLose: -1,
        dorks_min: 1,
        dorks_max: 1
    },
    this.dataFormDorky = {
        dorky_maxWin: 1,
        dorky_min: 1,
        dorky_max: 1
    }
    this.dataFormDrrs = {
        drrs_betPeopleCnt: 3,
        drrs_totalBet: 1
    }
    this.dataFormFjhs = {
        game_id: 141001,
        four_color_min_bet: 0,
        four_color_max_bet: 0,
        king_max_bet: 0
    }
    this.btnLoading = false
  },
  init (gameArr) {
    this.visible = true
    this.crearFrom()
    if (gameArr !== null && gameArr.length > 0) {
        for (var i = 0; i < gameArr.length; i++) {
            this.gameList.push(gameArr[i])
            this.gameOptions.push(gameArr[i])
            this.gameBakOptions.push(gameArr[i])
        }
    } else {
        this.getGameList()
    }
    this.$nextTick(() => {
        getCfg(this.keyId).then(data => {
            if (data.data.code == 0 && data.data.data.length > 0) {
                this.drbhArr = data.data.data
            }
        })
    })
  },
  getGameList() {
      getGameList().then(data => {
          if (data.data.code == 0 && data.data.data.length > 0) {
              for (var i = 0; i < data.data.data.length; i++) {
                  this.gameList.push(data.data.data[i])
                  this.gameOptions.push(data.data.data[i])
                  this.gameBakOptions.push(data.data.data[i])
              }
          }
      })
  },
  closeDialog () {
      this.visible = false
      this.$emit('refreshDataList')
  },
  // 表单提交
  dataFormSubmit () {
    if (this.activeName === 'first') {
        if (this.drbhArr == null || this.drbhArr.length == 0) {
            this.$message.error('配置信息不能为空!')
            return;
        } else {
            this.submitForm.ctrlArr = this.drbhArr;
        }
    } else if (this.activeName === 'second') {
        if (this.drcqArr == null || this.drcqArr.length == 0) {
            this.$message.error('配置信息不能为空!')
            return;
        } else {
            this.submitForm.ctrlArr = this.drcqArr;
        }
    } else if (this.activeName === 'third') {
        if (this.darksArr == null || this.darksArr.length == 0) {
            this.$message.error('配置信息不能为空!')
            return;
        } else {
            this.submitForm.ctrlArr = this.darksArr;
        }
    } else if (this.activeName === 'fourth') {
        if (this.darkyArr == null || this.darkyArr.length == 0) {
            this.$message.error('配置信息不能为空!')
            return;
        } else {
            this.submitForm.ctrlArr = this.darkyArr;
        }
    } else if (this.activeName === 'fifth') {
        if (this.dorksArr == null || this.dorksArr.length == 0) {
            this.$message.error('配置信息不能为空!')
            return;
        } else {
            this.submitForm.ctrlArr = this.dorksArr;
        }
    } else if (this.activeName === 'sixth') {
        if (this.dorkyArr == null || this.dorkyArr.length == 0) {
            this.$message.error('配置信息不能为空!')
            return;
        } else {
            this.submitForm.ctrlArr = this.dorkyArr;
        }
    } else if (this.activeName === 'seventh') {
        if (this.drrsArr == null || this.drrsArr.length == 0) {
            this.$message.error('配置信息不能为空!')
            return;
        } else {
            this.submitForm.ctrlArr = this.drrsArr;
        }
    } else if (this.activeName === 'eighth') {
        this.submitForm.killInning = this.dataFormDrcf.killInning
    } else if (this.activeName === 'ninth') {
        if (this.fjhsArr == null || this.fjhsArr.length == 0) {
            this.$message.error('配置信息不能为空!')
            return;
        } else {
            this.submitForm.ctrlArr = this.fjhsArr;
        }
    }
    console.debug("提交信息" + this.submitForm);
    this.submitForm.keyId = this.keyId
    this.btnLoading = true
    doCfg(this.submitForm).then(data => {
      if (data.data.code == 0) {
        this.$message({
            message: "配置" + this.keyName + "信息成功!",
            type: 'success',
            duration: 1500,
            onClose: () => {
                this.btnLoading = false
            }
        })
      }else {
        this.$message.error(data.msg)
        this.btnLoading = false
      }
    }).catch(error => {
        this.btnLoading = false
        this.$message.error('服务器响应超时!')
    })
  }
 }
}
</script>
