<template>
  <div class="execution">
    <basic-container>
      <el-form :model="form" ref="form" label-width="80px">
        <el-form-item label="作用域" prop="domainCode">
          <el-select v-model="dataForm.domainCode" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="GM命令" prop="cmdAction">
          <el-input v-model="dataForm.cmdAction" type="textarea" :rows="5" placeholder="请输入命令" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <span style="text-align: center;display:block;">
         <el-button type="primary" size="small" @click="commitAciton()">提交</el-button>
      </span>
    </basic-container>
  </div>
</template>

<script>
  import {doAction} from '@/api/maint/gmaction'
  import {mapGetters} from 'vuex'

  export default {
    name: 'gmaction',
    data() {
      return {
        dataForm: {
          domainCode: '0x00',
          cmdAction: ''
        },
        options: [{
          value: '0x00',
          label: '平台产品'
        }, {
          value: '0x01',
          label: '斗地主产品'
        },  {
          value: '0x04',
          label: '捕鱼产品'
        }, {
          value: '0x01',
          label: '斗地主产品'
        }, {
          value: '0x05',
          label: '牛牛产品'
        }, {
          value: '0x09',
          label: '龙虎斗'
        }, {
          value: '0x0A',
          label: '单挑'
        }, {
          value: '0x0B',
          label: '百家乐'
        }, {
          value: '0x0C',
          label: '扎金花'
        }, {
          value: '0x0D',
          label: '财神到'
        }
        ],
      }
    },
    created() {

    },
    mounted: function () {

    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      commitAciton() {
        if (this.dataForm.cmdAction == null || this.dataForm.cmdAction == '') {
          this.message.error("GM命令不能为空!")
        } else {
          doAction(this.dataForm).then(response => {
            if (response.data.code == 0) {
              this.$message({
                showClose: true,
                message: '命令执行成功!',
                type: 'success'
              })
              this.dataForm.cmdAction = '';
            } else {
              this.$notify({
                title: '失败',
                message: '命令执行失败!',
                type: 'error',
                duration: 2000
              })
            }
          })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
