<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @search-change="searchChange"
                 @refresh-change="refreshChange"
                 @row-update="handleUpdate"
                 @row-save="handleSave"
                 @row-del="rowDel">
        <template slot-scope="scope" slot="menuBtn">
         <!-- <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="handleEdit(scope.row,scope.index)">编     辑
          </el-dropdown-item>
          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="handleDel(scope.row,'suspend')">删     除
          </el-dropdown-item> -->
          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="acountDialogShow(scope.row,'suspend')">账户信息
          </el-dropdown-item>
          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="accountStateShow(scope.row,'suspend')">状态变更
          </el-dropdown-item>
          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="doKickUser(scope.row,'suspend')">踢   人
          </el-dropdown-item>
          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="accountPwShow(scope.row,'suspend')">修改用户密码
          </el-dropdown-item>
          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="resetAccountPw(scope.row,'suspend')">重置用户密码
          </el-dropdown-item>
          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="viewInGame(scope.row,'suspend')">查看所在游戏
          </el-dropdown-item>

          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="unbindPhone(scope.row,'suspend')">解除手机绑定
          </el-dropdown-item>

          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="clearCommon(scope.row,'suspend')">清除设备信息
          </el-dropdown-item>
          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="cashInfoShow(scope.row,'suspend')">提现绑定信息
          </el-dropdown-item>
          <!--
          <el-dropdown-item
            divided
            v-if="permissions.cac_useaccount_del"
            @click.native="resetBankPw(scope.row,'suspend')">重置银行密码
          </el-dropdown-item>
          -->
        </template>
      </avue-crud>
    </basic-container>

    <!--查看提现信息-->
    <el-dialog title="提现绑定信息"
               @close="closeHandle"
               :visible.sync="showCashInfoDialog">
      <div>
        <basic-container>
          <avue-form-detail :option="cashOption" v-model="cashInfo">
          </avue-form-detail>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

    <!-- 弹窗, 查看账户信息 -->
    <el-dialog title="账户信息"
               @close="closeHandle"
               :visible.sync="showAcountDialog">
      <div>
        <basic-container>
            <avue-form-detail :option="option" v-model="form">
            </avue-form-detail>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

    <!-- 弹窗, 修改用户状态信息 -->
    <el-dialog title="修改状态"
               @close="closeHandle"
               width="28%"
               :visible.sync="showStateDialog">
      <div>
        <basic-container>
          <el-form :model="form" ref="dataForm" label-width="100px">
            <el-form-item label="选择状态:" prop="radio" :rules="[{ required: true, message: '状态不能为空'}]">
              <el-radio-group v-model="dataForm.radio">
                <el-radio label="2">正常</el-radio>
                <el-radio label="1">冻结</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small"  @click="modifyAccountState()">确认</el-button>
         <el-button type="text"  size="small"  @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

    <!-- 弹窗, 修改用户密码信息 -->
    <el-dialog title="修改登录密码"
               width="28%"
               @close="closeHandle"
               :visible.sync="showPwDialog">
      <div>
        <basic-container>
          <el-form :model="form" ref="form" label-width="80px">
            <el-form-item label="新密码"
                          prop="newpassword1">
              <el-input type="password"
                        v-model="pwForm.newpassword1"
                        auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码"
                          prop="newpassword2">
              <el-input type="password"
                        v-model="pwForm.newpassword2"
                        auto-complete="off"></el-input>
            </el-form-item>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small"  @click="modifyAccountPw()">提交</el-button>
         <el-button type="text"  size="small"  @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>


    <!-- 弹窗, 修改银行密码信息 -->
    <el-dialog title="修改银行密码"
               width="28%"
               @close="closeHandle"
               :visible.sync="showBankPwDialog">
      <div>
        <basic-container>
          <el-form :model="form" ref="form" label-width="80px">
            <el-form-item label="新密码" prop="newpassword1">
              <el-input type="password" v-model="bankPwForm.newpassword1" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="newpassword2">
              <el-input type="password" v-model="bankPwForm.newpassword2" auto-complete="off"></el-input>
            </el-form-item>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small"  @click="modifyBankPw()">提交</el-button>
         <el-button type="text"  size="small"  @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
  import { fetchList, getObj, addObj, putObj, delObj, accountObj, activateState, kickUser, isInGame, modifyPw, resetPw, modifyBankPw, resetBankPw, clearCommonDev, unbindPhoneNum} from '@/api/cac/useaccount'
  import { tableOption } from '@/const/crud/cac/useaccount'
  import  detailoption  from '@/const/crud/cac/detailoption'
  import  cashoption  from '@/const/crud/cac/accountCashoption'
  import { mapGetters } from 'vuex'
  export default {
    name: 'accountinfo',
    data() {
      return {
        option: detailoption,
        cashOption: cashoption,
        radio: '0',
        modifyStateId: '',
        newpassword1:'',
        newpassword2:'',
        showCashInfoDialog: false,
        showAcountDialog: false,
        showPwDialog: false,
        showStateDialog: false,
        showBankPwDialog: false,
        showAcountPageDialog: false,
        tableData: [],
        dataForm: {
          radio: 0
        },
        bankPwForm: {
          userId: '',
          newBankPassword1: '',
          newBankPassword2: '',
        },
        cashInfo: {
          bank: '',
          bankRealName: '',
          bankPayId: '',
          subBank: '',
          aliPayId: '',
          aliRealName: ''
        },
        pwForm:{
          userId: '',
          newpassword1:'',
          newpassword2:'',
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        form: {
          //性别
          tSex: 0,
          //VIP等级
          tViplevel: 0,
          //金币数
          tGoldcoin: 0,
          //头像ID
          tAvatarid: 0,
          //头像框ID
          tAvatarframeid: 0,
          //试用头像ID
          tTryavatarid: 0,
          //审核头像ID
          tAuditingavatarid: 0,
          //自定义最大头像ID
          tCustommaxavatarid: 0,
          //解锁系统头像id列表
          tUnlocksystemavatarlist: '',
          //自定义头像id列表
          tCustomavatarlist: '',
          //银行密码
          tBankpassword: '',
          //银行金币数
          tBankgoldcoin: 0,
          //昵称是否被修改过
          tIsmodifiednick: 0,
          //总计累计游戏时长
          tTotalgametime: 0,
          //今日游戏时长
          tTodayGameTime: 0,
          //今日游戏时长刷新时间
          tTodaygametimerefreshtime: 0,
          //总计游戏赢取金币数
          tTotalcoinget: 0,
          //今日输赢金币数
          tTdaycoinget: 0,
          //今日赢金币数刷新时间
          tTodaycoinrefreshtime: 0,
          //累计充值金额
          tRechargemoney: 0,
          //账户名
          tAccountname: '',
          //绑定手机号
          tPhonenumber:'',
          //昵称
          tNickname:'',
          //是否正式账号
          tBisregularaccount: 0,
          //绑定身份证
          tIdcard:'',
          //最后一次登入时间
          tLastlogintime: 0,
          //最后一次登出时间
          tLastlogouttime:0,
          //账号状态
          tAccountstate:0,
          //渠道key
          tChannelkey:'',
          //注册时间
          tRegtime:0,
          //注册终端
          tRegterminaltype:0,
          //注册IP
          tRegip:'',
          //注册设备
          tRegdevice:'',
          //机器码注册时候是否唯一
          tIsuniqdevicecode: 0,
          //支付宝绑定姓名
          tAlipayrealname:'',
          //支付宝账号
          tAlipayid:'',
          //银行账号绑定姓名
          tBankrealname:'',
          //银行账号
          tBankid:'',
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      closeDialog() {
        this.showAcountDialog = false;
        this.showStateDialog = false;
        this.showPwDialog = false;
        this.showBankPwDialog = false;
        this.showAcountPageDialog = false;
        this.showCashInfoDialog = false;
      },
      cleanCashForm() {
        this.cashInfo.bank = '',
        this.cashInfo.bankRealName = '',
        this.cashInfo.bankPayId = '',
        this.cashInfo.subBank = '',
        this.cashInfo.aliPayId = '',
        this.cashInfo.aliRealName = ''
      },
      //显示账户信息
      cleanForm() {
        this.form.tAccountid = 0
          //账户名
        this.form.tAccountname = ''
        //绑定手机号
        this.form.tPhonenumber = ''
        //昵称
        this.form.tNickname = ''
        //是否正式账号
        this.form.tBisregularaccount = 0
        //绑定身份证
        this.form.tIdcard = ''
        //最后一次登入时间
        this.form.tLastlogintime = 0
          //最后一次登出时间
        this.form.tLastlogouttime = 0
          //账号状态
        this.form.tAccountstate = 0,
          //渠道key
          this.form.tChannelkey = ''
          //注册时间
        this.form.tRegtime = 0
          //注册终端
        this.form.tRegterminaltype = 0
          //注册IP
        this.form.tRegip = ''
          //注册设备
        this.form.tRegdevice = ''
        //机器码注册时候是否唯一
        this.form.tIsuniqdevicecode = 0
          //支付宝绑定姓名
          this.form.tAlipayrealname = ''
          //支付宝账号
        this.form.tAlipayid = ''
          //银行账号绑定姓名
        this.form.tBankrealname = ''
          //银行账号
        this.form.tBankid = ''
          //性别
        this.form.tSex = 0
          //VIP等级
        this.form.tViplevel = 0
          //金币数
        this.form.tGoldcoin = 0
          //头像ID
        this.form.tAvatarid = 0
          //头像框ID
        this.form.tAvatarframeid = 0
          //试用头像ID
        this.form.tTryavatarid = 0
          //审核头像ID
        this.form.tAuditingavatarid = 0
          //自定义最大头像ID
        this.form.tCustommaxavatarid = 0
          //解锁系统头像id列表
        this.form.tUnlocksystemavatarlist = ''
          //自定义头像id列表
        this.form.tCustomavatarlist = ''
          //银行密码
        this.form.tBankpassword = ''
          //银行金币数
        this.form.tBankgoldcoin = 0
          //昵称是否被修改过
        this.form.tIsmodifiednick = 0
          //总计累计游戏时长
        this.form.tTotalgametime = 0
          //今日游戏时长
        this.form.tTodayGameTime = 0
          //今日游戏时长刷新时间
        this.form.tTodaygametimerefreshtime = 0
          //总计游戏赢取金币数
        this.form.tTotalcoinget = 0
          //今日输赢金币数
        this.form.tTdaycoinget = 0
          //今日赢金币数刷新时间
        this.form.tTodaycoinrefreshtime = 0
          //累计充值金额
        this.form.tRechargemoney = 0
          //账户名
        this.form.tAccountname = ''
          //绑定手机号
        this.form.tPhonenumber =''
          //昵称
        this.form.tNickname =''
          //是否正式账号
        this.form.tBisregularaccount = 0
          //绑定身份证
        this.form.tIdcard =''
          //最后一次登入时间
        this.form.tLastlogintime = 0
          //最后一次登出时间
        this.form.tLastlogouttime = 0
          //账号状态
        this.form.tAccountstate = 0
          //渠道key
        this.form.tChannelkey = ''
          //注册时间
        this.form.tRegtime = 0
          //注册终端
        this.form.tRegterminaltype = 0
          //注册IP
        this.form.tRegip = ''
          //注册设备
        this.form.tRegdevice =''
          //机器码注册时候是否唯一
        this.form.tIsuniqdevicecode = 0
          //支付宝绑定姓名
        this.form.tAlipayrealname =''
          //支付宝账号
        this.form.tAlipayid = ''
          //银行账号绑定姓名
        this.form.tBankrealname =''
          //银行账号
        this.form.tBankid =''
        this.form.tLastgamebetscore =''
        this.form.tTodaygamebetscore =''
      },

      //手机号码解除
      unbindPhone(row, index) {
        this.$confirm('是否确认将ID为' + row.tAccountid + '手机号码解除?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
          return unbindPhoneNum(row.tAccountid)
        }).then(data => {
          this.$message({
            showClose: true,
            message: '手机号码解除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },

      //清空设备信息
      clearCommon(row, index) {
        this.$confirm('是否确认将ID为' + row.tAccountid + '设备信息清空?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
          return clearCommonDev(row.tAccountid)
        }).then(data => {
          this.$message({
            showClose: true,
            message: '设备信息清空成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },

      //踢人
      doKickUser(row, index) {
        this.$confirm('是否确认将ID为' + row.tAccountid + '踢掉?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
          return kickUser(row.tAccountid)
        }).then(data => {
          this.$message({
            showClose: true,
            message: '踢人成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },

      //重置密码
      resetBankPw(row, index) {
        const object = {
          userId:  row.tAccountid
        };

        this.$confirm('是否确认将ID为' + row.tAccountid + '银行密码重置为123456?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
          return resetBankPw(object)
        }).then(data => {
          this.$message({
            showClose: true,
            message: '重置银行密码成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },

      //弹出银行密码修改dalog
      bankPwShow(row, index) {
        this.bankPwForm.userId = row.tAccountid
        this.showBankPwDialog = true;
      },

      //弹出提现信息
      cashInfoShow(row, index) {
        this.cleanCashForm();

        getObj(row.tAccountid).then(response => {
          this.showCashInfoDialog = true
          this.cashInfo.bank = response.data.data.bank,
          this.cashInfo.bankRealName = response.data.data.bankRealName,
          this.cashInfo.bankPayId = response.data.data.bankPayId,
          this.cashInfo.subBank = response.data.data.subBank,
          this.cashInfo.aliPayId = response.data.data.aliPayId,
          this.cashInfo.aliRealName = response.data.data.aliRealName
        })
      },

      //修改银行密码
      modifyBankPw() {
        //判断验证
        if ( this.bankPwForm.newpassword1 == null ||  this.bankPwForm.newpassword1 == '' ) {
          this.message.error("新密码不能为空!");
          return false;
        }

        if ( this.bankPwForm.newpassword2 == null ||  this.bankPwForm.newpassword2 == '' ) {
          this.message.error("确认密码不能为空!");
          return false;
        }

        if (this.bankPwForm.newpassword1.length < 6) {
          this.message.error("新密码长度必须6位!");
          return false;
        }

        if (this.bankPwForm.newpassword2.length < 6) {
          this.message.error("确认密码长度必须6位!");
          return false;
        }

        if ( this.bankPwForm.newpassword2 !=  this.bankPwForm.newpassword2 ) {
          this.message.error("两次密码必须相同!");
          return false;
        }

        this.showBankPwDialog = false;
        const object = {
          password: this.bankPwForm.newpassword2,
          userId: this.bankPwForm.userId
        };

        modifyBankPw(object).then(response => {
          this.$message({
            showClose: true,
            message: '银行密码变更成功',
            type: 'success'
          })
          this.tableLoading = false
          this.getList(this.page)
        })
      },

      //查看用户所在游戏
      viewInGame(row, index) {
        isInGame(row.tAccountid).then(response => {
          if (response.data.data != null && response.data.data.gameKindName != null && response.data.data.phoneGameName != null) {
            this.$alert(response.data.data.gameKindName + "-" + response.data.data.phoneGameName, '提示', {
              confirmButtonText: '关闭',
              center: true
            });
          } else {
            this.$alert('用户不在游戏中!', '提示', {
              confirmButtonText: '关闭',
              center: true
            });
          }
        })
      },
      //重置密码
      resetAccountPw(row, index) {
        const object = {
          userId:  row.tAccountid
        };

        this.$confirm('是否确认将ID为' + row.tAccountid + '登录密码重置为123456?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
          return resetPw(object)
        }).then(data => {
          this.$message({
            showClose: true,
            message: '重置登录密码成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },

      //弹出密码修改dalog
      accountPwShow(row, index) {
        this.pwForm.userId = row.tAccountid
        this.showPwDialog = true;
      },

      //修改密码
      modifyAccountPw() {
        //判断验证
        if ( this.pwForm.newpassword1 == null ||  this.pwForm.newpassword1 == '' ) {
          this.message.error("新密码不能为空!");
          return false;
        }

        if ( this.pwForm.newpassword2 == null ||  this.pwForm.newpassword2 == '' ) {
          this.message.error("确认密码不能为空!");
          return false;
        }

        if (this.pwForm.newpassword1.length < 6) {
          this.message.error("新密码长度必须6位!");
          return false;
        }

        if (this.pwForm.newpassword2.length < 6) {
          this.message.error("确认密码长度必须6位!");
          return false;
        }

        if (this.pwForm.newpassword2 !=  this.pwForm.newpassword2) {
          this.message.error("两次密码必须相同!");
          return false;
        }

        this.showPwDialog = false;
        const object = {
          password: this.pwForm.newpassword2,
          userId: this.pwForm.userId
        };

        modifyPw(object).then(response => {
          this.$message({
            showClose: true,
            message: '登录密码变更成功',
            type: 'success'
          })
          this.tableLoading = false
          this.getList(this.page)
        })
      },

      //弹出状态修改dalog
      accountStateShow(row, index) {
        this.modifyStateId = row.tAccountid
        if (row.tAccountstate == '0' || row.tAccountstate == 0) {
          this.dataForm.radio = 2
        } else {
          this.dataForm.radio = 1
        }
        this.showStateDialog = true;
      },

      //修改状态
      modifyAccountState() {
        //判断状态信息是否为空
        if (this.dataForm.radio == null || this.dataForm.radio == '') {
           this.message.error("请选择状态信息!")
        }
        this.showStateDialog = false;
        const object = {
          userId: this.modifyStateId,
          state: this.dataForm.radio
        };
        activateState(object).then(response => {
          if (response.data.code === 0) {
            this.$message({
              showClose: true,
              message: '状态变更成功',
              type: 'success'
            })
          } else {
            this.$message.error(data.msg)
          }
          this.tableLoading = false
          this.getList(this.page)
        })
      },
      acountDialogShow(row, index) {
        this.cleanForm();
        //查询获取账户信息
        accountObj(row.tAccountid).then(response => {
          //基础信息
          this.form.tAccountname = response.data.data.taccountname;
          this.form.tPhonenumber = response.data.data.tphonenumber;
          this.form.tNickname = response.data.data.tnickname;

          this.form.tBisregularaccount = response.data.data.tbisregularaccount;
          this.form.tIdcard = response.data.data.tidcard;
          this.form.tLastlogintime = response.data.data.tlastlogintime;

          this.form.tLastlogouttime = response.data.data.tlastlogouttime;
          this.form.tAccountstate = response.data.data.taccountstate;
          this.form.tChannelkey = response.data.data.tchannelkey;

          this.form.tRegtime = response.data.data.tregtime;
          this.form.tRegterminaltype = response.data.data.tregterminaltype;
          this.form.tRegip = response.data.data.tregip;

          this.form.tRegdevice = response.data.data.tregdevice;
          this.form.tIsuniqdevicecode = response.data.data.tisuniqdevicecode;
          this.form.tAlipayrealname = response.data.data.talipayrealname;

          this.form.tAlipayid = response.data.data.talipayid;
          this.form.tBankrealname = response.data.data.tbankrealname;
          this.form.tBankid = response.data.data.tbankid;

          //赋值账户部分
          this.form.tAccountid = response.data.data.taccountid;
          this.form.tSex = response.data.data.tsex;
          this.form.tViplevel = response.data.data.tviplevel;

          this.form.tGoldcoin = response.data.data.tgoldcoin;
          this.form.tBankgoldcoin = response.data.data.tbankgoldcoin;
          this.form.tIsmodifiednick = response.data.data.tismodifiednick;

          this.form.tTotalgametime = response.data.data.ttotalgametime;
          this.form.tTodaygametimerefreshtime = response.data.data.ttodaygametimerefreshtime;
          this.form.tTotalcoinget = response.data.data.ttotalcoinget;

          this.form.tTodaycoinget = response.data.data.ttodaycoinget;
          this.form.tTodaycoinrefreshtime = response.data.data.ttodaycoinrefreshtime;
          this.form.tRechargemoney = response.data.data.trechargemoney;

          this.form.tLastgamebetscore = response.data.data.tlastgamebetscore;
          this.form.tTodaygamebetscore = response.data.data.ttodaygamebetscore;

          //弹出信息
          this.showAcountDialog = true;
        })
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * @title 打开新增窗口
       * @detail 调用crud的handleadd方法即可
       *
       **/
      handleEdit(row, index) {
        this.$refs.crud.rowEdit(row, index)
      },
      handleDel(row, index) {
        this.$refs.crud.rowDel(row, index)
      },
      rowDel: function(row, index) {
        var _this = this
        this.$confirm('是否确认删除ID为' + row.tAccountid, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
            return delObj(row.tAccountid)
          }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '删除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },
      /**
       * @title 数据更新
       * @param row 为当前的数据
       * @param index 为当前更新数据的行数
       * @param done 为表单关闭函数
       *
       **/
      handleUpdate: function(row, index, done) {
        putObj(row).then(data => {
          this.tableData.splice(index, 1, Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '修改成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * @title 数据添加
       * @param row 为当前的数据
       * @param done 为表单关闭函数
       *
       **/
      handleSave: function(row, done) {
        addObj(row).then(data => {
          this.tableData.push(Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '添加成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * 搜索回调
       */
      searchChange(form) {
        this.getList(this.page, form)
      },
      // 弹窗关闭时
      closeHandle () {
        this.$emit('refreshChange')
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
