<template>
  <el-dialog
    title="下载界面配置"
    width="65%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
             label-width="100px">
      <el-row>
        <el-card>
          <el-row>
            <el-col :span="12">
              <el-form-item label="渠道编码:" prop="channelId">
                <el-input size="small" v-model="dataForm.channelId" :disabled=isChecked placeholder="渠道编码"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="图标URL:" prop="logoUrl">
                <el-input size="small" v-model="dataForm.logoUrl" placeholder="图标URL"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="客服URL:" prop="csUrl">
                <el-input size="small" v-model="dataForm.csUrl" placeholder="客服URL"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="背景URL:" prop="backgroundUrl">
                <el-input size="small" v-model="dataForm.backgroundUrl" placeholder="背景URL"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="24">
              <el-form-item label="活动信息:" prop="activityMsg">
                <el-input v-model="dataForm.activityMsg" size="small" type="textarea" :rows="4"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="24">
              <el-form-item label="提示信息:" prop="csTips">
                <el-input v-model="dataForm.csTips" size="small" type="textarea" :rows="4"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
    import {getObj, addObj, putObj} from '@/api/cac/downconfig1'

    export default {
        data() {
            return {
                visible: false,
                btnLoading: false,
                channelId: '',
                isChecked: false,
                dataForm: {
                    id: '',
                    logoUrl: '',
                    csUrl: '',
                    channelId: '',
                    backgroundUrl: '',
                    activityMsg: '',
                    csTips: ''
                },
                dataRule: {
                    channelId: [
                        {required: true, message: '渠道编码不能为空!', trigger: 'blur'}
                    ],
                    logoUrl: [
                        {required: true, message: '图标URL不能为空!', trigger: 'blur'}
                    ],
                    csUrl: [
                        {required: true, message: '客服URL地址不能为空!', trigger: 'blur'}
                    ],
                    backgroundUrl: [
                        {required: true, message: '背景URL地址不能为空!', trigger: 'blur'}
                    ],
                    activityMsg: [
                        {required: true, message: '活动信息不能为空!', trigger: 'blur'}
                    ],
                    csTips: [
                        {required: true, message: '提示信息地址不能为空!', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            crearFrom() {
                this.channelId = ''
                this.isChecked = false
                this.dataForm.logoUrl = ''
                this.dataForm.csUrl = ''
                this.dataForm.activityMsg = ''
                this.dataForm.backgroundUrl = ''
                this.dataForm.csTips = ''
                this.dataForm.channelId = ''
                this.dataForm.id = ''
            },
            init(channelId) {
                this.crearFrom()
                this.btnLoading = false

                this.visible = true
                this.dataForm.channelId = channelId
                this.channelId = channelId

                if (this.dataForm.channelId != null && this.dataForm.channelId != undefined) {
                    getObj(this.dataForm.channelId).then(response => {
                        if (response && response.data.code === 0) {
                            this.isChecked = true
                            this.dataForm.logoUrl = response.data.data.logoUrl
                            this.dataForm.csUrl = response.data.data.csUrl
                            this.dataForm.activityMsg = response.data.data.activityMsg
                            this.dataForm.csTips = response.data.data.csTips
                            this.dataForm.channelId = response.data.data.channelId
                            this.dataForm.backgroundUrl = response.data.data.backgroundUrl
                            this.dataForm.id = response.data.data.id
                        }
                    })
                }
            },
            // 表单提交
            dataFormSubmit() {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        this.btnLoading = true
                        if (this.isChecked) {
                            putObj(this.dataForm).then(data => {
                                this.btnLoading = false
                                if (data && data.data.code === 0) {
                                    this.$message({
                                        message: '配置界面成功',
                                        type: 'success',
                                        duration: 1500,
                                        onClose: () => {
                                            this.visible = false
                                            this.btnLoading = false
                                            this.$emit('refreshDataList')
                                        }
                                    })
                                } else {
                                    this.btnLoading = false
                                    this.$message.error(data.data.msg)
                                }
                            })
                        } else {
                            addObj(this.dataForm).then(data => {
                                this.btnLoading = false
                                if (data && data.data.code === 0) {
                                    this.$message({
                                        message: '配置界面成功',
                                        type: 'success',
                                        duration: 1500,
                                        onClose: () => {
                                            this.visible = false
                                            this.btnLoading = false
                                            this.$emit('refreshDataList')
                                        }
                                    })
                                } else {
                                    this.btnLoading = false
                                    this.$message.error(data.data.msg)
                                }
                            })
                        }
                    }
                })
            }
        }
    }
</script>
