<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm" @keyup.enter.native="getListData()">
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelId" placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="doConfig"
                     size="small"
                     v-if="permissions.cac_cfgchldownload1_add">新 增</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_cfgchldownload1_edit"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="doConfig(scope.row)">编辑</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗配置-->
    <DownLoadConfig  ref="downLoadConfig" @refreshDataList="refreshChange"></DownLoadConfig>
  </div>
</template>

<script>
  import DownLoadConfig from './download-config'
  import {fetchList, getObj, addObj, putObj, delObj} from '@/api/cac/downconfig1'
  import {tableOption} from '@/const/crud/cac/downconfig1'
  import {mapGetters} from 'vuex'

  export default {
      name: 'cfgchldownload1',
      data() {
          return {
              tableData: [],
              page: {
                  total: 0, // 总页数
                  currentPage: 1, // 当前页数
                  pageSize: 20 // 每页显示多少条
              },
              listQuery: {
                  page: 1,
                  limit: 20
              },
              dataForm: {
                  channelId: ''
              },
              showConfigDialog: false,
              tableLoading: false,
              tableOption: tableOption
          }
      },
      created() {
          this.getListData()
      },
      components: {
          DownLoadConfig
      },
      mounted: function () {
      },
      computed: {
          ...mapGetters(['permissions'])
      },
      methods: {
          doConfig(row) {
              this.showConfigDialog = true
              this.$nextTick(() => {
                  this.$refs.downLoadConfig.init(row.channelId)
              })
          },
          getListData() {
              this.page.currentPage = 1
              this.listQuery.page = 1
              this.getList(this.listQuery, this.dataForm);
          },
          getList(page, params) {
              this.tableLoading = true
              fetchList(Object.assign({
                  current: page.page,
                  size: page.limit
              }, params)).then(response => {
                  this.tableData = response.data.data.records
                  this.page.total = response.data.data.total
                  this.tableLoading = false
              })
          },
          refreshChange() {
              this.getList(this.page)
          },
          sizeChange(val) {
              this.page.pageSize = val
              this.listQuery.limit = val
              this.getList(this.listQuery, this.dataForm);
          },
          currentChange(val) {
              this.page.currentPage = val
              this.listQuery.page = val
              this.getList(this.listQuery, this.dataForm);
          }
      }
  }
</script>

<style lang="scss" scoped>
</style>
