<template>
  <el-dialog
    title="配置修改推广域名"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>修改推广域名</span>
          </div>
          <el-col :span="6">
            <el-form-item label="渠道编码:" prop="channelId">
              <el-input type="text" v-model="dataForm.channelId" size="small" placeholder="渠道编码"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="上级ID:" prop="accountId">
              <el-input type="text" v-model="dataForm.accountId" size="small" placeholder="上级ID"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="域名:" prop="url">
              <el-input type="text" v-model="dataForm.url" size="small" placeholder="域名"></el-input>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {addObj} from '@/api/act/bindUrl'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        queryForm: {
          channelId: ''
        },
        dataForm: {
          channelId: '',
          accountId: '',
          url: ''
        },
        subData: {
          channelId: '',
          accountId: '',
          url: ''
        },
        dataRule: {
          channelId: [
            {required: true, message: '渠道编码不能为空', trigger: 'blur'}
          ],
          accountId: [
            {required: true, message: '上级ID不能为空', trigger: 'blur'}
          ],
          url: [
            {required: true, message: '域名不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      crearFrom () {
        this.queryForm.channelId = ''
        this.dataForm.channelId = ''
        this.dataForm.accountId = ''
        this.dataForm.url = ''
        this.btnLoading = false
        this.subData.channelId = ''
        this.subData.accountId = ''
        this.subData.url = ''
      },
      init (channelId) {
        this.visible = true
        this.crearFrom()
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          this.queryForm.channelId = channelId
          if (this.queryForm.channelId) {
            getObj(this.queryForm).then(response => {
              if (response && response.data.code === 0) {
                this.dataForm.channelId = response.data.data.channelId
                this.dataForm.accountId = response.data.data.accountId
                this.dataForm.url = response.data.data.url
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.subData.url = this.dataForm.url
            this.subData.accountId = this.dataForm.accountId
            this.subData.channelId = this.dataForm.channelId
            addObj(this.subData).then(data => {
              if (data.data.code == 0) {
                this.$message({
                  message: '推广域名配置成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              }else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
