<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @search-change="searchChange"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="config"
                     size="small"
                     v-if="permissions.cac_bindUrl_config">配置</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_bindUrl_del"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="bindUrlDel(scope.row)">删除</el-button>
        </template>
      </avue-crud>
    </basic-container>
    <!-- 弹窗配置-->
    <Config  ref="config" @refreshDataList="refreshChange"></Config>
    <!-- 弹窗查看-->
    <View  ref="view" @refreshDataList="refreshChange"></View>
  </div>
</template>

<script>

  import Config from './config'
  import View from './view'

  import { fetchList,delObj} from '@/api/act/bindUrl'
  import { tableOption } from '@/const/crud/act/bindUrl'
  import { mapGetters } from 'vuex'
  export default {
    name: 'bindUrl',
    data() {
      return {
        tableData: [],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        subData: {
          channelId: '',
          accountId: '',
          url: ''
        },
        tableLoading: false,
        showConfigDialog: false,
        showViewDialog: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    components: {
      Config,
      View
    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      bindUrlDel (row) {
        this.$confirm(`确定对当前配置删除操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.subData.accountId= row.accountId;
          this.subData.channelId= row.channelId;
          this.subData.url= row.url;
          delObj(this.subData).then(data => {
            if (data.data.code == 0) {
              this.$message({
                message: '推广域名删除成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.visible = false
                  this.btnLoading = false
                  this.$emit('refreshDataList')
                }
              })
            }else {
              this.$message.error(data.msg)
              this.btnLoading = false
            }
          })
        }).catch(() => {
        })
      },
      searchChange(form) {
        this.getList(this.page, form)
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeDialog () {
        this.showConfigDialog = false
        this.showViewDialog = false
      },
      config (row) {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.config.init(row.channelId)
        })
      },
      view (row) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.view.init(row.channelId)
        })
      },
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
