<template>
  <el-dialog
    title="查看推广域名配置"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" ref="dataForm" label-width="120px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>配置信息</span>
          </div>
          <el-col :span="12">
            <el-form-item label="渠道信息:" prop="channelName" label-width="140px">
              <el-tag type="warning" style="width: 140px"> {{dataForm.channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="域名:" prop="award" label-width="140px">
              <el-tag type="warning" style="width: 140px"> {{dataForm.url}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        tempArr: [],
        queryForm: {
          channelId: ''
        },
        dataForm: {
          channelId: '',
          accountId: '',
          channelName: '',
          url: ''
        }
      }
    },
    methods: {
      crearFrom () {
        this.queryForm.channelId = ''
        this.dataForm.channelName = ''
        this.dataForm.accountId = ''
        this.dataForm.url = ''
      },
      init (channelId) {
        this.crearFrom()
        this.queryForm.channelId = channelId
        this.$nextTick(() => {
          this.visible = true
          getObj(this.queryForm).then(response => {
            if (response && response.data.code === 0) {
              this.dataForm.channelId = response.data.data.channelId
              this.dataForm.channelName = response.data.data.channelName
              this.dataForm.accountId = response.data.data.accountId
              this.dataForm.url = response.data.data.url
            }
          })
        })
      }
    }
  }
</script>
