<template>
  <div class="execution">
    <basic-container>
      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="searchChange()">
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelNo"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="用户ID:">
            <el-input size="small" v-model="dataForm.accountId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="开始时间:">
            <el-date-picker size="small" v-model="dataForm.startTime" placeholder="开始时间"   value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间:">
            <el-date-picker size="small" v-model="dataForm.endTime"  placeholder="结束时间"    value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss"  :picker-options="pickerOptions" type="date" ></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="searchChange()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>


      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @size-change="sizeChange"
                 @current-change="currentChange"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
        </template>
      </avue-crud>
    </basic-container>
  </div>
</template>

<script>
  import { fetchList} from '@/api/report/treasurechange'
  import { tableOption } from '@/const/crud/report/treasurechange'
  import { mapGetters } from 'vuex'
  export default {
    name: 'treasurechange',
    data() {
      return {
        pickerOptions: {
            disabledDate: time => {
                return (
                    time < new Date(this.cooperationBegin + ' 00:00:00') ||
                    time > new Date(this.cooperationEnd + ' 00:00:00')
                )
            }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        tableData: [],
        dataForm: {
          accountId: '',
          startTime: '',
          channelNo: '',
          endTime: '',
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
        this.initTimeData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      initTimeData () {
          this.dataForm.startTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 00:00:00'
          this.dataForm.endTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 23:59:59'
      },
      searchChange() {
        if (this.dataForm.startTime === '' || this.dataForm.startTime === null || this.dataForm.endTime === '' || this.dataForm.endTime === null) {
            this.$message.error('查询起止时间不能为空!')
            return
        }
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm);
      },
      getList(page, queryDto) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, queryDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
