<style type="text/css">
  .el-form-item {
    margin-bottom: 5px;
  }

  .avue-crud__menu {
    margin-bottom: 0px;
  }

  .el-card__body {
    padding-top: 3px;
  }

  .avue-crud__header {
    margin-bottom: 0px;
  }

  .avue-crud__box .el-card__body, .avue-crud__box .el-card__header {
    padding-top: 8px;
  }

  .cell-f12 {
    font-size: 12px;
  }

  .cell-f12-b {
    font-size: 12px;
    font-weight: bolder;
  }
</style>
<template>
  <div class="execution">
    <basic-container>
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getListData()">
        <el-row style="margin-left: 10px;margin-top: 10px;">
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.channelId" placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.userId" placeholder="用户ID" prefix-icon="el-icon-edit" clearable
                        onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="12"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.bettingCode" placeholder="注单号" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="margin-left: 10px">
          <el-col :span="3">
            <el-form-item>
              <el-select v-model="dataForm.type" size="small" placeholder="类型" clearable>
                <!--<el-option v-for="item in qls" :key="item.value" :label="item.label" :value="item.value"/>-->
                <el-option key="1" value="1" label="AG"/>
                <el-option key="2" value="2" label="BBIN"/>
                <el-option key="3" value="3" label="MG"/>
                <el-option key="5" value="5" label="ALLBET"/>
                <el-option key="6" value="6" label="PT"/>
                <el-option key="7" value="7" label="OG"/>
                <el-option key="8" value="8" label="DS"/>
                <el-option key="13" value="13" label="EBET"/>
                <el-option key="98" value="98" label="BG"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item>
              <el-date-picker v-model="dataForm.bettingTime"
                              :picker-options="pickerOptions"
                              size="small" type="datetimerange"
                              value-format="timestamp"
                              format="yyyy-MM-dd HH:mm:ss" range-separator="至" start-placeholder="开始时间" end-placeholder="截止时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="1.5">
            <el-form-item>
              <el-button type="primary" size="small" @click="getListData()" icon="el-icon-search">查询</el-button>
            </el-form-item>
          </el-col>
          <el-col :span="1.5">
            <el-form-item>
              <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <avue-crud ref="crud"
                 :cell-class-name="addCellClass"
                 :header-cell-class-name="addHeadCellClass"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
        <template slot="status"
                  slot-scope="scope">
          <el-tag v-if="scope.row.status === 1" size="small">{{scope.label}}</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="success">{{scope.label}}</el-tag>
          <el-tag v-else-if="scope.row.status === 3" size="small" type="danger">{{scope.label}}</el-tag>
        </template>

        <template slot="ks" slot-scope="scope">
          <span>{{(scope.row.realBettingMoney - scope.row.winMoney).toFixed(2)}}</span>
        </template>
      </avue-crud>
    </basic-container>
  </div>
</template>

<script>
  import {queryLive} from '@/api/betting/record'
  import {tableOption} from '@/const/crud/betting/live'
  import {mapGetters} from 'vuex'

  export default {
    name: 'lhboard',
    data() {
      const end = new Date()
      const start = new Date();
      start.setTime(end.getTime() - 3600 * 1000 * 24 * 7);
      return {
        tableData: [],
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        lotCodes: [{
          value: 'SHHK3',
          label: '上海快三'
        }, {
          value: 'JND28',
          label: '加拿大28'
        }],
        dataForm: {
          channelId: '',
          startTime: null,
          endTime: null,
          bettingTime: [start.getTime(), end.getTime()],
          bettingCode: '',
          userId: null,
          type: null
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
      this.initTimeData()
      this.getListData()
    },
    mounted: function () {
    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      addCellClass({row, column, rowIndex, columnIndex}) {
        return 'cell-f12'
      },
      addHeadCellClass({row, column, rowIndex, columnIndex}) {
        return 'cell-f12-b'
      },
      clearForm() {
        this.dataForm.bettingTime = []
        this.dataForm.startTime = null
        this.dataForm.endTime = null
        this.dataForm.channelId = ''
        this.dataForm.bettingCode = ''
        this.dataForm.userId = null
        this.dataForm.type = null
      },
      initTimeData() {
        const end = new Date()
        const start = new Date()
        start.setTime(end.getTime() - 3600 * 1000 * 24 * 7)
        this.dataForm.bettingTime = [start.getTime(), end.getTime()]
      },
      getListData() {
        this.page.currentPage = 1
        this.listQuery.page = 1

        this.getList(this.listQuery, this.dataForm);
      },

      getList(page, queryDto) {
        this.tableLoading = true
        if (queryDto.bettingTime != null && queryDto.bettingTime.length === 2) {
          queryDto.startTime = this.dataForm.bettingTime[0]
          queryDto.endTime = this.dataForm.bettingTime[1]
        } else {
          queryDto.startTime = null
          queryDto.endTime = null
        }
        queryDto.type = queryDto.type ? queryDto.type : null
        queryDto.userId = queryDto.userId ? queryDto.userId : null
        queryLive(Object.assign({
          offset: (page.page - 1) * page.limit,
          limit: page.limit
        }, queryDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm)
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
