<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @row-update="handleUpdate"
                 @row-save="handleSave"
                 @row-del="rowDel">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="handleAdd"
                     size="small"
                     v-if="permissions.admin_sysfile_add">新 增</el-button>
          <el-button type="info"
                     @click="showConfigDialog"
                     size="small">云储存配置</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.admin_sysfile_del"
                     icon="el-icon-delete"
                     size="small"
                     plain
                     @click="handleDel(scope.row,scope.index)">删除</el-button>

          <el-button type="text"
                     v-if="permissions.admin_sysfile_del"
                     icon="el-icon-view"
                     size="small"
                     plain
                     @click="copyUrl(scope.row,scope.index)">复制URL</el-button>
        </template>
      </avue-crud>
    </basic-container>
    <!-- 弹窗, 上传文件 -->
    <el-dialog title="上传文件"
               @close="closeHandle"
               :visible.sync="showDialog">
      <div>
        <basic-container>
          <avue-form :option="option"
                     align="center"
                     v-model="form"
                     name="file"
                     @submit="handleSubmit"
                     :upload-before="uploadBefore"
                     :upload-after="uploadAfter"></avue-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary" size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>


    <!-- 弹窗, 云存储配置 -->
    <el-dialog title="云存储配置"
               @close="closeHandle"
               :visible.sync="showOssConfigDialog">
      <div>
        <basic-container>
          <el-form :model="ossConfigForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="handleConfig()" label-width="120px">
            <el-form-item size="mini" label="存储类型">
              <el-radio-group v-model="ossConfigForm.type">
                <el-radio :label="1">七牛</el-radio>
                <el-radio :label="2">阿里云</el-radio>
              </el-radio-group>
            </el-form-item>
            <template v-if="ossConfigForm.type === 1">
              <el-form-item label="域名">
                <el-input v-model="ossConfigForm.qiniuDomain" placeholder="七牛绑定的域名"></el-input>
              </el-form-item>
              <el-form-item label="路径前缀">
                <el-input v-model="ossConfigForm.qiniuPrefix" placeholder="不设置默认为空"></el-input>
              </el-form-item>
              <el-form-item label="AccessKey">
                <el-input v-model="ossConfigForm.qiniuAccessKey" placeholder="七牛AccessKey"></el-input>
              </el-form-item>
              <el-form-item label="SecretKey">
                <el-input v-model="ossConfigForm.qiniuSecretKey" placeholder="七牛SecretKey"></el-input>
              </el-form-item>
              <el-form-item label="空间名">
                <el-input v-model="ossConfigForm.qiniuBucketName" placeholder="七牛存储空间名"></el-input>
              </el-form-item>
            </template>
            <template v-else-if="ossConfigForm.type === 2">
              <el-form-item label="域名">
                <el-input v-model="ossConfigForm.aliyunDomain" placeholder="阿里云绑定的域名"></el-input>
              </el-form-item>
              <el-form-item label="路径前缀">
                <el-input v-model="ossConfigForm.aliyunPrefix" placeholder="不设置默认为空"></el-input>
              </el-form-item>
              <el-form-item label="EndPoint">
                <el-input v-model="ossConfigForm.aliyunEndPoint" placeholder="阿里云EndPoint"></el-input>
              </el-form-item>
              <el-form-item label="AccessKeyId">
                <el-input v-model="ossConfigForm.aliyunAccessKeyId" placeholder="阿里云AccessKeyId"></el-input>
              </el-form-item>
              <el-form-item label="AccessKeySecret">
                <el-input v-model="ossConfigForm.aliyunAccessKeySecret" placeholder="阿里云AccessKeySecret"></el-input>
              </el-form-item>
              <el-form-item label="BucketName">
                <el-input v-model="ossConfigForm.aliyunBucketName" placeholder="阿里云BucketName"></el-input>
              </el-form-item>
            </template>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
            <el-button type="primary" size="small" @click="handleConfig()">确定</el-button>
            <el-button size="small" @click="closeDialog()">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import {fetchList, getObj, addObj, putObj, delObj, getOssConfig, updateOssConfig} from '@/api/admin/sysfile'
  import { tableOption } from '@/const/crud/admin/sysfile'
  import fileOption from '@/const/crud/admin/uploadoption'
  import { mapGetters } from 'vuex'
  export default {
    name: 'sysfile',
    data() {
      return {
        url: 'http://localhost:9999/admin/sysfile/upload',
        tableData: [],
        option: fileOption,
        buttonIsShow: false,
        showDialog: false,
        showOssConfigDialog: false,
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        ossConfigForm: {
          type: 1,
          qiniuDomain: '',
          qiniuPrefix: '',
          qiniuAccessKey: '',
          qiniuSecretKey: '',
          qiniuBucketName: '',
          aliyunDomain: '',
          aliyunPrefix: '',
          aliyunEndPoint: '',
          aliyunAccessKeyId: '',
          aliyunAccessKeySecret: '',
          aliyunBucketName: ''
        },
        uploadVisible: false,
        tableLoading: false,
        tableOption: tableOption,
        num: 0,
        successNum: 0,
        fileList: []
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      copyUrl(row, index){
        this.$copyText(row.fileUrl).then(
          this.$message({
            showClose: true,
            message: '复制图片URL成功!',
            type: 'success'
          }))
      },
      showConfigDialog() {
        getOssConfig().then(response => {
          this.ossConfigForm.type = response.data.data.type;
          this.ossConfigForm.qiniuDomain = response.data.data.qiniuDomain;
          this.ossConfigForm.qiniuPrefix = response.data.data.qiniuPrefix;

          this.ossConfigForm.qiniuAccessKey = response.data.data.qiniuAccessKey;
          this.ossConfigForm.qiniuSecretKey = response.data.data.qiniuSecretKey;
          this.ossConfigForm.qiniuBucketName = response.data.data.qiniuBucketName;

          this.ossConfigForm.aliyunDomain = response.data.data.aliyunDomain;
          this.ossConfigForm.aliyunPrefix = response.data.data.aliyunPrefix;
          this.ossConfigForm.aliyunEndPoint = response.data.data.aliyunEndPoint;

          this.ossConfigForm.aliyunAccessKeyId = response.data.data.aliyunAccessKeyId;
          this.ossConfigForm.aliyunAccessKeySecret = response.data.data.aliyunAccessKeySecret;
          this.ossConfigForm.aliyunBucketName = response.data.data.aliyunBucketName;
          this.showOssConfigDialog = true;
        })
      },
      handleConfig() {
        //验证数据
        updateOssConfig(this.ossConfigForm).then(response => {
          if (response && response.data.code === 0) {
            this.$message({
              showClose: true,
              message: '修改配置成功',
              type: 'success'
            })
            this.showOssConfigDialog = false;
          }
        })
      },
      closeDialog() {
        this.showDialog = false;
        this.showOssConfigDialog = false;
      },
      uploadBefore (file, done) {
        console.log(file);
        //验证文件大小，文件后缀
        if (file.type !== 'image/jpg' && file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
          this.$message.error('只支持jpg、png、gif格式的图片！')
          return false
        }
        this.num++
        done();
      },
      // 上传成功
      successHandle (response, file, fileList) {
        this.fileList = fileList
        this.successNum++
        if (response && response.code === 0) {
          if (this.num === this.successNum) {
            this.$confirm('操作成功, 是否继续操作?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).catch(() => {
              this.visible = false
            })
          }
        } else {
          this.$message.error(response.msg)
        }
      },

      uploadAfter (error, done) {
        console.log(error);
        done();
        this.$message.success('上传文件成功')
        this.showDialog = false
        this.refreshChange()
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * @title 打开新增窗口
       * @detail 调用crud的handleadd方法即可
       *
       **/
      handleAdd: function() {
        this.showDialog = true;
      },
      handleDel(row, index) {
        this.$refs.crud.rowDel(row, index)
      },
      rowDel: function(row, index) {
        var _this = this
        this.$confirm('是否确认删除ID为' + row.id, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
            return delObj(row.id)
          }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '删除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },

      /**
       * @title 数据添加
       * @param row 为当前的数据
       * @param done 为表单关闭函数
       *
       **/
      handleSave: function(row, done) {
        addObj(row).then(data => {
          this.tableData.push(Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '添加成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      // 弹窗关闭时
      closeHandle () {
        this.fileList = []
        this.$emit('refreshChange')
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
