<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="牌局ID:">
            <el-input size="small" v-model="dataForm.recordId"  placeholder="牌局ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="用户ID:">
            <el-input size="small" v-model="dataForm.accountId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelNo"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="游戏时间:">
            <el-date-picker size="small" v-model="dataForm.queryTime" placeholder="游戏时间"    value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">

        <template slot-scope="scope" slot="menu">
          <el-button type="text"
                     v-if="permissions.board_sgj_detail"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="dialogShow(scope.row,scope.index)">牌局详情
          </el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 查看账户信息 -->
    <el-dialog title="牌局详情"
               @close="closeHandle"
               width="60%"
               :visible.sync="showDialog">
      <div style="align:center; text-align:center">
        <div slot="header" class="clearfix">
          <span> {{form.endIntegral}}</span>
        </div>
        <el-form style="align:center; text-align:center">
          <el-row v-for="i in form.recordInfo" :key="i" style="align:center; text-align:center">
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center" v-if="i">
                <img :src="i.img0" height="70" width="70"/>
              </el-card>
            </el-col>
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center" v-if="i">
                <img :src="i.img1" height="70" width="70"/>
              </el-card>
            </el-col>
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center" v-if="i">
                <img :src="i.img2" height="70" width="70"/>
              </el-card>
            </el-col>
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center" v-if="i">
                <img :src="i.img3" height="70" width="70"/>
              </el-card>
            </el-col>
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center" v-if="i">
                <img :src="i.img4" height="70" width="70"/>
              </el-card>
            </el-col>
          </el-row>
        </el-form>
        <br/>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
  import {sgjfetchList} from '@/api/game/board'
  import {tableOption} from '@/const/crud/game/sgjboard'
  import {mapGetters} from 'vuex'

  export default {
    name: 'sgjboard',
    data() {
      return {
        tableData: [],
        showDialog: false,
        dataForm: {
          recordId: '',
          channelNo: '',
          accountId: '',
          queryTime: ''
        },
        form: {
          recordInfo : '',
          endIntegral : ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created () {
      this.initTimeData()
      this.getListData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
       dialogShow(row, index) {
         this.form.recordInfo =  row.recordInfo;
         this.form.endIntegral =  row.endIntegral;
         this.showDialog = true;
      },
      initTimeData () {
         this.dataForm.queryTime = this.$moment(new Date()).format('YYYY-MM-DD')
      },
      getListData() {
        if (this.dataForm.queryTime == null || this.dataForm.queryTime == '' ) {
            this.$message.error('游戏时间不能为空！')
            return false
        }
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm);
      },
      getList(page, boardDto) {
        this.tableLoading = true
        sgjfetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, boardDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeHandle () {
        this.$emit('refreshChange')
      },
      closeDialog() {
        this.showDialog = false;
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery)
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
