<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @search-change="searchChange"
                 @row-update="handleUpdate"
                 @row-save="handleSave"
                 @row-del="rowDel">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="handleAdd"
                     size="small"
                     v-if="permissions.cac_syssmsconfig_add">新 增</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_syssmsconfig_edit"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="handleEdit(scope.row,scope.index)">编辑</el-button>
          <el-button type="text"
                     v-if="permissions.cac_syssmsconfig_del"
                     icon="el-icon-delete"
                     size="small"
                     plain
                     @click="handleDel(scope.row,scope.index)">删除</el-button>
          <el-button type="text"
                     v-if="permissions.cac_syssmsconfig_activate"
                     icon="el-icon-share"
                     size="small"
                     plain
                     @click="handActivate(scope.row,scope.index)">激活</el-button>
          <el-button type="text"
                     v-if="permissions.cac_syssmsconfig_setting"
                     icon="el-icon-view"
                     size="small"
                     plain
                     @click="showSettingDialog(scope.row,scope.index)">设置</el-button>
        </template>
      </avue-crud>
    </basic-container>


    <!-- 弹窗, 云存储配置 -->
    <el-dialog title="短信配置"
               @close="closeHandle"
               :visible.sync="showSmsSettingDialog">
      <div>
        <basic-container>
          <el-form :model="smsSettingForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="handleConfig()" label-width="120px">
            <el-form-item size="mini" label="短信服务">
              <el-radio-group v-model="smsSettingForm.type">
                <el-radio :label="1" >阿里大鱼</el-radio>
                <el-radio :label="2" >云信互联</el-radio>
                <el-radio :label="3" >容联云</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="发送模式">
              <el-select v-model="smsSettingForm.mode"  clearable style="width: 120px">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"  />
              </el-select>
            </el-form-item>
            <template v-if="smsSettingForm.type === 1">
              <el-form-item label="AccessKey">
                <el-input v-model="smsSettingForm.aliAccessKey" placeholder="阿里大鱼AccessKey"></el-input>
              </el-form-item>
              <el-form-item label="SecretKey">
                <el-input v-model="smsSettingForm.aliSecretKey" placeholder="阿里大鱼SecretKey"></el-input>
              </el-form-item>
              <el-form-item label="签名">
                <el-input v-model="smsSettingForm.aliSignName" placeholder="阿里大鱼签名"></el-input>
              </el-form-item>
            </template>
            <template v-else-if="smsSettingForm.type === 2">
              <el-form-item label="请求地址">
                <el-input v-model="smsSettingForm.serverUrl" placeholder="请求地址"></el-input>
              </el-form-item>
              <el-form-item label="账户">
                <el-input v-model="smsSettingForm.account" placeholder="账户"></el-input>
              </el-form-item>
              <el-form-item label="登录密码">
                <el-input v-model="smsSettingForm.clientPw" placeholder="登录密码"></el-input>
              </el-form-item>
              <el-form-item label="接口密码">
                <el-input v-model="smsSettingForm.intfacePw" placeholder="接口密码"></el-input>
              </el-form-item>
              <el-form-item label="接入码">
                <el-input v-model="smsSettingForm.code" placeholder="接入码"></el-input>
              </el-form-item>
            </template>
            <template v-else-if="smsSettingForm.type === 3">
              <el-form-item label="请求地址">
                <el-input v-model="smsSettingForm.rongLianServerIp" placeholder="请求地址"></el-input>
              </el-form-item>
              <el-form-item label="端口">
                <el-input v-model="smsSettingForm.rongLianServerPort" placeholder="端口"></el-input>
              </el-form-item>
              <el-form-item label="主账户">
                <el-input v-model="smsSettingForm.rongLianAccount" placeholder="主账户"></el-input>
              </el-form-item>
              <el-form-item label="主令牌">
                <el-input v-model="smsSettingForm.rongLianToken" placeholder="主令牌"></el-input>
              </el-form-item>
              <el-form-item label="AppID">
                <el-input v-model="smsSettingForm.rongLianAppId" placeholder="AppID"></el-input>
              </el-form-item>
            </template>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
            <el-button type="primary" size="small" @click="handleConfig()">确定</el-button>
            <el-button size="small" @click="closeDialog()">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, getObj, addObj, putObj, delObj,activate, getSmsSetting, updateSmsSetting } from '@/api/cac/syssmsconfig'
  import { tableOption } from '@/const/crud/cac/syssmsconfig'
  import { mapGetters } from 'vuex'
  export default {
    name: 'syssmsconfig',
    data() {
      return {
        tableData: [],
        showSmsSettingDialog: false,
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        options: [{
          label: '发模板',
          value: "1"
        }, {
          label: '发内容',
          value: "2"
          }
        ],
        tableLoading: false,
        tableOption: tableOption,
        configId: 0,
        smsSettingForm: {
          type: 1,
          mode: 1,
          account:'',
          clientPw:'',
          intfacePw: '',
          code: '',
          serverUrl: '',
          aliAccessKey: '',
          aliSecretKey: '',
          aliSignName: '',
          rongLianServerIp: '',
          rongLianServerPort: '',
          rongLianAccount: '',
          rongLianToken: '',
          rongLianAppId: ''
        },
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      searchChange(form) {
        this.getList(this.page, form)
      },
      closeDialog() {
        this.showSmsSettingDialog = false;
      },
      showSettingDialog(row, index) {
        this.configId = row.id;
        getSmsSetting(row.id).then(response => {
          if (response.data.data.type == null || response.data.data.type == '') {
            this.smsSettingForm.type = 1;
          } else {
            this.smsSettingForm.type = response.data.data.type;
          }
          this.smsSettingForm.mode = response.data.data.mode;
          this.smsSettingForm.aliAccessKey = response.data.data.aliAccessKey;
          this.smsSettingForm.aliSecretKey = response.data.data.aliSecretKey;

          this.smsSettingForm.aliSignName = response.data.data.aliSignName;
          this.smsSettingForm.account = response.data.data.account;
          this.smsSettingForm.clientPw = response.data.data.clientPw;

          this.smsSettingForm.serverUrl = response.data.data.serverUrl;
          this.smsSettingForm.intfacePw = response.data.data.intfacePw;
          this.smsSettingForm.code = response.data.data.code;

          this.smsSettingForm.rongLianServerIp = response.data.data.rongLianServerIp;
          this.smsSettingForm.rongLianServerPort = response.data.data.rongLianServerPort;
          this.smsSettingForm.rongLianAccount = response.data.data.rongLianAccount;

          this.smsSettingForm.rongLianToken = response.data.data.rongLianToken;
          this.smsSettingForm.rongLianAppId = response.data.data.rongLianAppId;
          this.showSmsSettingDialog = true;
        })
      },

      handleConfig() {
        //验证数据
        updateSmsSetting(this.configId, this.smsSettingForm).then(response => {
          if (response && response.data.code === 0) {
            this.$message({
              showClose: true,
              message: '修改短信配置成功',
              type: 'success'
            })
            this.showSmsSettingDialog = false;
          }
        })
      },

      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      handActivate:  function(row, index) {
        var _this = this
        this.$confirm('是否确定激活ID为' + row.id, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
          return activate(row.id)
        }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '激活成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },
      /**
       * @title 打开新增窗口
       * @detail 调用crud的handleadd方法即可
       *
       **/
      handleAdd: function() {
        this.$refs.crud.rowAdd()
      },
      handleEdit(row, index) {
        this.$refs.crud.rowEdit(row, index)
      },
      handleDel(row, index) {
        this.$refs.crud.rowDel(row, index)
      },
      rowDel: function(row, index) {
        var _this = this
        this.$confirm('是否确认删除ID为' + row.id, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
            return delObj(row.id)
          }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '删除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },
      /**
       * @title 数据更新
       * @param row 为当前的数据
       * @param index 为当前更新数据的行数
       * @param done 为表单关闭函数
       *
       **/
      handleUpdate: function(row, index, done) {
        putObj(row).then(data => {
          this.tableData.splice(index, 1, Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '修改成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * @title 数据添加
       * @param row 为当前的数据
       * @param done 为表单关闭函数
       *
       **/
      handleSave: function(row, done) {
        addObj(row).then(data => {
          this.tableData.push(Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '添加成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
