<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @search-change="searchChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="showConfigDialog"
                     size="small"
                     v-if="permissions.cac_userctrl_config">设置控制</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_userctrl_cancel && (scope.row['type'] === 1 || scope.row['type'] === 2)"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="cancelCtrl (scope.row['accountId'], scope.row['gameId'])">解控</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!--玩家控制-->
    <el-dialog title="玩家控制"
               @close="closeHandle"
               width="45%"
               :visible.sync="showConfigVisible">
      <el-alert
        title="提示："
        type="warning"
        :closable="false"
        style="margin-bottom: 30px">
        <div slot-scope="description">
          <p class="el-alert__description"> 下注限额: 如果是放水, 单局下注低于此值才放水; 如果是缩水, 单局下注超过此值才缩水 </p>
          <p class="el-alert__description"> 控制权重: 如果是多人房间,此值表示权重(0-100), 如果是单人房(财神) 标出触发概率(0-100) </p>
        </div>
      </el-alert>

      <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
               label-width="100px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="控制用户ID:" size="mini" prop="accountId" label-width="110px">
              <el-input v-model="dataForm.accountId"  size="mini" placeholder="用户ID"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="控制局数:" size="mini" prop="round" label-width="110px">
              <el-input-number v-model="dataForm.round"  size="mini" :min="1" :max="20" label="控制局数"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="控制类型:" size="mini"  prop="type" label-width="110px">
              <el-select v-model="dataForm.type"  size="mini" :span="12">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="下注限额(元):" size="mini" prop="betLimit" label-width="110px">
              <el-input-number v-model="dataForm.betLimit"  size="mini" :min="0" :max="9999999999" label="下注限额"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="控制权重:" prop="rate" label-width="110px">
              <el-input-number v-model="dataForm.rate"  size="mini" :min="0" :max="100" label="控制权重"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item label="控制游戏:" size="mini" prop="gameList"  label-width="110px">
            <el-transfer v-model="dataForm.gameList" size="mini" :data="dataForm.gameRoomList" :titles="['待选房间', '已选房间']"
            ></el-transfer>
          </el-form-item>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
      <el-button @click="closeHandle()"  size="mini">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()"  size="mini">确定</el-button>
    </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, getObj, addConfig, cancelCtrl, delObj, getRoom } from '@/api/maint/userctrl'
  import { tableOption } from '@/const/crud/maint/userctrl'
  import { mapGetters } from 'vuex'
  export default {
    name: 'userctrl',
    data() {
      return {
        showConfigVisible: false,
        showdetailVisible: false,
        tableData: [],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        dataForm:{
          accountId: '',
          type: 1,
          betLimit: 0,
          rate: 0,
          round: 0,
          gameRoomList: [],
          roomList: '',
          gameList: []
        },
        options: [{
          value: 1,
          label: '放水'
        }, {
          value: 2,
          label: '缩水'
        }],
        dataRule: {
          accountId: [
            {required: true, message: '用户编码不能为空', trigger: 'blur'}
          ],
          type: [
            {required: true, message: '控制类型不能为空', trigger: 'blur'}
          ],
          betLimit: [
            {required: true, message: '下注限额不能为空', trigger: 'blur'}
          ],
          rate: [
            {required: true, message: '控制权值不能为空', trigger: 'blur'}
          ],
          round: [
            {required: true, message: '控制局数不能为空', trigger: 'blur'}
          ],
          gameList: [
            {required: true, message: '控制游戏不能为空', trigger: 'blur'}
          ]
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      cancelCtrl (userId, gameRoomId) {
        this.$confirm(`确定对[id=${userId}]进行解控?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          cancelCtrl(
            Object.assign({
              accountId: userId,
              roomList: gameRoomId
            })
          ).then(response => {
            if (response && response.data.code === 0) {
              this.$message({
                message: '操作成功!',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.visible = false
                  this.$emit('searchChange')
                }
              })
            }
            this.getList(this.page)
          })
        }).catch(() => {})
      },
      showConfigDialog() {
        this.clearForm()
        getRoom().then(response => {
          if (response && response.data.code === 0) {
            this.dataForm.gameRoomList = response.data.data
            this.showConfigVisible = true
          }
        })
      },
      clearForm() {
        this.dataForm.accountId = ''
        this.dataForm.type = 1
        this.dataForm.betLimit = 0

        this.dataForm.rate = 0
        this.dataForm.round = 0
        this.dataForm.gameRoomList = []

        this.dataForm.roomList = ''
        this.dataForm.gameList = []
      },
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.dataForm.roomList = ''
            for (var i = 0; i < this.dataForm.gameList.length; i++) {
              this.dataForm.roomList += this.dataForm.gameList[i]
              if (i < this.dataForm.gameList.length - 1) {
                this.dataForm.roomList += ','
              }
            }
            this.doSet(this.dataForm);
          }
        })
      },
      doSet(userCtrlDto) {
        addConfig(userCtrlDto).then(response => {
          if (response && response.data.code === 0) {
            this.$message({
              showClose: true,
              message: '控制成功',
              type: 'success'
            })
            this.showConfigVisible = false
            this.getList(this.page)
          } else {

          }
      })},
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      },
      searchChange(form) {
        this.getList(this.page, form)
      },
      closeHandle() {
        this.showConfigVisible = false
        this.showdetailVisible = false
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
