<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @search-change="searchChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="showConfigDialog"
                     size="small"
                     v-if="permissions.cac_bind_set">配置</el-button>
        </template>
        <template slot-scope="scope" slot="menu">
          <el-button type="text"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="bindEdit(scope.row.channelId)">编辑</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <el-dialog title="绑定送金设置"
               @close="closeHandle"
               width="28%"
               :visible.sync="showConfigVisible">
      <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="150px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="渠道编码:"   prop="channelId" label-width="150px">
              <el-input v-model="dataForm.channelId" size="mini"  style="width:200px" placeholder="渠道编码"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16" >
            <el-form-item label=" 推广返利模式:" prop="promoteType">
              <el-select v-model="dataForm.promoteType" size="mini" style="width: 200px">
                <el-option size="small" v-for="item in promoteOptions" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="转正赠送金额(分):" prop="giveValue" label-width="150px">
              <el-input-number v-model="dataForm.giveValue"   size="mini" :min="0" :max="99999999" label="转正赠送金额(分)" style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="第一级返利(‱):" prop="rebate">
              <el-input-number v-model="dataForm.rebate"  size="mini"  :min="0" :max="99999999" label="第一级返利(‱)" style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16">
            <el-form-item label="是否开放兑换:" prop="exchange">
              <el-select v-model="dataForm.exchange"  size="mini"  style="width: 200px">
                <el-option  v-for="item in options" :key="item.value"  :label="item.label"  :value="item.value" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="最低兑换额度(分):" prop="minExchange">
              <el-input-number v-model="dataForm.minExchange"  size="mini" :min="0" :max="99999999" label="最低兑换额度(分)" style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="注册初始化金币(分):" prop="minExchange">
              <el-input-number v-model="dataForm.initCoin"  size="mini"  :min="0" :max="99999999" label="注册初始化金币(分)" style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="打码量倍率:" prop="damaMulti">
              <el-input-number v-model="dataForm.damaMulti" size="mini"   :min="0" :max="999999" label="打码量倍率" style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="返利打码量倍率:" prop="rebateDamaMulti">
              <el-input-number v-model="dataForm.rebateDamaMulti" size="mini"   :min="0" :max="999999" label="返利打码量倍率" style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="用户每天可兑换次:" prop="exchangeCount">
              <el-input-number v-model="dataForm.exchangeCount" size="mini"   :min="0" :max="999999" label="返利打码量倍率" style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="重置打码量金额(分):" prop="resetDamaLeftCoin">
              <el-input-number v-model="dataForm.resetDamaLeftCoin" size="mini"   :min="0" :max="999999" label="返利打码量倍率" style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="绑定彩票站点:" prop="cpStationId">
              <el-input-number v-model="dataForm.cpStationId" size="mini"   :min="0" :max="999999999" label="绑定彩票站点" style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24" style="float: none;margin: 0 auto">
            <el-form-item label="第三方金币限额:" prop="cpStationId">
              <el-input-number v-model="dataForm.cpLimit" size="mini"  :min="0" :max="99999" :step="10" label="第三方金币限额"
                               style="width: 200px;"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
      <el-button @click="closeHandle()"  size="mini">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()"  size="mini">确定</el-button>
    </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, doset, getObj } from '@/api/act/bind'
  import { tableOption } from '@/const/crud/act/bind'
  import { mapGetters } from 'vuex'
  export default {
    name: 'bind',
    data() {
      return {
        tableData: [],
        showConfigVisible : false,
        dataForm: {
          channelId: 0,
          giveValue: '',
          rebate: '',
          exchange: 0,
          minExchange: '',
          initCoin: '',
          damaMulti: '',
          rebateDamaMulti:'',
          exchangeCount: 1,
          resetDamaLeftCoin: 1,
          cpStationId: 0,
          cpLimit:0
        },
        dataRule: {
          channelId: [
            {required: true, message: '渠道编码不能为空', trigger: 'blur'}
          ],
          giveValue: [
            {required: true, message: '转正赠送金额不能为空', trigger: 'blur'}
          ],
          rebate: [
            {required: true, message: '第一级返利不能为空', trigger: 'blur'}
          ],
          exchange: [
            {required: true, message: '是否开放兑换不能为空', trigger: 'blur'}
          ],
          minExchange: [
            {required: true, message: '最低兑换额度为空', trigger: 'blur'}
          ],
          initCoin: [
            {required: true, message: '初始化金币不能为空', trigger: 'blur'}
          ],
          damaMulti: [
            {required: true, message: '打码量倍率不能为空', trigger: 'blur'}
          ],
          rebateDamaMulti: [
            {required: true, message: '充值返利打码量倍率不能为空', trigger: 'blur'}
          ],
          exchangeCount: [
              {required: true, message: '用户每日提款次数不能为空', trigger: 'blur'}
          ],
          promoteType: [
              {required: true, message: '代理模式不能为空', trigger: 'blur'}
          ],
          resetDamaLeftCoin: [
              {required: true, message: '重置打码量不能为空', trigger: 'blur'}
          ],
          cpStationId: [
              {required: true, message: '绑定站点不能为空', trigger: 'blur'}
          ],
          cpLimit: [
              {required: true, message: '第三方金币限额不能为空', trigger: 'blur'}
          ]
        },
        options: [{
          value: 0,
          label: '关闭'
        }, {
          value: 1,
          label: '开放'
        }],
        promoteOptions: [{
            value: 2,
            label: '单级代理模式'
        }, {
            value: 1,
            label: '无限代理模式'
        }],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      bindEdit(channelId) {
        getObj(channelId).then(response => {
          if (response && response.data.code === 0) {
            this.clearFrom()
            this.showConfigVisible = true
            this.dataForm.channelId = response.data.data.channelId
            this.dataForm.giveValue = response.data.data.giveValue
            this.dataForm.rebate = response.data.data.rebate
            this.dataForm.exchange = response.data.data.exchange
            this.dataForm.minExchange = response.data.data.minExchange
            this.dataForm.initCoin = response.data.data.initCoin
            this.dataForm.damaMulti = response.data.data.damaMulti
            this.dataForm.exchangeCount = response.data.data.exchangeCount
            this.dataForm.promoteType = response.data.data.promoteType
            this.dataForm.resetDamaLeftCoin = response.data.data.resetDamaLeftCoin
            this.dataForm.cpStationId = response.data.data.cpStationId
            this.dataForm.cpLimit = response.data.data.cpLimit
          }
        })
      },
      clearFrom() {
        this.dataForm.channelId = ''
        this.dataForm.giveValue = ''
        this.dataForm.rebate = ''
        this.dataForm.exchange = 0
        this.dataForm.minExchange = ''
        this.dataForm.initCoin = ''
        this.dataForm.damaMulti = ''
        this.dataForm.exchangeCount = 1
        this.dataForm.promoteType = 1
        this.dataForm.resetDamaLeftCoin = 1
        this.dataForm.cpStationId = 0
        this.dataForm.cpLimit = 0
      },
      showConfigDialog() {
        this.clearFrom()
        this.showConfigVisible = true
      },
      dataFormSubmit() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            doset(this.dataForm).then(response => {
              if (response && response.data.code === 0) {
                this.$message({
                  showClose: true,
                  message: '设置成功',
                  type: 'success'
                })
                this.showConfigVisible = false
                this.getList(this.page)
              }
            })
          }
        })
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      },
      searchChange(form) {
        this.getList(this.page, form)
      },
      closeHandle() {
        this.showConfigVisible = false
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
