<template>
  <el-dialog
    title="下载界面配置"
    width="65%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <el-row>
            <el-col :span="12">
              <el-form-item label="渠道编码:" prop="channelId">
                <el-input size="small" v-model="dataForm.channelId"  :disabled=isChecked placeholder="渠道编码"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="头部URL:" prop="headUrl">
                <el-input size="small" v-model="dataForm.headUrl"  placeholder="头部URL"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="中部URL:" prop="bodyUrl">
                <el-input size="small" v-model="dataForm.bodyUrl"  placeholder="中部URL"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="底部URL:" prop="footUrl">
                <el-input size="small" v-model="dataForm.footUrl"  placeholder="底部URL"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="24">
              <el-form-item label="背景URL:" prop="backgroundUrl">
                <el-input size="small" v-model="dataForm.backgroundUrl"  placeholder="中部URL"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {getObj, addObj, putObj } from '@/api/cac/downconfig'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        channelId: '',
        isChecked: false,
        dataForm: {
          id: '',
          channelId: '',
          headUrl: '',
          bodyUrl: '',
          footUrl: '',
          backgroundUrl: ''
        },
        dataRule: {
          channelId:  [
              {required: true, message: '渠道编码不能为空!', trigger: 'blur'}
          ],
          headUrl: [
              {required: true, message: '头部图片URL地址不能为空!', trigger: 'blur'}
          ],
          bodyUrl: [
              {required: true, message: '中部图片URL地址不能为空!', trigger: 'blur'}
          ],
          footUrl:  [
              {required: true, message: '底部图片URL地址不能为空!', trigger: 'blur'}
          ],
          backgroundUrl:  [
              {required: true, message: '背景图片URL地址不能为空!', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      crearFrom () {
        this.channelId = ''
        this.isChecked = false
        this.dataForm.headUrl = ''
        this.dataForm.bodyUrl = ''
        this.dataForm.footUrl = ''
        this.dataForm.backgroundUrl = ''
        this.dataForm.channelId = ''
        this.dataForm.id = ''
      },
      init (channelId) {
        this.crearFrom()
        this.btnLoading = false

        this.visible = true
        this.dataForm.channelId = channelId
        this.channelId = channelId

        if (this.dataForm.channelId != null && this.dataForm.channelId != undefined ) {
          getObj(this.dataForm.channelId).then(response => {
              if (response && response.data.code === 0) {
                  this.isChecked = true
                  this.dataForm.headUrl = response.data.data.headUrl
                  this.dataForm.bodyUrl = response.data.data.bodyUrl
                  this.dataForm.footUrl = response.data.data.footUrl
                  this.dataForm.channelId = response.data.data.channelId
                  this.dataForm.backgroundUrl = response.data.data.backgroundUrl
                  this.dataForm.id = response.data.data.id
              }
          })
        }
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            if (this.isChecked) {
              putObj(this.dataForm).then(data => {
                  this.btnLoading = false
                  if (data && data.data.code === 0) {
                      this.$message({
                          message: '配置界面成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.visible = false
                              this.btnLoading = false
                              this.$emit('refreshDataList')
                          }
                      })
                  } else {
                      this.btnLoading = false
                      this.$message.error(data.data.msg)
                  }
              })
            } else {
              addObj(this.dataForm).then(data => {
                  this.btnLoading = false
                  if (data && data.data.code === 0) {
                      this.$message({
                          message: '配置界面成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.visible = false
                              this.btnLoading = false
                              this.$emit('refreshDataList')
                          }
                      })
                  } else {
                      this.btnLoading = false
                      this.$message.error(data.data.msg)
                  }
              })
            }
          }
        })
      }
    }
  }
</script>
