<template>
  <div class="execution">
    <basic-container>
      <el-row style="margin-left: 20px">
      <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
        <el-form-item>
          <el-select v-model="dataForm.gameId" clearable size="small" placeholder="游戏列表">
            <el-option
              v-for="item in gameOptions" :key="item.gameKindType" :label="item.gameKindName" :value="item.gameKindType">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="渠道编码:">
          <el-input size="small" v-model="dataForm.channelNo"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
        </el-form-item>
        <el-form-item label="用户ID:">
          <el-input size="small" v-model="dataForm.userId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
        </el-form-item>
        <el-form-item label="开始时间:">
          <el-date-picker size="small" v-model="dataForm.startTime" placeholder="开始时间"   value-format="yyyy-MM-dd" format="yyyy-MM-dd"  type="date"></el-date-picker>
        </el-form-item>
        <el-form-item label="结束时间:">
          <el-date-picker size="small" v-model="dataForm.endTime"  placeholder="结束时间"    value-format="yyyy-MM-dd" format="yyyy-MM-dd"  type="date" ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button  type="primary" size="small" @click="searchChange()">查询</el-button>
        </el-form-item>
      </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @size-change="sizeChange"
                 @current-change="currentChange"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
        </template>
      </avue-crud>
    </basic-container>
  </div>
</template>

<script>
  import { statisUserGameList, gamelist } from '@/api/report/statisgame'
  import { tableOption } from '@/const/crud/report/statisUserGameRecord'
  import { mapGetters } from 'vuex'
  export default {
    name: 'statisUserGameRecord',
    data() {
      return {
          tableData: [],
          gameOptions: [],
          dataForm: {
              userId: '',
              startTime: '',
              gameId: '',
              channelNo: '',
              endTime: '',
          },
          page: {
              total: 0, // 总页数
              currentPage: 1, // 当前页数
              pageSize: 20 // 每页显示多少条
          },
          listQuery: {
              page: 1,
              limit: 20
          },
          tableLoading: false,
          tableOption: tableOption
      }
    },
    created() {
        this.getGameList();
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
        getGameList () {
            gamelist().then(response => {
                this.gameOptions = response.data.data
            })
        },
        searchChange() {
            if (this.dataForm.startTime === null || this.dataForm.endTime === null || this.dataForm.startTime === '' || this.dataForm.endTime === '') {
                this.$message.error('请输入起止时间!')
                return
            } else {
                if (this.dataForm.startTime.substr(0, 7) !== this.dataForm.endTime.substr(0, 7)) {
                    this.$message.error('起止时间必须在同一月份!')
                    return
                }
            }

            this.page.currentPage = 1
            this.listQuery.page = 1
            this.getList(this.listQuery, this.dataForm);
        },
        getList(page, queryDto) {
            this.tableLoading = true
            statisUserGameList(Object.assign({
                current: page.page,
                size: page.limit
            }, queryDto)).then(response => {
                this.tableData = response.data.data.records
                this.page.total = response.data.data.total
                this.tableLoading = false
            })
        },
        sizeChange(val) {
            this.page.pageSize = val
            this.listQuery.limit = val
            this.getList(this.listQuery, this.dataForm);
        },
        currentChange(val) {
            this.page.currentPage = val
            this.listQuery.page = val
            this.getList(this.listQuery, this.dataForm);
        },
        /**
         * 刷新回调
         */
        refreshChange() {
            this.page.currentPage = 1
            this.listQuery.page = 1
            this.getList(this.listQuery)
        }
    }
  }
</script>

<style lang="scss" scoped>
</style>
