<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelId"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="统计周次:">
            <el-date-picker size="small" v-model="dataForm.weekTime" placeholder="统计周次"  type="week"></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getListData"
                 @refresh-change="refreshChange">
      </avue-crud>
    </basic-container>
  </div>
</template>

<script>
  import {weekfetchList} from '@/api/report/report'
  import { tableOption } from '@/const/crud/report/weekreport'
  import { mapGetters } from 'vuex'
  export default {
    name: 'activereport',
    data() {
      return {
        tableData: [],
        dataForm: {
          channelId: '',
          weekTime: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      getListData() {
        this.getList(this.page, this.dataForm.channelId, this.dataForm.weekTime);
      },

      getList(page, channelId, weekTime) {
        this.tableLoading = true
        const object = {
          channelId: channelId,
          weekTime: weekTime
        };

        weekfetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, object)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
