<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="牌局ID:">
            <el-input size="small" v-model="dataForm.recordId"  placeholder="牌局ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="用户ID:">
            <el-input size="small" v-model="dataForm.accountId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelNo"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="游戏时间:">
            <el-date-picker size="small" v-model="dataForm.queryTime" placeholder="游戏时间"    value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">

        <template slot-scope="scope" slot="menu">
          <el-button type="text"
                     v-if="permissions.board_csd_detail"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="dialogShow(scope.row,scope.index)">牌局详情</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 查看牌局详情 -->
    <el-dialog title="牌局详情"
               @close="closeHandle"
               width="50%"
               :visible.sync="showDialog">
      <div style="align:center; text-align:center">
        <div slot="header" class="clearfix">
          <i class="el-icon-edit"></i><span> {{this.form.endIntegralName}}</span>
        </div>
        <el-form :model="dataForm" style="align:center; text-align:center">
          <el-row v-for="i in boardArr" :key="i" style="align:center; text-align:center">
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center">
                <img :src="i.img0" height="70" width="70" v-if="i"/>
              </el-card>
            </el-col>
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center" v-if="i">
                <img :src="i.img1" height="70" width="70"/>
              </el-card>
            </el-col>
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center" v-if="i">
                <img :src="i.img2" height="70" width="70"/>
              </el-card>
            </el-col>
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center" v-if="i">
                <img :src="i.img3" height="70" width="70"/>
              </el-card>
            </el-col>
            <el-col :span="4.8">
              <el-card style="align:center; text-align:center" v-if="i">
                <img :src="i.img4" height="70" width="70"/>
              </el-card>
            </el-col>
          </el-row>
        </el-form>
      <br/>
        <span class="dialog-footer" style="float:right;margin-top: 10px; margin-bottom: 20px">
         <el-button type="primary" size="small" @click="closeDialog()">关闭</el-button>
      </span>
        <br/>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import {csdfetchList, getCsdDetail} from '@/api/game/board'
  import {tableOption} from '@/const/crud/game/csdboard'
  import detailoption from '@/const/crud/game/csddetailoption'
  import {mapGetters} from 'vuex'
  export default {
    name: 'csdboard',
    data() {
      return {
        option: detailoption,
        tableData: [],
        boardArr: [],
        showDialog: false,
        dataForm: {
          recordId: '',
          startTime: '',
          endTime: '',
        },
        form: {
          endIntegralName: '',
          recordInfoName: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created () {
      this.initTimeData()
      this.getListData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
       dialogShow(row, index) {
         this.boardArr = [],
         this.form.endIntegralName =  row.endIntegralName;
         getCsdDetail(row.RecordID).then(response => {
           this.boardArr = response.data.data
           this.showDialog = true;
         })
      },
      initTimeData () {
         this.dataForm.queryTime = this.$moment(new Date()).format('YYYY-MM-DD')
      },
      getListData() {
        if (this.dataForm.queryTime == null || this.dataForm.queryTime == '' ) {
            this.$message.error('游戏时间不能为空！')
            return false
        }
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm);
      },
      getList(page, boardDto) {
        this.tableLoading = true
        csdfetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, boardDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeHandle () {
        this.$emit('refreshChange')
      },
      closeDialog() {
        this.showDialog = false;
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery)
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
