<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelId"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="用户ID:">
            <el-input size="small" v-model="dataForm.userId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
        <template slot="menuLeft">
        </template>
        <template slot-scope="scope" slot="menu">
          <el-button type="text"
                     v-if="permissions.bguser_view"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="viewUser(scope.row,scope.index)">详情</el-button>

          <el-button type="text" v-if="scope.row.status==1" icon="el-icon-edit" size="small" @click="changeStatus(scope.row, scope.index)">停用</el-button>
          <el-button type="text" v-if="scope.row.status==4" icon="el-icon-edit" size="small" @click="changeStatus(scope.row, scope.index)">启用</el-button>

          <!--
          <el-button type="text"
                     v-if="permissions.bguser_change_status"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="changeStatus(scope.row,scope.index)">修改状态</el-button> -->

        </template>
      </avue-crud>
    </basic-container>

    <!--查看用户详情-->
    <el-dialog title="查看用户详情"
               width="68%"
               @close="closeHandle"
               :visible.sync="showViewDialog">
      <div>
        <basic-container>
          <avue-form-detail :option="option" v-model="form">
          </avue-form-detail>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, getObj, addObj, putObj, delObj, changeStatus } from '@/api/platform/bguser'
  import { tableOption } from '@/const/crud/platform/bguser'
  import  dataioption  from '@/const/crud/platform/bgUserOption'
  import { mapGetters } from 'vuex'
  export default {
    name: 'bguser',
    data() {
      return {
        option: dataioption,
        tableData: [],
        showViewDialog: false,
        dataForm: {
            channelId: '',
            userId: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        form: {
            loginCount: '',
            userId: '',
            loginId: '',
            userName: '',
            sn: '',
            status: 1,
            regTime: '',
            regIp: '',
            memo: ''
        },
        formStatus: {
            userId: '',
            status: '',
        },
        listQuery: {
            page: 1,
            limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
       this.getListData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      cleanForm() {
          this.form.userId = ''
          this.form.loginId = ''

          this.form.sn = ''
          this.form.userStatus = 1
          this.form.loginCount = ''

          this.form.regTime = ''
          this.form.regIp = ''
          this.form.memo = ''
      },
      getListData() {
          this.page.currentPage = 1
          this.listQuery.page = 1
          this.getList(this.listQuery, this.dataForm);
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      viewUser(row, index) {
        this.cleanForm();
        getObj(row.userId).then(response => {
            this.form = response.data.data.result
            this.showViewDialog = true;
        })
      },
      changeStatus(row, index) {
          this.$confirm(`确定进行[状态修改]操作?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
          }).then(() => {
              this.formStatus.userId = row.userId
              this.formStatus.status = row.status
              changeStatus(this.formStatus).then(response => {
                  if (response && response.data.code === 0) {
                      this.$message({
                          message: '状态修改成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.getListData()
                          }
                      })
                  } else {
                      this.$message.error(data.data.msg)
                  }
              })
          }).catch(() => {})
      },
      closeHandle() {
          this.showViewDialog = false;
      },
      closeDialog() {
          this.showViewDialog = false;
      },
      refreshChange() {
        this.getList(this.page)
      },
      sizeChange(val) {
          this.page.pageSize = val
          this.listQuery.limit = val
          this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
          this.page.currentPage = val
          this.listQuery.page = val
          this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
