<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="推送通道:">
            <el-input size="small" v-model="dataForm.platformName"  placeholder="推送通道" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">

        <template slot="menuLeft">
          <el-button type="primary"
                     @click="addPlatForm"
                     size="small"
                     v-if="permissions.cac_pushplatform_add">新 增</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_pushplatform_edit"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="updatePlatForm(scope.row)">编辑</el-button>
          <el-button type="text"
                     v-if="permissions.cac_pushplatform_del"
                     icon="el-icon-delete"
                     size="small"
                     plain
                     @click="deletePlatForm(scope.row)">删除</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗配置-->
    <PlatformEidt  ref="platformEidt" @refreshDataList="refreshChange"></PlatformEidt>
  </div>
</template>

<script>
    import PlatformEidt from './platform-edit'
    import { fetchList, getObj, addObj, putObj, delObj } from '@/api/cac/syspushplatform'
    import { tableOption } from '@/const/crud/cac/syspushplatform'
    import { mapGetters } from 'vuex'
    export default {
        name: 'pushplatform',
        data() {
            return {
                tableData: [],
                page: {
                    total: 0, // 总页数
                    currentPage: 1, // 当前页数
                    pageSize: 20 // 每页显示多少条
                },
                listQuery: {
                    page: 1,
                    limit: 20
                },
                dataForm: {
                    platformName: '',
                },
                showViewDialog: false,
                tableLoading: false,
                tableOption: tableOption
            }
        },
        created() {
            this.getListData()
        },
        components: {
            PlatformEidt
        },
        mounted: function() { },
        computed: {
            ...mapGetters(['permissions'])
        },
        methods: {
            addPlatForm (row) {
                this.showViewDialog = true
                this.$nextTick(() => {
                    this.$refs.platformEidt.init()
                })
            },
            updatePlatForm(row) {
                this.showViewDialog = true
                this.$nextTick(() => {
                    this.$refs.platformEidt.init(row.id)
                })
            },
            deletePlatForm (row) {
                this.$confirm(`确定对当前通道删除操作?`, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    delObj(row.id).then(data => {
                        if (data.data.code == 0) {
                            this.$message({
                                message: '推送通道删除成功',
                                type: 'success',
                                duration: 1500,
                                onClose: () => {
                                    this.getListData()
                                }
                            })
                        }
                    })
                }).catch(() => {
                })
            },
            getListData() {
                this.page.currentPage = 1
                this.listQuery.page = 1
                this.getList(this.listQuery, this.dataForm);
            },
            getList(page, params) {
                this.tableLoading = true
                fetchList(Object.assign({
                    current: page.page,
                    size: page.limit
                }, params)).then(response => {
                    this.tableData = response.data.data.records
                    this.page.total = response.data.data.total
                    this.tableLoading = false
                })
            },
            refreshChange() {
                this.getList(this.page)
            },
            sizeChange(val) {
                this.page.pageSize = val
                this.listQuery.limit = val
                this.getList(this.listQuery, this.dataForm);
            },
            currentChange(val) {
                this.page.currentPage = val
                this.listQuery.page = val
                this.getList(this.listQuery, this.dataForm);
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
