<template>
  <el-dialog
    :title="isAdd ? '新增通道' : '编辑通道'"
    width="45%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <el-row>
            <el-col :span="12">
              <el-form-item label="通道名称:" prop="name">
                <el-input size="small" v-model="dataForm.name"  placeholder="通道名称"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="通道类型:" prop="type">
                <el-select v-model="dataForm.type" size="mini" style="width: 170px">
                  <el-option v-for="item in typeOptions" :key="item.value" :label="item.label" :value="item.value"/>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="类   名:" prop="className">
                <el-input size="small" v-model="dataForm.className"  placeholder="类   名"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="状   态:" prop="status">
                <el-select v-model="dataForm.status" size="mini" style="width: 170px">
                  <el-option v-for="item in statusOptions" :key="item.value" :label="item.label" :value="item.value"/>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="24">
              <el-form-item label="备    注:" prop="description">
                <el-input type="textarea" :rows="4" size="small" v-model="dataForm.description"  placeholder="备    注"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
    import {getObj, addObj, putObj } from '@/api/cac/syspushplatform'
  export default {
    data () {
      return {
        visible: false,
        isAdd: true,
        btnLoading: false,
        statusOptions: [
          {
            value: 0,
            label: '失效'
          }, {
            value: 1,
            label: '正常'
          }
        ],
        typeOptions: [
          {
            value: 0,
            label: '集成'
          }, {
            value: 1,
            label: '第三方'
          }
        ],
        dataForm: {
          id: '',
          name: '',
          type: '',
          className: '',
          status: '',
          description: ''
        },
        dataRule: {
          name:  [
              {required: true, message: '通道名称不能为空!', trigger: 'blur'}
          ],
          type: [
              {required: true, message: '通道类型不能为空!', trigger: 'blur'}
          ],
          className: [
              {required: true, message: '通道类名不能为空!', trigger: 'blur'}
          ],
          status:  [
              {required: true, message: '状态不能为空!', trigger: 'blur'}
          ],
          description:  [
              {required: true, message: '通道备注不能为空!', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      crearFrom () {
        this.dataForm.id = ''
        this.dataForm.name = ''
        this.dataForm.type = ''
        this.dataForm.className = ''
        this.dataForm.status = ''
        this.dataForm.description = ''
        this.isAdd = true
      },
      init (id) {
        this.crearFrom()
        this.btnLoading = false
        this.visible = true
        this.dataForm.id = id

        if (this.dataForm.id != null && this.dataForm.id != '' && this.dataForm.id != undefined ) {
          this.isAdd = false
          getObj(this.dataForm.id).then(response => {
              if (response && response.data.code === 0) {
                  this.dataForm.name = response.data.data.name
                  this.dataForm.type = response.data.data.type
                  this.dataForm.className = response.data.data.className
                  this.dataForm.status = response.data.data.status
                  this.dataForm.description = response.data.data.description
                  this.dataForm.id = response.data.data.id
              }
          })
        }
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            if (this.isAdd) {
              addObj(this.dataForm).then(data => {
                  this.btnLoading = false
                  if (data && data.data.code === 0) {
                      this.$message({
                          message: '添加通道成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.visible = false
                              this.btnLoading = false
                              this.$emit('refreshDataList')
                          }
                      })
                  } else {
                      this.btnLoading = false
                      this.$message.error(data.data.msg)
                  }
              })
            } else {
               putObj(this.dataForm).then(data => {
                  this.btnLoading = false
                  if (data && data.data.code === 0) {
                      this.$message({
                          message: '修改通道成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.visible = false
                              this.btnLoading = false
                              this.$emit('refreshDataList')
                          }
                      })
                  } else {
                      this.btnLoading = false
                      this.$message.error(data.data.msg)
                  }
              })
            }
          }
        })
      }
    }
  }
</script>
