<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @search-change="searchChange"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="inviteDepositConfig"
                     size="small"
                     v-if="permissions.cac_invite_add">配置</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_invite_edit"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="inviteDepositConfig(scope.row)">编辑</el-button>
          <el-button type="text"
                     v-if="permissions.cac_invite_view"
                     icon="el-icon-view"
                     size="small"
                     plain
                     @click="inviteDepositView(scope.row)">查看</el-button>
        </template>
      </avue-crud>
    </basic-container>
    <!-- 弹窗配置-->
    <InviteDepositConfig  ref="inviteDepositConfig" @refreshDataList="refreshChange"></InviteDepositConfig>
    <!-- 弹窗查看-->
    <InviteDepositView  ref="inviteDepositView" @refreshDataList="refreshChange"></InviteDepositView>
  </div>
</template>

<script>
  import InviteDepositConfig from './inviteDeposit-config'
  import InviteDepositView from './inviteDeposit-view'

  import { fetchList, getObj, addObj, putObj, delObj } from '@/api/act/invitedeposit'
  import { tableOption } from '@/const/crud/act/invitedeposit'
  import { mapGetters } from 'vuex'
  export default {
    name: 'invitedeposit',
    data() {
      return {
        tableData: [],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        showConfigDialog: false,
        showViewDialog: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    components: {
      InviteDepositConfig,
      InviteDepositView
    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      searchChange(form) {
        this.getList(this.page, form)
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeDialog () {
        this.showConfigDialog = false
        this.showViewDialog = false
      },
      inviteDepositConfig (row) {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.inviteDepositConfig.init(row.channelId)
        })
      },
      inviteDepositView (row) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.inviteDepositView.init(row.channelId)
        })
      },
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
