<template>
  <el-dialog
    title="配置推广累计充值返利"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-alert
      title="首次累计充值:(累计充值达到的奖励金额条件),充值用户奖励:(满足首次累计充值达标金额后给用户奖励金额),上级奖励:(满足首次累计充值达标金额后给直接上级奖励金额)"
      type="warning"
      :closable="false"
      style="margin-top: -20px; margin-bottom: 10px">
    </el-alert>

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置活动时间</span>
          </div>
          <el-col :span="6">
            <el-form-item label="渠道编码:" prop="channelId">
              <el-input type="text" v-model="dataForm.channelId" size="small" placeholder="渠道编码"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="时间类型:" prop="timeType">
              <el-select v-model="dataForm.timeType" size="small" style="width: 150px" @change="doChange">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="起止时间:" prop="maintTime" v-if="dataForm.timeType == 1">
              <el-date-picker size="small" v-model="dataForm.maintTime" start-placeholder="开始日期" end-placeholder="结束日期"
                              value-format="timestamp" format="yyyy-MM-dd HH:mm:ss" type="datetimerange"
                              :picker-options="pickerOptions" auto-complete="off"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>奖励配置</span>
          </div>
          <el-col :span="8">
            <el-form-item label=" 首次累计充值(分):" prop="firstTotalDeposit" label-width="150px">
              <el-input-number v-model="dataForm.firstTotalDeposit" size="small" :min="0" :max="9999999999" label="首次累计充值" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="充值用户奖励(分):" prop="selfReward" label-width="150px">
              <el-input-number v-model="dataForm.selfReward" size="small" :min="0" :max="9999999999" label="充值用户奖励" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="上级奖励(分):" prop="upperReward" label-width="150px">
              <el-input-number v-model="dataForm.upperReward" size="small" :min="0" :max="9999999999" label="上级奖励" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import { addObj, getObj} from '@/api/act/invitedeposit'
  export default {
    data () {
      var validateTime = (rule, value, callback) => {
        if (this.dataForm.timeType !== '' || this.dataForm.timeType === 1) {
          if (this.dataForm.maintTime === null || this.dataForm.maintTime.length === 0) {
            callback(new Error('活动起止时间不能为空'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        options: [
          {
            value: 1,
            label: '指定时间'
          }, {
            value: 2,
            label: '永久有效'
          }
        ],
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        btnLoading: false,
        queryForm: {
          channelId: '',
        },
        dataForm: {
          channelId: '',
          timeType: 1,
          maintTime: [],
          beginTime: '',
          endTime: '',
          firstTotalDeposit: 1,
          selfReward: 1,
          upperReward: 1
        },
        subData: {
          channelId: '',
          timeType: '',
          beginTime: '',
          endTime: '',
          firstTotalDeposit: '',
          selfReward: '',
          upperReward: ''
        },
        dataRule: {
          channelId: [
            {required: true, message: '渠道编码不能为空', trigger: 'blur'}
          ],
          timeType: [
            {required: true, message: '时间类型不能为空', trigger: 'blur'}
          ],
          firstTotalDeposit: [
            {required: true, message: '首次累计充值金额不能为空', trigger: 'blur'}
          ],
          selfReward: [
            {required: true, message: '充值用户金额不能为空', trigger: 'blur'}
          ],
          upperReward: [
            {required: true, message: '上级金额不能为空', trigger: 'blur'}
          ],
          maintTime: [
            {validator: validateTime, trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      doChange () {
        if (this.dataForm.timeType != null && this.dataForm.timeType === 2) {
          this.dataForm.beginTime = ''
          this.dataForm.endTime = ''
        }
        this.dataForm.maintTime = []
      },
      crearFrom () {
        this.queryForm.channelId = ''
        this.dataForm.timeType = 1
        this.dataForm.maintTime = []
        this.dataForm.beginTime = ''
        this.dataForm.channelId = ''

        this.dataForm.endTime = ''
        this.dataForm.firstTotalDeposit = 1
        this.dataForm.selfReward = 1
        this.dataForm.upperReward = 1
        this.btnLoading = false

        this.subData.timeType = ''
        this.subData.beginTime = ''
        this.subData.endTime = ''
        this.subData.channelId = ''

        this.subData.firstTotalDeposit = ''
        this.subData.selfReward = ''
        this.subData.upperReward = ''
      },
      init (channelId) {
        this.visible = true
        this.crearFrom()
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          this.dataForm.channelId = channelId
          this.queryForm.channelId = channelId
          if (this.dataForm.channelId) {
            getObj(this.queryForm).then(response => {
              if (response && response.data.code === 0) {
                this.dataForm.timeType = response.data.data.timeType
                this.dataForm.maintTime.push(new Date(response.data.data.beginTime * 1000))
                this.dataForm.maintTime.push(new Date(response.data.data.endTime * 1000))
                this.dataForm.beginTime = response.data.data.beginTimeStr
                this.dataForm.endTime = response.data.data.endTimeStr
                this.dataForm.firstTotalDeposit = response.data.data.firstTotalDeposit
                this.dataForm.selfReward = response.data.data.selfReward
                this.dataForm.upperReward = response.data.data.upperReward
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.dataForm.beginTime = this.dataForm.maintTime[0] instanceof Date ? this.dataForm.maintTime[0].getTime() : this.dataForm.maintTime[0]
            this.dataForm.endTime = this.dataForm.maintTime[1] instanceof Date ? this.dataForm.maintTime[1].getTime() : this.dataForm.maintTime[1]
            this.btnLoading = true

            this.subData.channelId = this.dataForm.channelId
            this.subData.timeType = this.dataForm.timeType
            this.subData.beginTime = this.dataForm.beginTime

            this.subData.endTime = this.dataForm.endTime
            this.subData.firstTotalDeposit = this.dataForm.firstTotalDeposit
            this.subData.selfReward = this.dataForm.selfReward

            this.subData.upperReward = this.dataForm.upperReward
            addObj(this.subData).then(data => {
              if (data.data.code == 0) {
                this.$message({
                  message: '设置代理累计充值配置成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              }else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
