<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm" @keyup.enter.native="getListData()">
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelId" placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="开始时间:">
            <el-date-picker size="small" v-model="dataForm.startTime" placeholder="开始时间" value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间:">
            <el-date-picker size="small" v-model="dataForm.endTime" placeholder="结束时间" value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">

        <template slot="menuLeft">
          <el-button type="primary"
                     @click="sendPush"
                     size="small"
                     v-if="permissions.cac_pushplatform_add">发送推送</el-button>
          <br /><br />
        </template>

        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_pushrecord_view"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="viewPushRecord(scope.row)">查看</el-button>
          <el-button type="text"
                     v-if="permissions.cac_pushrecord_report && (scope.row['timeType'] === 0)"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="viewPushReport(scope.row)">送达信息</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!--查看公告-->
    <el-dialog title="推送详情"
               width="58%"
               @close="closeDialog"
               :visible.sync="showViewDialog">
      <div>
        <basic-container>
          <avue-form-detail :option="option" v-model="form">
          </avue-form-detail>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>


    <!--查看公告-->
    <el-dialog title="送达信息"
               width="58%"
               @close="closeDialog"
               :visible.sync="showReportDialog">
      <div>
        <basic-container>
          <avue-form-detail :option="reportOption" v-model="reportForm">
          </avue-form-detail>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

    <!-- 弹窗配置-->
    <PushSend  ref="pushSend" @refreshDataList="refreshChange"></PushSend>
  </div>
</template>

<script>
  import PushSend from './push-send'
  import { fetchList, getObj, getReportById } from '@/api/cac/syspushrecord'
  import { tableOption } from '@/const/crud/cac/syspushrecord'
  import  detailoption  from '@/const/crud/cac/pushoption'
  import  reportoption  from '@/const/crud/cac/pushreportoption'
  import { mapGetters } from 'vuex'
  export default {
    name: 'pushrecord',
    data() {
      return {
        option: detailoption,
        reportOption: reportoption,
        tableData: [],
        page: {
            total: 0, // 总页数
            currentPage: 1, // 当前页数
            pageSize: 20 // 每页显示多少条
        },
        listQuery: {
            page: 1,
            limit: 20
        },
        dataForm: {
            channelId: '',
            startTime: '',
            endTime: ''
        },
        form: {
            msgId: '',
            channelId: '',
            platform: '',
            audience: '',
            title: '',
            content: '',
            configId: '',
            configName: '',
            platformId: '',
            platformName: '',
            sendSys: '',
            timeType: '',
            retainTime: '',
            pushTime: '',
            pushBy: '',
            timeLong: '',
            sendType: '',
        },
        reportForm: {
            msg_id: 0,
            android_received: 0,
            ios_apns_sent: 0,
            ios_apns_received: 0,
            ios_msg_received: 0,
            wp_mpns_sent: 0
        },
        showViewDialog: false,
        showReportDialog: false,
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
        this.getListData()
    },
    components: {
        PushSend
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      viewPushRecord(row) {
          getObj(row.id).then(response => {
             this.form.msgId = response.data.data.msgId
             this.form.channelId = response.data.data.channelId
             this.form.platform = response.data.data.platform
             this.form.audience = response.data.data.audience
             this.form.title = response.data.data.title
             this.form.content = response.data.data.content
             this.form.configId = response.data.data.configId
             this.form.configName = response.data.data.configName
             this.form.platformId = response.data.data.platformId
             this.form.platformName = response.data.data.platformName
             this.form.sendSys = response.data.data.sendSys
             this.form.timeType = response.data.data.timeType
             this.form.retainTime = response.data.data.retainTimeStr
             this.form.pushTime = response.data.data.pushTimeStr
             this.form.pushBy = response.data.data.pushBy
             this.form.timeLong = response.data.data.timeLong
             this.form.sendType = response.data.data.sendType
          })
          this.showViewDialog = true;
      },
      viewPushReport(row) {
          this.reportForm.msg_id = ''
          this.reportForm.android_received = ''
          this.reportForm.ios_apns_sent = ''
          this.reportForm.ios_apns_received = ''
          this.reportForm.ios_msg_received = ''
          this.reportForm.wp_mpns_sent = ''

          getReportById(row.id).then(response => {
              if (response.data.data != null && response.data.data.received_list !== null && response.data.data.received_list.length > 0) {
                  this.reportForm.msg_id = response.data.data.received_list[0].msg_id
                  this.reportForm.android_received = response.data.data.received_list[0].android_received
                  this.reportForm.ios_apns_sent = response.data.data.received_list[0].ios_apns_sent
                  this.reportForm.ios_apns_received = response.data.data.received_list[0].ios_apns_received
                  this.reportForm.ios_msg_received = response.data.data.received_list[0].ios_msg_received
                  this.reportForm.wp_mpns_sent = response.data.data.received_list[0].wp_mpns_sent
              }
          })
          this.showReportDialog = true
      },
      closeDialog() {
          this.showViewDialog = false;
          this.showReportDialog = false;
      },
      sendPush() {
          this.$nextTick(() => {
              this.$refs.pushSend.init()
          })
      },
      getListData() {
          this.page.currentPage = 1
          this.listQuery.page = 1
          this.getList(this.listQuery, this.dataForm);
      },
      getList(page, params) {
          this.tableLoading = true
          fetchList(Object.assign({
              current: page.page,
              size: page.limit
          }, params)).then(response => {
              this.tableData = response.data.data.records
              this.page.total = response.data.data.total
              this.tableLoading = false
          })
      },
      refreshChange() {
          this.getList(this.page)
      },
      sizeChange(val) {
          this.page.pageSize = val
          this.listQuery.limit = val
          this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
          this.page.currentPage = val
          this.listQuery.page = val
          this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
