<template>
  <el-dialog
    title="发送推送"
    width="45%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-alert
      title=""
      type="warning"
      :closable="false">
      <div slot-scope="description">
        <p class="el-alert__description">当前每天可以发送10条推送，设备别名可以按用户ID用逗号分隔发送。</p>
        <p class="el-alert__description">推送服务受手机厂商，网络情况，程序后台进程等条件，到达率会有一定影响。</p>
        <p class="el-alert__description">定时发送必须大于当前时间2个小时且小于7天后。</p>
      </div>
    </el-alert>

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <el-row>
            <el-col :span="12">
              <el-form-item label="渠道编码:" prop="channelId">
                <el-input size="small" v-model="dataForm.channelId"  :disabled=isChecked placeholder="渠道编码"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="设备平台:" prop="devicePlatform">
                <el-select v-model="dataForm.devicePlatform" size="mini" style="width: 170px">
                  <el-option v-for="item in devicePlatformOptions" :key="item.value" :label="item.label" :value="item.value"/>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="发送时间:" prop="timeType">
                <el-select v-model="dataForm.timeType" size="small" @change="doChange" style="width: 170px">
                  <el-option v-for="item in timeTypeOptions" :key="item.value" :label="item.label" :value="item.value"/>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12" v-if="dataForm.timeType == 1">
              <el-form-item label="定时时间:" prop="retainTime">
                <el-date-picker v-model="dataForm.retainTime" align="right" size="small" clearable type="datetime"
                                value-format="timestamp"  format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="定时时间">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="发送类型:" prop="sendType">
                <el-select v-model="dataForm.sendType" size="small" @change="doChange" style="width: 170px">
                  <el-option v-for="item in sendTypeOptions" :key="item.value" :label="item.label" :value="item.value"/>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12" v-if="dataForm.sendType == 1">
              <el-form-item label="设备别名:" prop="alias">
                <el-input size="small" v-model="dataForm.alias"  placeholder="设备别名"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="保留时长:" prop="timeLong">
                <el-select v-model="dataForm.timeLong" size="small" style="width: 170px">
                  <el-option v-for="item in timeLongTimeOptions" :key="item.value" :label="item.label" :value="item.value"/>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="通知标题:" prop="title">
                <el-input type="textarea" :rows="2" size="small" v-model="dataForm.title"  placeholder="标    题"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="24">
              <el-form-item label="通知内容:" prop="content">
                <el-input type="textarea" :rows="4" size="small" v-model="dataForm.content"  placeholder="内容信息"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
    import {sendPush} from '@/api/cac/syspushrecord'
    export default {
        data () {
            var validateTimeLong = (rule, value, callback) => {
                if (this.dataForm.timeType === 1) {
                    if (this.dataForm.retainTime === '' || this.dataForm.retainTime === null) {
                        callback(new Error('定时时间不能为空'))
                    } else {
                        callback()
                    }
                } else {
                    callback()
                }
            }
            var validateAlias = (rule, value, callback) => {
                if (this.dataForm.sendType === 1) {
                    if (this.dataForm.alias === '' || this.dataForm.alias === null) {
                        callback(new Error('别名不能为空'))
                    } else {
                        callback()
                    }
                } else {
                    callback()
                }
            }
            return {
                pickerOptions: {
                    disabledDate: time => {
                        return (
                            time < new Date(this.cooperationBegin) ||
                            time > new Date(this.cooperationEnd)
                        )
                    }
                },
                cooperationBegin: '2020-05-30 00:00:00',
                cooperationEnd: '2037-12-31 11:59:59',
                visible: false,
                btnLoading: false,
                channelId: '',
                isChecked: false,
                devicePlatformOptions: [
                    {
                        value: 'all',
                        label: '全部平台'
                    }, {
                        value: 'ios',
                        label: 'ios'
                    }, {
                        value: 'android',
                        label: 'android'
                    }, {
                        value: 'winphone',
                        label: 'winphone'
                    }
                ],
                timeTypeOptions: [
                    {
                        value:  0,
                        label: '立即'
                    }, {
                        value: 1,
                        label: '定时'
                    }
                ],
                timeLongTimeOptions: [
                    {
                        value:  0,
                        label: '不保留'
                    }, {
                        value:  86400,
                        label: '一天'
                    }, {
                        value:  259200,
                        label: '三天'
                    }, {
                        value:  864000,
                        label: '十天'
                    }
                ],
                sendTypeOptions: [
                    {
                        value:  0,
                        label: '全体'
                    }, {
                        value:  1,
                        label: '别名'
                    }
                ],
                dataForm: {
                    channelId: '',
                    devicePlatform: 'all',
                    timeType: 0,
                    retainTime: 0,
                    timeLong: '',
                    sendType: 0,
                    alias: '',
                    title: '',
                    content: ''
                },
                dataRule: {
                    devicePlatform:  [
                        {required: true, message: '设备平台不能为空!', trigger: 'blur'}
                    ],
                    channelId: [
                        {required: true, message: '渠道编码不能为空!', trigger: 'blur'}
                    ],
                    timeType: [
                        {required: true, message: '时间类型不能为空!', trigger: 'blur'}
                    ],
                    title:  [
                        {required: true, message: '标题不能为空!', trigger: 'blur'}
                    ],
                    content:  [
                        {required: true, message: '内容不能为空!', trigger: 'blur'}
                    ],
                    sendType:  [
                        {required: true, message: '发送类型不能为空!', trigger: 'blur'}
                    ],
                    timeLong:  [
                        {required: true, message: '保留时长不能为空!', trigger: 'blur'}
                    ],
                    alias:   [
                        {validator: validateAlias, trigger: 'blur'}
                    ],
                    retainTime:  [
                        {validator: validateTimeLong, trigger: 'blur'}
                    ],
                }
            }
        },
        methods: {
            doChange (value) {

            },
            crearFrom () {
                this.dataForm.channelId = ''
                this.dataForm.devicePlatform = 'all'
                this.dataForm.timeType = 0
                this.dataForm.retainTime =  '',
                this.dataForm.timeLong = 0
                this.dataForm.alias = ''
                this.dataForm.title = ''
                this.dataForm.content = ''
            },
            init () {
                this.crearFrom()
                this.btnLoading = false
                this.visible = true
            },
            // 表单提交
            dataFormSubmit () {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        this.btnLoading = true
                        sendPush(this.dataForm).then(data => {
                            this.btnLoading = false
                            if (data && data.data.code === 0) {
                                this.$message({
                                    message: '发送推送成功!',
                                    type: 'success',
                                    duration: 1500,
                                    onClose: () => {
                                        this.visible = false
                                        this.btnLoading = false
                                        this.$emit('refreshDataList')
                                    }
                                })
                            } else {
                                this.btnLoading = false
                                this.$message.error('发送推送失败!')
                            }
                        })
                    }
                })
            }
        }
    }
</script>
