<template>
  <el-dialog
    title="渠道第三方额度调整"
    width="65%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <el-row>
            <el-col :span="12">
              <el-form-item label="会计项目:" prop="operateType" style="width: 250px">
                <el-select v-model="dataForm.operateType"  size="small"   style="width: 250px">
                  <el-option  v-for="item in operateTypeOptions" :key="item.value"  :label="item.label"  :value="item.value" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="三方平台:" prop="platformType" style="width: 250px">
                <el-select v-model="dataForm.platformType"  size="small"  style="width: 250px">
                  <el-option  v-for="item in platformTypeOptions" :key="item.value"  :label="item.label"  :value="item.value" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="渠道编码:" prop="channelId">
                <el-input size="small" v-model="dataForm.channelId"  :disabled=isChecked placeholder="渠道编码" style="width: 150px"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="调整金额:" prop="amount">
                <el-input-number v-model="dataForm.amount" size="small"   :min="0" :max="9999999999" label="调整金额(元)" style="width: 150px"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {putObj } from '@/api/cac/channelaccount'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        isChecked: false,
        dataForm: {
          channelId: '',
          amount: 0,
          platformType: 1,
          operateType: 1
        },
        platformTypeOptions: [
          {
              value: 1,
              label: 'BG'
          }
        ],
        operateTypeOptions: [
          {
              value: 1,
              label: '加款'
          }, {
              value: 2,
              label: '扣款'
          }
        ],
        dataRule: {
          channelId:  [
              {required: true, message: '渠道编码不能为空!', trigger: 'blur'}
          ],
          amount: [
              {required: true, message: '调整金额不能为空!', trigger: 'blur'}
          ],
          platformType: [
              {required: true, message: '三方平台不能为空!', trigger: 'blur'}
          ],
            operateType:  [
              {required: true, message: '会计项目不能为空!', trigger: 'blur'}
          ],
          backgroundUrl:  [
              {required: true, message: '背景图片URL地址不能为空!', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      crearFrom () {
        this.dataForm.amount = 0
        this.dataForm.platformType = 1
        this.dataForm.operateType = 1
        this.dataForm.channelId = ''
      },
      init () {
        this.crearFrom()
        this.btnLoading = false
        this.visible = true
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
          this.btnLoading = true
            putObj(this.dataForm).then(data => {
                this.btnLoading = false
                if (data && data.data.code === 0) {
                    this.$message({
                        message: '渠道金额调整成功',
                        type: 'success',
                        duration: 1500,
                        onClose: () => {
                            this.visible = false
                            this.btnLoading = false
                            this.$emit('refreshDataList')
                        }
                    })
                } else {
                    this.btnLoading = false
                    this.$message.error(data.data.msg)
                }
            })
          }
        })
      }
    }
  }
</script>
