<template>
  <div class="mod-demo-echarts">
    <el-alert
      title=""
      type="warning"
      :closable="false">
      <div slot-scope="description">
        <p class="el-alert__description">营业周报表统计图(显示最近一周统计数据)</p>
      </div>
    </el-alert>

    <el-row :gutter="20">
      <el-col :span="24">
        <el-card>
          <div id="J_chartLineBox" class="chart-box"></div>
        </el-card>
      </el-col>
      <el-col :span="24">
        <el-card>
          <div id="J_chartBarBox" class="chart-box"></div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import echarts from 'echarts'
  import {welReport} from '@/api/home'

  export default {
    data() {
      return {
        chartLine: null,
        chartBar: null,
        dataListLoading: false,
        ChartLineReport: {
          'title': {
            'text': '营业统计折线图'
          },
          'tooltip': {
            'trigger': 'axis'
          },
          'legend': {
            'data': []
          },
          'grid': {
            'left': '3%',
            'right': '3%',
            'bottom': '3%',
            'containLabel': true
          },
          'xAxis': {
            'type': 'category',
            'boundaryGap': false,
            'data': []
          },
          'yAxis': {
            'type': 'value'
          },
          'series': []
        },
        ChartBarReport: {
          'title': {
            'text': '营业柱状统计图'
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            }
          },
          legend: {
            data: []
          },
          grid: {
            'left': '3%',
            'right': '3%',
            'bottom': '3%',
            containLabel: true
          },
          xAxis: {
            type: 'category',
            data: []
          },
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: []
        },
      }
    },
    mounted () {
      this.getReportInfo()
      this.initChartLine()
      this.initChartBar()
    },
    activated () {
      // 由于给echart添加了resize事件, 在组件激活时需要重新resize绘画一次, 否则出现空白bug
      if (this.chartLine) {
        this.chartLine.resize()
      }
      if (this.chartBar) {
        this.chartBar.resize()
      }
    },
    methods: {
      // 折线图
      initChartLine () {
        this.chartLine = echarts.init(document.getElementById('J_chartLineBox'))
        this.chartLine.setOption(this.ChartLineReport)
        window.addEventListener('resize', () => {
          this.chartLine.resize()
        })
      },
      // 柱状图
      initChartBar () {
        this.chartBar = echarts.init(document.getElementById('J_chartBarBox'))
        this.chartBar.setOption(this.ChartBarReport)
        window.addEventListener('resize', () => {
          this.chartBar.resize()
        })
      },
      getReportInfo () {
        const loading = this.$loading({
          lock: true,
          text: '努力加载中...',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        })
        setTimeout(() => {
          loading.close()
        }, 3000)
        welReport().then(response => {
          loading.close()
          if (response && response.data.code === 0) {

            this.ChartLineReport.xAxis.data = response.data.data.xDataList
            this.ChartLineReport.legend.data = response.data.data.typeList
            this.ChartLineReport.series = response.data.data.lineSeries
            this.initChartLine()

            this.ChartBarReport.xAxis.data = response.data.data.xDataList
            this.ChartBarReport.legend.data = response.data.data.typeList
            this.ChartBarReport.series = response.data.data.barSeries
            this.initChartBar()
          } else {
            this.$message.error(data.msg)
          }
        })
      }
    }
  }
</script>

<style lang="scss">
  .mod-demo-echarts {
    > .el-alert {
      margin-bottom: 10px;
    }
    > .el-row {
      margin-top: -10px;
      margin-bottom: -10px;
      .el-col {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .chart-box {
      min-height: 400px;
    }
  }
</style>
