<template>
  <el-dialog
    title="进入游戏配置"
    width="55%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <el-col :span="8">
            <el-form-item label="渠道编码:" prop="channelId">
              <el-input size="small" v-model="dataForm.channelId"  :disabled=isChecked placeholder="渠道编码"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="进入余额:" prop="balance">
              <el-input-number v-model="dataForm.enterBalance" size="small" :min="0" :max="9999999999" label="进入余额" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {getObj, addObj, putObj } from '@/api/platform/bgenterconfig'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        channelId: '',
        isChecked: false,
        dataForm: {
          id: '',
          channelId: '',
          enterBalance: 0
        },
        dataRule: {
           enterBalance: [
            {required: true, message: '进入余额不能为空!', trigger: 'blur'}
          ],
          channelId:  [
            {required: true, message: '渠道编码不能为空!', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      crearFrom () {
        this.channelId = ''
        this.isChecked = false
        this.dataForm.enterBalance = 0
        this.dataForm.channelId = ''
        this.dataForm.id = ''
      },
      init (channelId) {
        this.crearFrom()
        this.btnLoading = false

        this.visible = true
        this.dataForm.channelId = channelId
        this.channelId = channelId

        if (this.dataForm.channelId != null && this.dataForm.channelId != undefined ) {
          getObj(this.dataForm.channelId).then(response => {
              if (response && response.data.code === 0) {
                  this.isChecked = true
                  this.dataForm.enterBalance = response.data.data.enterBalance
                  this.dataForm.channelId = response.data.data.channelId
                  this.dataForm.id = response.data.data.id
              }
          })
        }
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            if (this.dataForm.id != null && this.dataForm.id != '' && this.dataForm.id != undefined ) {
              putObj(this.dataForm).then(data => {
                  this.btnLoading = false
                  if (data && data.data.code === 0) {
                      this.$message({
                          message: '配置成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.visible = false
                              this.btnLoading = false
                              this.$emit('refreshDataList')
                          }
                      })
                  } else {
                      this.$message.error(data.data.msg)
                      this.btnLoading = false
                  }
              })
            } else {
              addObj(this.dataForm).then(data => {
                  this.btnLoading = false
                  if (data && data.data.code === 0) {
                      this.$message({
                          message: '配置成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.visible = false
                              this.btnLoading = false
                              this.$emit('refreshDataList')
                          }
                      })
                  } else {
                      this.$message.error(data.data.msg)
                      this.btnLoading = false
                  }
              })
            }
          }
        })
      }
    }
  }
</script>
