<template>
  <div class="execution">
    <basic-container>
      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm" @keyup.enter.native="getListData()">
          <el-form-item label="用户名称:">
            <el-input size="small" v-model="dataForm.tAccountname" placeholder="用户名称" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" size="small" @click="searchChange()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="showWhiteDialog"
                     size="small"
                     v-if="permissions.cac_white_add">新 增</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope" slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_white_del"
                     size="small"
                     plain
                     @click="modifyState(scope.row,scope.index)">修改状态</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗, 查看信息 -->
    <el-dialog title="添加白名单" @close="closeHandle" width="60%" :visible.sync="showDialog">
      <div>
        <basic-container>
          <el-form :model="from"  ref="from" label-width="100px">
            <el-form-item label="用户名称">
              <el-input v-model="from.tAccountname" placeholder="用户名称"></el-input>
            </el-form-item>
          </el-form>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small"  @click="saveWhite()">确认</el-button>
         <el-button type="text"  size="small"  @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { fetchList, addObj, delObj } from '@/api/cac/whitelist'
  import { tableOption } from '@/const/crud/cac/whitelist'
  import { mapGetters } from 'vuex'
  export default {
    name: 'whitelist',
    data() {
      return {
        tableData: [],
        showDialog: false,
        dataForm: {
          tAccountname: ''
        },
        from: {
          tAccountname: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      saveWhite() {
        if (this.from.tAccountname == null || this.from.tAccountname == '') {
          this.message.error("用户ID不能为空!");
          return
        } else {
          addObj(this.from).then(response => {
            if (response.data.code == 0) {
              this.$message({
                showClose: true,
                message: '添加白名单成功!',
                type: 'success'
              })
              this.showDialog = false
              this.getList(this.page, this.dataForm);
            }
          })
        }
      },
      showWhiteDialog(row, index) {
        this.from.tAccountname = ''
        this.showDialog = true;
      },
      searchChange() {
        this.getList(this.page, this.dataForm);
      },
      getList(page, tWhitelist) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, tWhitelist)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      modifyState(row, index) {
        var stateName = ''
        if (row.state === 0 || row.state === '0') {
          stateName = "失效"
        } else {
          stateName = "正常"
        }

        this.$confirm('是否确认修改用户ID为' + row.userId + "状态修改为" + stateName +"?", '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
          return delObj(row.userName)
        }).then(data => {
          this.tableData.splice(index, 1)
          this.$message({
            showClose: true,
            message: '状态变更成功!',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },
      closeHandle () {
        this.$emit('refreshChange')
      },
      closeDialog() {
        this.showDialog = false;
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
