<template>
  <el-dialog
    title="推送配置"
    width="45%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <div>
      <basic-container>
        <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="120px">
          <el-form-item size="mini" label="推送类型">
            <el-radio-group v-model="dataForm.type">
              <el-radio :label="1">极光推送</el-radio>
            </el-radio-group>
          </el-form-item>
          <template v-if="dataForm.type === 1">
            <el-form-item label="appKey">
              <el-input v-model="dataForm.appKey" placeholder="appKey"></el-input>
            </el-form-item>
            <el-form-item label="masterSecret">
              <el-input v-model="dataForm.masterSecret" placeholder="masterSecret"></el-input>
            </el-form-item>
          </template>
        </el-form>
      </basic-container>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {doconfig, getConfigById} from '@/api/cac/syspushconfig'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        dataForm: {
          id: 0,
          type: 1,
          appKey: '',
          masterSecret: ''
        },
        subData: {
            pushConfig: {
                type: 1,
                appKey: '',
                masterSecret: ''
            },
            id: 0
        },
        dataRule: {
          appKey:  [
              {required: true, message: 'appKey不能为空!', trigger: 'blur'}
          ],
          masterSecret: [
              {required: true, message: 'masterSecret不能为空!', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      crearFrom () {
        this.dataForm.id = 0
        this.dataForm.type = 1
        this.dataForm.appKey = ''
        this.dataForm.masterSecret = ''
      },
      init (id) {
        this.crearFrom()
        this.btnLoading = false

        this.visible = true
        this.dataForm.id = id
        if (this.dataForm.id != null && this.dataForm.id != '' && this.dataForm.id != undefined ) {
            getConfigById(this.dataForm.id).then(response => {
            if (response && response.data.code === 0) {
              this.dataForm.appKey = response.data.data.appKey
              this.dataForm.masterSecret = response.data.data.masterSecret
            }
          })
        }
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            this.subData.pushConfig.type = this.dataForm.type
            this.subData.pushConfig.appKey = this.dataForm.appKey
            this.subData.pushConfig.masterSecret = this.dataForm.masterSecret
            this.subData.id = this.dataForm.id
            doconfig(this.subData).then(data => {
              this.btnLoading = false
              if (data && data.data.code === 0) {
                  this.$message({
                      message: '配置成功',
                      type: 'success',
                      duration: 1500,
                      onClose: () => {
                          this.visible = false
                          this.btnLoading = false
                          this.$emit('refreshDataList')
                      }
                  })
              } else {
                  this.btnLoading = false
                  this.$message.error(data.data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
