<template>
  <el-dialog
    :title="isAdd ? '新增通道' : '编辑通道'"
    width="45%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <el-row>
            <el-col :span="12">
              <el-form-item label="渠道编码:" prop="channelId">
                <el-input size="small" v-model="dataForm.channelId"  :disabled=isChecked placeholder="渠道编码"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="配置名称:" prop="name">
                <el-input size="small" v-model="dataForm.name"  placeholder="配置名称"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="配置通道:" prop="platformId">
                <el-select v-model="dataForm.platformId" size="small" style="width: 200px">
                  <el-option v-for="item in platformOptions" :key="item.value" :label="item.label" :value="item.value"/>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="每日可用数:" prop="dayMaxCount">
                <el-input-number v-model="dataForm.dayMaxCount"  size="small"  :min="0" :max="99999999" label="每日可用数" style="width: 340px;"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="备注:" prop="description">
                <el-input type="textarea" :rows="4" size="small" v-model="dataForm.description"  placeholder="备    注"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {getObj, addObj, putObj, getPushPlatformData} from '@/api/cac/syspushconfig'
  export default {
    data () {
      return {
        visible: false,
        isAdd: true,
        btnLoading: false,
        channelId: '',
        dataForm: {
          id: 0,
          channelId: '',
          platformId: 0,
          name: '',
          dayCount: 0,
          dayMaxCount: 0,
          description: ''
        },
        platformOptions: {

        },
        dataRule: {
          channelId:  [
              {required: true, message: '渠道编码不能为空!', trigger: 'blur'}
          ],
          name: [
              {required: true, message: '配置名称不能为空!', trigger: 'blur'}
          ],
          platformId: [
              {required: true, message: '配置通道不能为空!', trigger: 'blur'}
          ],
          dayMaxCount:  [
              {required: true, message: '每日可用数不能为空!', trigger: 'blur'}
          ],
          description:  [
              {required: true, message: '备注不能为空!', trigger: 'blur'}
          ]
        }
      }
    },
    created() {
        this.getPlatformData()
    },
    methods: {
      crearFrom () {
        this.dataForm.id = 0
        this.dataForm.channelId = ''
        this.dataForm.platformId = 7
        this.dataForm.name = ''
        this.dataForm.dayCount = 0
        this.dataForm.dayMaxCount = 0
        this.dataForm.description = ''
        this.isAdd = true
      },
      getPlatformData() {
          getPushPlatformData(this.dataForm.id).then(response => {
              if (response && response.data.data !== null && response.data.data !== '') {
                  this.platformOptions = response.data.data
              }
          })
      },
      init (id) {
        this.crearFrom()
        this.btnLoading = false

        this.visible = true
        this.dataForm.id = id

        this.getPlatformData()
        if (this.dataForm.id != null && this.dataForm.id != '' && this.dataForm.id != undefined ) {
          getObj(this.dataForm.id).then(response => {
            this.isAdd = false
            if (response && response.data.code === 0) {
              this.dataForm.id = response.data.data.id
              this.dataForm.channelId = response.data.data.channelId
              this.dataForm.platformId = response.data.data.platformId
              this.dataForm.name = response.data.data.name
              this.dataForm.dayCount = response.data.data.dayCount
              this.dataForm.description = response.data.data.description
              this.dataForm.dayMaxCount = response.data.data.dayMaxCount
            }
          })
        }
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            if (this.isAdd) {
                addObj(this.dataForm).then(data => {
                  this.btnLoading = false
                  if (data && data.data.code === 0) {
                      this.$message({
                          message: '添加配置成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.visible = false
                              this.btnLoading = false
                              this.$emit('refreshDataList')
                          }
                      })
                  } else {
                      this.btnLoading = false
                      this.$message.error(data.data.msg)
                  }
              })
            } else {
              putObj(this.dataForm).then(data => {
                  this.btnLoading = false
                  if (data && data.data.code === 0) {
                      this.$message({
                          message: '修改配置成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.visible = false
                              this.btnLoading = false
                              this.$emit('refreshDataList')
                          }
                      })
                  } else {
                      this.btnLoading = false
                      this.$message.error(data.data.msg)
                  }
              })
            }
          }
        })
      }
    }
  }
</script>
