<template>
  <div class="execution">
    <basic-container>

      <el-row style="margin-left: 20px">
        <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-form-item label="渠道编码:">
            <el-input size="small" v-model="dataForm.channelId"  placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item label="配置名称:">
            <el-input size="small" v-model="dataForm.name"  placeholder="配置名称" prefix-icon="el-icon-edit" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
          </el-form-item>
        </el-form>
      </el-row>

      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">

        <template slot="menuLeft">
          <el-button type="primary"
                     @click="addConfig"
                     size="small"
                     v-if="permissions.cac_pushconfig_add">新 增</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_pushconfig_cfg"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="doConfig(scope.row)">配置</el-button>
          <el-button type="text"
                     v-if="permissions.cac_pushconfig_activate"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="doActivate(scope.row)">激活</el-button>
          <el-button type="text"
                     v-if="permissions.cac_pushconfig_edit"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="updateConfig(scope.row)">编辑</el-button>
          <el-button type="text"
                     v-if="permissions.cac_pushconfig_del"
                     icon="el-icon-delete"
                     size="small"
                     plain
                     @click="deleteConfig(scope.row)">删除</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!-- 弹窗配置-->
    <ConfigEidt  ref="configEidt" @refreshDataList="refreshChange"></ConfigEidt>

    <!-- 弹窗配置-->
    <ConfigPush  ref="configPush" @refreshDataList="refreshChange"></ConfigPush>
  </div>
</template>

<script>
  import ConfigEidt from './config-edit'
  import ConfigPush from './config-push'
  import { fetchList, activate, delObj } from '@/api/cac/syspushconfig'
  import { tableOption } from '@/const/crud/cac/syspushconfig'
  import { mapGetters } from 'vuex'
  export default {
    name: 'pushconfig',
    data() {
      return {
        tableData: [],
        page: {
            total: 0, // 总页数
            currentPage: 1, // 当前页数
            pageSize: 20 // 每页显示多少条
        },
        listQuery: {
            page: 1,
            limit: 20
        },
        dataForm: {
            channelId: '',
            name: '',
        },
        showViewDialog: false,
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
        this.getListData()
    },
    components: {
        ConfigEidt,
        ConfigPush
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      addConfig (row) {
          this.showViewDialog = true
          this.$nextTick(() => {
              this.$refs.configEidt.init(row.id)
          })
      },
      updateConfig (row) {
          this.showViewDialog = true
          this.$nextTick(() => {
              this.$refs.configEidt.init(row.id)
          })
      },
      doActivate (row) {
        this.$confirm(`确定激活当前配置?`, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
        }).then(() => {
          activate(row.id).then(data => {
              if (data.data.code == 0) {
                  this.$message({
                      message: '激活配置成功!',
                      type: 'success',
                      duration: 1500,
                      onClose: () => {
                          this.getListData()
                      }
                  })
              }
          })
        }).catch(() => {
        })
      },
      doConfig (row) {
          this.showViewDialog = true
          this.$nextTick(() => {
              this.$refs.configPush.init(row.id)
          })
      },
      deleteConfig (row) {
          this.$confirm(`确定对当前配置删除操作?`, '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
          }).then(() => {
              delObj(row.id).then(data => {
                  if (data.data.code == 0) {
                      this.$message({
                          message: '推送通道删除成功',
                          type: 'success',
                          duration: 1500,
                          onClose: () => {
                              this.getListData()
                          }
                      })
                  }
              })
          }).catch(() => {
          })
      },
      getListData() {
          this.page.currentPage = 1
          this.listQuery.page = 1
          this.getList(this.listQuery, this.dataForm);
      },
      getList(page, params) {
          this.tableLoading = true
          fetchList(Object.assign({
              current: page.page,
              size: page.limit
          }, params)).then(response => {
              this.tableData = response.data.data.records
              this.page.total = response.data.data.total
              this.tableLoading = false
          })
      },
      refreshChange() {
          this.getList(this.page)
      },
      sizeChange(val) {
          this.page.pageSize = val
          this.listQuery.limit = val
          this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
          this.page.currentPage = val
          this.listQuery.page = val
          this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
