<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @search-change="searchChange"
                 @refresh-change="refreshChange">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="nickAwardConfig"
                     size="small"
                     v-if="permissions.cac_nickAward_config">配置</el-button>
          <br /><br />
        </template>
        <template slot-scope="scope"
                  slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_nickAward_config"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="nickAwardConfig(scope.row)">编辑</el-button>
          <el-button type="text"
                     v-if="permissions.cac_nickAward_view"
                     icon="el-icon-view"
                     size="small"
                     plain
                     @click="nickAwardView(scope.row)">查看</el-button>
        </template>
      </avue-crud>
    </basic-container>
    <!-- 弹窗配置-->
    <NickAwardConfig  ref="nickAwardConfig" @refreshDataList="refreshChange"></NickAwardConfig>
    <!-- 弹窗查看-->
    <NickAwardView  ref="nickAwardView" @refreshDataList="refreshChange"></NickAwardView>
  </div>
</template>

<script>
  import NickAwardConfig from './nickAward-config'
  import NickAwardView from './nickAward-view'

  import { fetchList} from '@/api/act/nickAward'
  import { tableOption } from '@/const/crud/act/nickAward'
  import { mapGetters } from 'vuex'
  export default {
    name: 'nickAward',
    data() {
      return {
        tableData: [],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        tableLoading: false,
        showConfigDialog: false,
        showViewDialog: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    components: {
      NickAwardConfig,
      NickAwardView
    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      searchChange(form) {
        this.getList(this.page, form)
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      closeDialog () {
        this.showConfigDialog = false
        this.showViewDialog = false
      },
      nickAwardConfig (row) {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.nickAwardConfig.init(row.channelId)
        })
      },
      nickAwardView (row) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.nickAwardView.init(row.channelId)
        })
      },
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
