<template>
  <el-dialog
    title="配置修改昵称返利"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-alert
      title="奖励只用于第一次修改！"
      type="warning"
      :closable="false"
      style="margin-top: -20px; margin-bottom: 10px">
    </el-alert>

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>修改昵称返利</span>
          </div>
          <el-col :span="12">
            <el-form-item label="渠道编码:" prop="channelId">
              <el-input type="text" v-model="dataForm.channelId" size="small" placeholder="渠道编码"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="奖励金额(分):" prop="award" label-width="150px">
              <el-input-number v-model="dataForm.award" size="small" :min="1" :max="9999999999" label="奖励金额"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import { addObj, getObj} from '@/api/act/nickAward'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        queryForm: {
          channelId: '',
        },
        dataForm: {
          channelId: '',
          award: '',
        },
        subData: {
          channelId: '',
          award: ''
        },
        dataRule: {
          channelId: [
            {required: true, message: '渠道编码不能为空', trigger: 'blur'}
          ],
          award: [
            {required: true, message: '返利金额不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      crearFrom () {
        this.queryForm.channelId = ''
        this.dataForm.channelId = ''
        this.dataForm.award = ''
        this.btnLoading = false
        this.subData.channelId = ''
        this.subData.award = ''
      },
      init (channelId) {
        this.visible = true
        this.crearFrom()
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          this.dataForm.channelId = channelId
          this.queryForm.channelId = channelId
          if (this.dataForm.channelId) {
            getObj(this.queryForm).then(response => {
              if (response && response.data.code === 0) {
                this.dataForm.channelId = response.data.data.channelId
                this.dataForm.award = response.data.data.award
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.subData.award = this.dataForm.award
            this.subData.channelId = this.dataForm.channelId
            addObj(this.subData).then(data => {
              if (data.data.code == 0) {
                this.$message({
                  message: '设置昵称返利配置成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              }else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
