<template>
  <el-dialog
    title="查看每日分享配置"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" ref="dataForm" label-width="120px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置每日奖励</span>
          </div>
          <el-col :span="8">
            <el-form-item label="渠道Id:" prop="channelId">
              <el-tag type="success" style="width: 200px"> {{ dataForm.channelId}}</el-tag>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="每日奖励(分):" prop="dayAward">
              <el-tag type="warning"> {{ dataForm.dayAward}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="每日分享次数:" prop="awardDayShareCnt">
              <el-tag type="warning"> {{ dataForm.awardDayShareCnt}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>设置累计奖励</span>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataForm.dataList"
              border
              size="small"
              v-loading="dataListLoading"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="totalDay"
                header-align="center"
                align="center"
                label="累计天数">
              </el-table-column>
              <el-table-column
                prop="additionAward"
                header-align="center"
                align="center"
                label="额外奖励(分)">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>


<script>
  import {getObj} from '@/api/act/dayShare'
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        dataListLoading: false,
        tempArr: [],
        queryForm: {
          channelId: ''
        },
        dataForm: {
          dataList: [],
          channelName: '',
          channelId: '',
          dayAward: 1,
          awardDayShareCnt: 1
        }
      }
    },
    methods: {
      crearFrom () {
        this.queryForm.channelId = ''
        this.dataForm.channelId = ''
        this.dataForm.channelName = ''
        this.dataForm.dayAward = ''
        this.dataForm.awardDayShareCnt = ''
        this.dataForm.dataList = []
      },
      init (channelId) {
        this.crearFrom()
        this.$nextTick(() => {
          this.visible = true
          getObj(channelId).then(response => {
            if (response && response.data.code === 0) {
              this.dataForm.dataList = response.data.data.totalDayArr
              this.dataForm.dayAward = response.data.data.dayAward
              this.dataForm.awardDayShareCnt = response.data.data.awardDayShareCnt
              this.dataForm.channelId = response.data.data.channel
            }
          })
        })
      }
    }
  }
</script>

