<style type="text/css">
  .el-form-item {
    margin-bottom: 5px;
  }

  .avue-crud__menu {
    margin-bottom: 0px;
  }

  .el-card__body {
    padding-top: 3px;
  }

  .avue-crud__header {
    margin-bottom: 0px;
  }

  .avue-crud__box .el-card__body, .avue-crud__box .el-card__header {
    padding-top: 8px;
  }
</style>
<template>
  <div class="execution">
    <basic-container>
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="getListData()">
        <el-row style="margin-left: 10px;margin-top: 10px;">
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.channelId" placeholder="渠道编码" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.userId" placeholder="用户ID" prefix-icon="el-icon-edit" clearable
                        onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="12"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.qiHao" placeholder="期号" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.orderId" placeholder="注单号" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-select v-model="dataForm.lotCode" size="small" placeholder="彩种" clearable>
                <el-option v-for="item in lotCodes" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="margin-left: 10px">
          <el-col :span="3">
            <el-form-item>
              <el-select v-model="dataForm.status" size="small" placeholder="状态" clearable>
                <el-option key="1" value="1" label="未开奖"/>
                <el-option key="2" value="2" label="已中奖"/>
                <el-option key="3" value="3" label="未中奖"/>
                <el-option key="4" value="4" label="撤单"/>
                <el-option key="5" value="5" label="派奖回滚成功"/>
                <el-option key="6" value="6" label="回滚异常"/>
                <el-option key="7" value="7" label="开奖异常"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-input size="small" v-model="dataForm.betIp" placeholder="投注IP" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item>
              <el-date-picker v-model="dataForm.bettingTime"
                              :picker-options="pickerOptions"
                              size="small" type="datetimerange"
                              value-format="timestamp"
                              format="yyyy-MM-dd HH:mm:ss" range-separator="至" start-placeholder="开始时间" end-placeholder="截止时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="1.5">
            <el-form-item>
              <el-button type="primary" size="small" @click="getListData()" icon="el-icon-search">查询</el-button>
            </el-form-item>
          </el-col>
          <el-col :span="1.5">
            <el-form-item>
              <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
        <template slot="status"
                  slot-scope="scope">
          <el-tag v-if="scope.row.status === 1" size="small">{{scope.label}}</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="success">{{scope.label}}</el-tag>
          <el-tag v-else-if="scope.row.status === 3" size="small" type="danger">{{scope.label}}</el-tag>
        </template>
        <template slot="orderId"
                  slot-scope="scope">
          <span style="color: #ff7f50">{{scope.row.orderId}}</span>
        </template>
      </avue-crud>
    </basic-container>
  </div>
</template>

<script>
  import {queryLottery} from '@/api/betting/record'
  import {tableOption} from '@/const/crud/betting/lotteryRecord'
  import {mapGetters} from 'vuex'

  export default {
    name: 'lhboard',
    data() {
      const end = new Date()
      const start = new Date();
      start.setTime(end.getTime() - 3600 * 1000 * 24 * 7);
      return {
        tableData: [],
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])

            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }]
        },
        lotCodes: [{
          value: 'SHHK3',
          label: '上海快三'
        }, {
          value: 'JND28',
          label: '加拿大28'
        }, {
          value: 'TMLHC',
          label: '三分六合彩'
        }, {
          value: 'WFLHC',
          label: '五分六合彩'
        }, {
          value: 'SFLHC',
          label: '十分六合彩'
        }, {
          value: 'HKMHLHC',
          label: '香港马会六合彩'
        }, {
          value: 'LHC',
          label: '六合彩'
        }, {
          value: 'AMLHC',
          label: '澳门六合彩'
        }, {
          value: 'BJSC',
          label: '北京赛车'
        }, {
          value: 'XYFT',
          label: '幸运飞艇'
        }, {
          value: 'FFSC',
          label: '疯狂赛车'
        }, {
          value: 'FFSC',
          label: '疯狂赛车'
        }, {
          value: 'WFSC',
          label: '五分赛车'
        }, {
          value: 'SFFT',
          label: '极速飞艇'
        }, {
          value: 'WFFT',
          label: '五分飞艇'
        }, {
          value: 'SFSC',
          label: '极速赛车'
        }, {
          value: 'CQSSC',
          label: '重庆时时彩'
        }, {
          value: 'HNWFC',
          label: '河内五分彩'
        }, {
          value: 'HNFFC',
          label: '河内分分彩'
        }, {
          value: 'FFC',
          label: '分分彩'
        }, {
          value: 'EFC',
          label: '二分彩'
        }, {
          value: 'AMWFC',
          label: '澳门五分彩'
        }, {
          value: 'WFC',
          label: '五分彩'
        }, {
          value: 'ESFC',
          label: '二十分彩'
        }, {
          value: 'SFC',
          label: '十分彩'
        }, {
          value: 'HKWFC',
          label: '香港五分彩'
        }, {
          value: 'JSSB3',
          label: '江苏骰宝(快3)'
        }, {
          value: 'AHK3',
          label: '安徽快三'
        }, {
          value: 'FFK3',
          label: '极速快三'
        }, {
          value: 'KRK3',
          label: '韩国快三'
        }, {
          value: 'ESK3',
          label: '二十分快三'
        }, {
          value: 'HKK3',
          label: '香港快三'
        }, {
          value: 'WFK3',
          label: '幸运快三'
        }, {
          value: 'JPK3',
          label: '日本快三'
        }, {
          value: 'SFK3',
          label: '十分快三'
        }, {
          value: 'TMK3',
          label: '三分快三'
        }, {
          value: 'AMK3',
          label: '澳门快三'
        }, {
          value: 'SF28',
          label: '极速28'
        }, {
          value: 'PCEGG',
          label: 'PC蛋蛋'
        }, {
          value: 'CQXYNC',
          label: '重庆幸运农场'
        }, {
          value: 'HNKLSF',
          label: '湖南快乐十分'
        }, {
          value: 'SFKLSF',
          label: '三分快乐十分'
        }, {
          value: 'WFKLSF',
          label: '五分快乐十分'
        }, {
          value: 'GD11X5',
          label: '广东11选5'
        }, {
          value: 'JX11X5',
          label: '江西11选5'
        }, {
          value: 'WF11X5',
          label: '五分11选5'
        }, {
          value: 'SH11X5',
          label: '上海11选5'
        }, {
          value: 'FF11X5',
          label: '极速11选5'
        }, {
          value: 'SF11X5',
          label: '三分11选5'
        }, {
          value: 'GX11X5',
          label: '广西11选5'
        }, {
          value: 'WF3D',
          label: '五分3D'
        }, {
          value: 'FF3D',
          label: '极速3D'
        }, {
          value: 'FC3D',
          label: '福彩3D'
        }, {
          value: 'PL3',
          label: '排列三'
        }],
        dataForm: {
          channelId: '',
          startTime: null,
          endTime: null,
          bettingTime: [start.getTime(), end.getTime()],
          lotCode: '',
          qiHao: null,
          status: null,
          orderId: '',
          betIp: '',
          userId: null
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
      this.initTimeData()
      this.getListData()
    },
    mounted: function () {
    },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      clearForm() {
        this.dataForm.bettingTime = []
        this.dataForm.startTime = null
        this.dataForm.endTime = null
        this.dataForm.channelId = ''
        this.dataForm.lotCode = ''
        this.dataForm.status = null
        this.dataForm.qiHao = null
        this.dataForm.orderId = ''
        this.dataForm.betIp = ''
        this.dataForm.userId = null
      },
      initTimeData() {
        const end = new Date()
        const start = new Date()
        start.setTime(end.getTime() - 3600 * 1000 * 24 * 7)
        this.dataForm.bettingTime = [start.getTime(), end.getTime()]
      },
      getListData() {
        this.page.currentPage = 1
        this.listQuery.page = 1

        this.getList(this.listQuery, this.dataForm);
      },

      getList(page, queryDto) {
        this.tableLoading = true
        if (queryDto.bettingTime != null && queryDto.bettingTime.length === 2) {
          queryDto.startTime = this.dataForm.bettingTime[0]
          queryDto.endTime = this.dataForm.bettingTime[1]
        } else {
          queryDto.startTime = null
          queryDto.endTime = null
        }
        queryDto.qiHao = queryDto.qiHao ? queryDto.qiHao : null
        queryDto.status = queryDto.status ? queryDto.status : null
        queryDto.userId = queryDto.userId ? queryDto.userId : null
        queryLottery(Object.assign({
          offset: (page.page - 1) * page.limit,
          limit: page.limit
        }, queryDto)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm)
      },
      sizeChange(val) {
        this.page.pageSize = val
        this.listQuery.limit = val
        this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
        this.page.currentPage = val
        this.listQuery.page = val
        this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
