<template>
  <div class="execution">
    <basic-container>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @on-load="getList"
                 @search-change="searchChange"
                 @refresh-change="refreshChange"
                 @row-update="handleUpdate"
                 @row-save="handleSave"
                 @row-del="rowDel">
        <template slot="menuLeft">
          <el-button type="primary"
                     @click="showAddDialog"
                     size="small"
                     v-if="permissions.cac_syspayorder_add">手动上分</el-button>
          <el-button type="info"
                     @click="reducePayOrder"
                     size="small" v-if="permissions.cac_syspayorder_add">手动扣款</el-button>
        </template>
        <template slot-scope="scope" slot="menu">
          <el-button type="text"
                     v-if="permissions.cac_syspayorder_view"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="showDialog(scope.row,scope.index)">查看</el-button>
        </template>
      </avue-crud>
    </basic-container>

    <!--手动上分-->
    <el-dialog title="手动上分"
               @close="closeHandle"
               :visible.sync="addOrderDialog">
      <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="150px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="用户ID:" prop="userId">
              <el-input v-model="dataForm.userId" placeholder="用户ID"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="充值金额:" prop="payFee">
              <el-input-number v-model="dataForm.payFee" :min="1" :max="9999999999" label="支付金额(元)" style="width: 200px"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="充值类型:" prop="depositor">
              <el-select v-model="dataForm.payType" :span="12">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="打码量倍数:" prop="damaMulti">
              <el-input-number v-model="dataForm.damaMulti" :min="0" :max="9999999999" label="打码量倍数"  style="width: 200px"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="返现倍率(%):" prop="rate">
              <el-input-number v-model="dataForm.rate" :min="0" :max="99" label="返现倍率"  style="width: 200px"></el-input-number>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="充值人名称:" prop="depositor">
              <el-input v-model="dataForm.depositor" placeholder="充值人名称"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="充值账号:" prop="account">
              <el-input v-model="dataForm.account" placeholder="充值账号"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="备     注:" prop="remark">
              <el-input type="textarea" v-model="dataForm.remark"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
      <el-button @click="closeDialog()">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
    </el-dialog>

    <!-- 弹窗, 查看订单信息 -->
    <el-dialog title="订单信息"
               @close="closeHandle"
               :visible.sync="showOrderDialog">
      <div>
        <basic-container>
          <avue-form-detail :option="option" v-model="form">
          </avue-form-detail>
        </basic-container>
      </div>
      <span slot="footer" class="dialog-footer">
         <el-button type="primary"  size="small" @click="closeDialog()">关闭</el-button>
      </span>
    </el-dialog>

    <!--扣减-->
    <PayOrderReduce v-if="reduceOrderVisible" ref="payOrderReduce" @refreshDataList="searchChange"></PayOrderReduce>
  </div>
</template>

<script>
  import PayOrderReduce from './payOrder-reduce'
  import { fetchList, getObj, addObj, putObj, delObj, rechargeOrder } from '@/api/pay/syspayorder'
  import { tableOption } from '@/const/crud/pay/syspayorder'
  import  detailoption  from '@/const/crud/pay/payorderdetailoption'
  import { mapGetters } from 'vuex'
  export default {
    name: 'syspayorder',
    data() {
      return {
        tableData: [],
        option: detailoption,
        showOrderDialog: false,
        addOrderDialog: false,
        reduceOrderVisible: false,
        form:{
          //ID
          id: 0,
          //订单号
          orderNo: 0,
          //用户ID
          userId: 0,
          //充值金额
          payFee: 0,
          //手续费
          poundage: 0,
          //渠道ID
          channelId: 0,
          //状态
          status: 0,
          //支付方式编码
          payId: 0,
          //支付方式名称
          payName: '',
          //姓名
          depositor: '',
          //用户账号
          account: '',
          //处理方式
          handlerType: 0,
          //创建时间
          createTime: '',
          //创建人
          createBy: '',
          //变更时间
          modifyTime: '',
          //变更人
          modifyBy: '处理人',
          //备注
          note: ''
        },
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        dataForm: {
          id: 0,
          userId: '',
          payFee: 0,
          damaMulti: '',
          rate: '',
          depositor: '',
          account: '',
          remark: '',
          payType: 4
        },
        options: [{
          value: 17,
          label: '银行卡转账'
        }, {
          value: 8,
          label: '支付宝转账'
        }, {
          value: 4,
          label: '微信转账'
        }, {
          value: 11,
          label: 'QQ转账'
        }, {
          value: 18,
          label: '手动赠送'
        }],
        dataRule: {
          userId: [
            { required: true, message: '用户编码不能为空', trigger: 'blur' }
          ],
          payFee: [
            { required: true, message: '支付金额不能为空', trigger: 'blur' }
          ],
          depositor: [
            { required: true, message: '充值人名称为空', trigger: 'blur' }
          ],
          account: [
            { required: true, message: '充值账号不能为空', trigger: 'blur' }
          ],
          payType: [
            { required: true, message: '充值类型不能为空', trigger: 'blur' }
          ],
          damaMulti: [
            { required: true, message: '打码量不能为空', trigger: 'blur' }
          ],
          rate: [
            { required: true, message: '充值返利倍率不能为空', trigger: 'blur' }
          ]
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    components: {
      PayOrderReduce
    },
    methods: {
      reducePayOrder () {
        this.reduceOrderVisible = true
        this.$nextTick(() => {
          this.$refs.payOrderReduce.init()
        })
      },
      dataFormSubmit() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.doRecharge(this.dataForm);
          }
        })
      },
      doRecharge(rechargeDto) {
        rechargeOrder(rechargeDto).then(response => {
          if (response && response.data.code === 0) {
            this.$message({
              showClose: true,
              message: '上分成功',
              type: 'success'
            })
            this.addOrderDialog = false
            this.getList(this.page)
          } else {

          }
        })
      },
      showAddDialog() {
        this.addOrderDialog = true
        this.$refs['dataForm'].resetFields()
      },
      //弹出dialog
      showDialog(row, index) {
        this.clearForm();
        this.form.id = row.id;
        this.form.orderNo =  row.orderNo;
        this.form.userId =  row.userId;

        this.form.payFee = row.payFee;
        this.form.poundage = row.poundage;
        this.form.channelId = row.channelId;

        this.form.status = row.status;
        this.form.payId = row.payId;
        this.form.payName = row.payName;

        this.form.depositor = row.depositor;
        this.form.account = row.account;
        this.form.handlerType = row.handlerType;

        this.form.createTime = row.createTime;
        this.form.createBy =  row.createBy;
        this.form.modifyTime = row.modifyTime;

        this.form.modifyBy = row.modifyBy;
        this.form.note = row.note;
        this.showOrderDialog = true;
      },
      //清空form
      clearForm(){
        this.form.id = 0;
        this.form.orderNo = 0;
        this.form.userId = 0;

        this.form.payFee = 0;
        this.form.poundage = 0;
        this.form.channelId = 0;

        this.form.status = 0;
        this.form.payId = 0;
        this.form.payName = '';

        this.form.depositor = '';
        this.form.account = '';
        this.form.handlerType = '';

        this.form.createTime = '';
        this.form.createBy = '';
        this.form.modifyTime = '';

        this.form.modifyBy = '';
        this.form.note = '';
      },
      //关闭dialog
      closeDialog() {
        this.showOrderDialog = false;
        this.addOrderDialog = false;
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.currentPage,
          size: page.pageSize
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * @title 打开新增窗口
       * @detail 调用crud的handleadd方法即可
       *
       **/
      handleAdd: function() {
        this.$refs.crud.rowAdd()
      },
      handleEdit(row, index) {
        this.$refs.crud.rowEdit(row, index)
      },
      handleDel(row, index) {
        this.$refs.crud.rowDel(row, index)
      },
      rowDel: function(row, index) {
        var _this = this
        this.$confirm('是否确认删除ID为' + row.id, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
            return delObj(row.id)
          }).then(data => {
          _this.tableData.splice(index, 1)
          _this.$message({
            showClose: true,
            message: '删除成功',
            type: 'success'
          })
          this.getList(this.page)
        }).catch(function(err) { })
      },
      /**
       * @title 数据更新
       * @param row 为当前的数据
       * @param index 为当前更新数据的行数
       * @param done 为表单关闭函数
       *
       **/
      handleUpdate: function(row, index, done) {
        putObj(row).then(data => {
          this.tableData.splice(index, 1, Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '修改成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      /**
       * @title 数据添加
       * @param row 为当前的数据
       * @param done 为表单关闭函数
       *
       **/
      handleSave: function(row, done) {
        addObj(row).then(data => {
          this.tableData.push(Object.assign({}, row))
          this.$message({
            showClose: true,
            message: '添加成功',
            type: 'success'
          })
          done()
          this.getList(this.page)
        })
      },
      closeHandle () {
        this.$emit('refreshChange')
      },
      /**
       * 搜索回调
       */
      searchChange(form) {
        this.getList(this.page, form)
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
