<template>
  <div class="execution">
    <basic-container>
       <el-card>
         <el-form :inline="true" :model="dataForm"  @keyup.enter.native="getListData()">
          <el-row style="margin-left: 20px">
            <el-col :span="6">
              <el-form-item label="用户ID:">
                <el-input size="small" v-model="dataForm.userId"  placeholder="用户ID" prefix-icon="el-icon-edit" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="开始时间:">
                <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                                value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="开始时间">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="结束时间:">
                <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                                value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="结束时间">
                </el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="6">
            <el-form-item>
              <el-button  type="primary" size="small" @click="getListData()">查询</el-button>
            </el-form-item>
            </el-col>
        </el-row>
           <el-row style="margin-left: 20px">
             <el-col :span="6">
               <el-form-item label="订单号:">
                 <el-input size="small" v-model="dataForm.orderId"  placeholder="订单号" prefix-icon="el-icon-edit" clearable></el-input>
               </el-form-item>
             </el-col>
             <el-col :span="6">
               <el-form-item label="下注期数:">
                 <el-input size="small" v-model="dataForm.issueId"  placeholder="期数" prefix-icon="el-icon-edit" clearable></el-input>
               </el-form-item>
             </el-col>
             <el-col :span="6">
               <el-form-item label="游戏名称:">
                 <el-input size="small" v-model="dataForm.gameId"  placeholder="游戏名称" prefix-icon="el-icon-edit" clearable></el-input>
               </el-form-item>
             </el-col>
           </el-row>
         </el-form>
       </el-card>
      <avue-crud ref="crud"
                 :page="page"
                 :data="tableData"
                 :table-loading="tableLoading"
                 :option="tableOption"
                 @refresh-change="refreshChange"
                 @size-change="sizeChange"
                 @current-change="currentChange">
      </avue-crud>
    </basic-container>
  </div>
</template>

<script>
  import { fetchList, getObj, addObj, putObj, delObj } from '@/api/platform/bgbetrecord'
  import { tableOption } from '@/const/crud/platform/bgbetrecord'
  import { mapGetters } from 'vuex'
  export default {
    name: 'bgbetrecord',
    data() {
      return {
        pickerOptions: {
            disabledDate: time => {
                return (
                    time < new Date(this.cooperationBegin + ' 00:00:00') ||
                    time > new Date(this.cooperationEnd + ' 00:00:00')
                )
            }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        tableData: [],
        page: {
          total: 0, // 总页数
          currentPage: 1, // 当前页数
          pageSize: 20 // 每页显示多少条
        },
        dataForm: {
          startTime: '',
          endTime: '',
          userId: '',
          orderId: '',
          issueId: '',
          gameId: '',
          gameName: ''
        },
        listQuery: {
          page: 1,
          limit: 20
        },
        tableLoading: false,
        tableOption: tableOption
      }
    },
    created() {
        this.initTimeData()
        this.getListData()
    },
    mounted: function() { },
    computed: {
      ...mapGetters(['permissions'])
    },
    methods: {
      initTimeData () {
          this.dataForm.startTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 00:00:00'
          this.dataForm.endTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 23:59:59'
      },
      getListData() {
        if (this.dataForm.startTime === '' || this.dataForm.startTime === null || this.dataForm.endTime === '' || this.dataForm.endTime === null) {
            this.$message.error('查询起止时间不能为空!')
            return
        }
        this.page.currentPage = 1
        this.listQuery.page = 1
        this.getList(this.listQuery, this.dataForm);
      },
      getList(page, params) {
        this.tableLoading = true
        fetchList(Object.assign({
          current: page.page,
          size: page.limit
        }, params)).then(response => {
          this.tableData = response.data.data.records
          this.page.total = response.data.data.total
          this.tableLoading = false
        })
      },
      /**
       * 刷新回调
       */
      refreshChange() {
        this.getList(this.page)
      },
      sizeChange(val) {
          this.page.pageSize = val
          this.listQuery.limit = val
          this.getList(this.listQuery, this.dataForm);
      },
      currentChange(val) {
          this.page.currentPage = val
          this.listQuery.page = val
          this.getList(this.listQuery, this.dataForm);
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
